@import '../../../styles/variable.scss';

.article {
    .table {
        overflow: auto;
    }

    .table::-webkit-scrollbar {
        width: gutter-sp(5);
        height: gutter-sp(5);
    }

    .table::-webkit-scrollbar-thumb {
        border-radius: gutter-sp(6);
        background-color: $lite-white;
    }

    .table::-webkit-scrollbar-track {
        background: $white-lite;
    }

    .color {
        color: $black;
    }

    .iconclose {
        font-size: gutter-sp(30);
    }

    .time-input::-webkit-calendar-picker-indicator {
        display: none;
    }

    &__search {
        position: relative;

        &__search-input {
            border-radius: gutter-sp(4);
            border: gutter-sp(1) solid $lite-white;
            background-color: $gray;
            min-height: gutter-sp(30);
            font-size: gutter-sp(12);
            width: gutter-per(100);
        }
        &__search-input::placeholder{
            color: $searchPholder;
            font-weight: 300;
        }

        &__search-input:focus-within {
            border-radius: gutter-sp(4);
            border-color: $secondary-color;
            box-shadow: $value-null $value-null gutter-sp(5) $btn-shadow;
            background-color: $gray;
            min-height: gutter-sp(30);
            font-size: gutter-sp(12);
            width: gutter-per(100);
        }

        input:focus,
        textarea:focus,
        select:focus {
            outline: none;
        }

        &__search-icon {
            position: absolute;
            left: gutter-sp(6);
            top: gutter-sp(8);
            color: $searchPholder;
        }
    }

    .tableArticle .mat-mdc-table {
        width: gutter-per(100);
        height: gutter-sp(200);
        overflow: auto;
        box-shadow: none;
    }

    .tableArticle .quantity {

        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: gutter-sp(0);
        }

        border: gutter-sp(1) solid $black;
        height: gutter-sp(26);
        border-radius: gutter-sp(4);
        color: $lite-black;
    }

    .mat-mdc-cell {
        text-wrap: nowrap;
        border-bottom-color: $white;
    }

    .mdc-data-table__row:last-child .mat-mdc-cell {
        border-bottom: gutter-sp(1) solid $white;
    }

    &__save-btn {
        background-color: $secondary-color;
        color: $lite-white;
    }

    .custom-search {
        border: gutter-sp(2) solid $admin-search;
        overflow: hidden;
        background-color: transparent;
    }

}