@import '../../../styles/variable.scss';

.article {

    &__search {
        position: relative;

        &__search-input {
            border-radius: gutter-sp(4);
            border: gutter-sp(1) solid $lite-white;
            background-color: $gray;
            min-height:  gutter-sp(30);
            width: $gutter-100per;
        }

        input:focus,
        textarea:focus,
        select:focus {
            outline: none;
        }

        &__search-icon {
            position: absolute;
            right: gutter-sp(6);
            top: gutter-sp(8);
        }
    }

    .mat-mdc-table {
        width: $gutter-100per;
        height: gutter-sp(200);
        overflow: auto;
        box-shadow: none;


    }

    .mat-mdc-cell {
        border-bottom-color: white;
    }

    &__save-btn {
        background-color: $secondary-color;
        color: $lite-white;
    }

}