@import '../../../styles/variable.scss';

.article {

    &__search {
        position: relative;

        &__search-input {
            border-radius: gutter-sp(4);
            border: gutter-sp(1) solid $lite-white;
            background-color: $gray;
            min-height:  gutter-sp(30);
            width: gutter-per(100);
        }

        input:focus,
        textarea:focus,
        select:focus {
            outline: none;
        }

        &__search-icon {
            position: absolute;
            right: gutter-sp(6);
            top: gutter-sp(8);
        }
    }

    .mat-mdc-table {
        width: gutter-per(100);
        height: gutter-sp(200);
        box-shadow: none;
    }
    .mat-mdc-header-cell{
        font-family: "poppins", sans-serif;
    }

    .mat-mdc-cell {
        border-bottom-color: white;
        font-family: "poppins", sans-serif;
        text-wrap: nowrap;
    }

    &__save-btn {
        background-color: $secondary-color;
        color: $lite-white;
    }

}