<div class="article p-24">
    <div class="article__header d-flex flex-column justify-content-between align-items-top lh-20">
        <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex flex-column">
                <p class="fs-25 fw-500 my-2">Add Articles</p>
            </div>
            <div (click)="close()" class="cursor" role="button">
                <img src="../../../../assets/images/halls/close.svg" alt="">
            </div>
        </div>
        <div class="d-flex flex-column flex-md-row mb-2">
            <p class="fs-12 me-0 me-md-4 mb-0"> Selected: 12 </p>
            <span class="fs-12">Total Price: € 1400.00</span>
        </div>
        <div class="article__search">
            <input class="article__search__search-input pl-30" autocomplete="off" placeholder="search for basic..." />
            <mat-icon class="article__search__search-icon w-20 h-20 fs-19" role="button" (click)="doSomething()"
                fontIcon="search"></mat-icon>
        </div>
    </div>
    <div class="mt-20 mb-20 table h-300 h-lg-400 h-xl-500">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 tableArticle">
            <!-- Checkbox Column -->
            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                </th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                    </mat-checkbox>
                </td>
            </ng-container>

            <!-- Item Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Item Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <!-- Price Column -->
            <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef> Price </th>
                <td mat-cell *matCellDef="let element"> {{element.price}} </td>
            </ng-container>

            <!-- Quantity Column -->
            <ng-container matColumnDef="qty">
                <th mat-header-cell *matHeaderCellDef class="col-6 col-md-2 w-70"> Quantity </th>
                <td mat-cell *matCellDef="let element">
                    <input type="number" [value]="element.qty" (input)="updateQty(element, $event)"
                        class="text-center col-6 quantity">
                </td>
            </ng-container>
            <!-- time -->
            <ng-container matColumnDef="time">
                <th mat-header-cell *matHeaderCellDef class="col-6 col-md-2 w-70"> Time </th>
                <td mat-cell *matCellDef="let element">
                     <input type="time" [value]="element.time" (input)="updateQty(element, $event)"
                        class="text-center col-8 time-input lh-1 py-1 quantity"> 
                    </td>
            </ng-container>

            <!-- Total Column -->
            <ng-container matColumnDef="total">
                <th mat-header-cell *matHeaderCellDef> Total </th>
                <td mat-cell *matCellDef="let element">{{element.price * element.qty}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
        </table>
    </div>
    <div class=" buttonSave mt-10 mr-8 d-flex justify-content-end align-item-center ">
        <button mat-raised-button color="primary" class="p-2 px-4 border rounded-pill article__save-btn"
            (click)="onSave()">Save</button>
    </div>
</div>