<div class="container text-center my-3">
  <div class="d-flex align-items-center justify-content-center py-5">
    <button class="btnmain" mat-icon-button (click)="changeMonth(-1)">
      <mat-icon class="btn_chevron">chevron_left</mat-icon>
    </button>
    <h3>{{ currentMonth }} {{ currentYear }}</h3>
    <button class="btnmain" mat-icon-button (click)="changeMonth(1)">
      <mat-icon class="btn_chevron">chevron_right</mat-icon>
    </button>
  </div>
  <div class="row mx-auto my-auto">
    <div id="myCarousel" class="carousel slide w-100" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <div class="calendar-grid">
          <button class="btnmain" mat-icon-button (click)="prevPage()"  [disabled]="currentPage === 0">
            <mat-icon class="btn_chevron">chevron_left</mat-icon>
          </button>
          @for(day of paginatedDays; track $index){

          <div class="calendar-day" [class.disabled]="!day" (click)="day && selectDate(day)">

            @if(day){
            <div class="d-flex row">
              <div class="month">{{currentMonth}}</div>
              <div class="day">{{ day }}</div>
            </div>

            }
          </div>
          }
          <button class="btnmain" mat-icon-button (click)="nextPage()" [disabled]="isLastPage()">
            <mat-icon  class="btn_chevron">chevron_right</mat-icon>
          </button>
        </div>

        @if(selectedDate){
        <div class="selected-date">
          <h4>You selected: {{ selectedDate }}</h4>
        </div>
        }
      </div>
    </div>
  </div>
</div>