@import '../../../styles/variable.scss';

.calender {
  overflow: hidden;

  .days-grid {
    width: gutter-per(100);
  }

  .calendar-day.disabled {
    display: none;
    background-color: $footer-text-color;
    cursor: not-allowed;
  }

  .day {
    font-size: gutter-sp(20);
    font-weight: 700;
  }

  .btn_chevron {
    display: flex;
    background: $chevron-background;
    border-radius: gutter-sp(14);
    height: gutter-sp(30);
    width: gutter-sp(30);
    align-items: center;
    justify-content: center;
  }

  .rightchevron {
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
  }

  .rightchevron:hover {
    filter: drop-shadow(gutter-sp(2) gutter-sp(2) gutter-sp(5) $cal-view-title-clr);
  }

  .gobackicon {
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
  }

  .gobackicon:hover {
    filter: drop-shadow(gutter-sp(2) gutter-sp(2) gutter-sp(5) $cal-view-title-clr);
  }

  .btnmain {
    border: none;
    background: none;
  }

  .calendar-day {
    padding: gutter-sp(1);
    background-color: $calender-day-background;
    border-radius: gutter-sp(5);
    cursor: pointer;
    text-align: center;
    padding: gutter-sp(1) gutter-sp(5);
  }

  .calendar-day:hover {
    background-color: $editbtn;
    color: $white;
  }

  .calendar-grid {
    overflow: scroll;
    scrollbar-width: none;
    max-width: gutter-per(100);
  }
}