@import '../../../styles/variable.scss';

.calender {

  .days-grid {
    max-width: gutter-per(100);
  }

  .calendar-day.disabled {
    display: none;
    background-color: $footer-text-color;
    cursor: not-allowed;
  }

  .day {
    font-size: gutter-sp(20);
    font-weight: 700;
  }

  .btn_chevron {
    display: flex;
    background: $chevron-background;
    border-radius: gutter-sp(14);
    height: gutter-sp(30);
    width: gutter-sp(30);
    align-items: center;
    justify-content: center;
  }

  .btnmain {
    border: none;
    background: none
  }

  .calendar-day {
    padding: gutter-sp(1);
    background-color: $calender-day-background;
    border-radius: gutter-sp(5);
    cursor: pointer;
    text-align: center;
    padding: gutter-sp(1) gutter-sp(5);
  }

  .calendar-day:hover {
    background-color: $editbtn;
    color: $white;
  }

  @media screen and (max-width: 760px) {
    .calendar-grid {
      overflow: auto;
      max-width: gutter-per(100);
      padding: gutter-sp(10);
    }
    .calendar-day{
    padding: gutter-sp(0) gutter-sp(8);
    }
  }

}