//colors
$primary-color: #F0961B;
$secondary-color: #a62784; 
$gray: #F0F0F3;
$border-gray:#e1e1e1;
$white-smoke: #F4F4F4;
$light-yellow: #DA7D00;
$lite-white: #f9fafa;
$ash-white: #ebebeb;
$menucard-white: #EAE9EA;
$font-ash: #595357;
$family-yellow: #e78501;
$cancel-color-pink: #edd4e6;
$quick-silver: #a1a1a1;
$light-silver: #D9D9D9;
$border-silver: #bfbfbf;
$green-select: #1F8730;
$priceColor: rgba(243, 148, 19, 1);
$fontdull: rgba(160, 160, 160, 1);
$adresscolor: rgba(63, 134, 8, 1);
$ratingBackground: rgba(251, 188, 5, 1);
$back-btn-color-overview: #EDE4F6;
$priceBackGrnd: rgba(253, 241, 224, 1);
$booknow-pink: rgba(144, 27, 183, 1);
$back-btn-color-overview: #EDE4F6;
$close-btn: #FF5656;
$livebtn-clr: #FC1024;
$black-overlay: rgba(0, 0, 0, 0.9);
$light-overlay: rgba(9, 9, 9, 0.1);
$text-gradient-clr1: #AD298A;
$text-gradient-clr2: #F17DD9;
$rev-gradient-clr1: #8F1CB8;
$rev-gradient-clr2: #C82992;
$input-border:#C7C7C7;
$black: #000000;
$shadow-black: #00000033;
$lite-black: #1e293b;
$white: #ffffff;
$host-security-clr: #de1162;
$footer-black: #29343D;
$footer-logo-background: #222D36; 
$footer-text-color: #bec2c4;
$footer-email-border: #B8BFCA;
$footer-border-line: #5a6364;
$tickets-tile-clr: #901BB7;
$tickets-border-clr: #CBCBCB;
$tickets-text-clr: #666666;
$add-remove-btn-clr: #eeedf2;
$chat-overlay: #0000004d;
$chat-text-clr:#081A51;
$chat-input-background:#edf8ff;
$host-border-clr: #D1D1D1;
$edit-btn-gradient-clr1: #901BB7;
$edit-btn-gradient-clr2: #C62892;
$guest-background-clr: #F1F0F0;
$cancelbtn: #78736d;
$editbtn: #f18b00;
$promotionshadow:#c38f48;
$viewdetailbtn: #a62784;
$tableCellColor: #534D59;
$tabHeadercolor: #F6F5F5;
$business-gradient-clr1:rgba(23, 3, 38, 0.83);
$bg-world-btn: #261b0a;
$business-subtitle-clr: #FFAF43;
$font-clr: #383838;
$calender-day-background: #EDEDEE;
$chevron-background: #EDE4F7;
$font-dull: #534D59;
$font-lite: #716e6e;
$calenderDate: #1b1616;
$event-input-border-clr: #CACACA;
$event-radio-border-clr: #49454F;
$event-acc-btn-clr: #F0961BC7;
$time-part-line-clr: #DCE3E7;
$time-part-bg-clr: #ECF6FB;
$form-blue:#124DBD;
$form-focus:#86b7fe;
$notificationColor: #003861;
$notifyBadge: #00BF86;
$newBtncolor: #4AAF91;
$notifyTimeColor: #5A6474;
$notifyNewColor: #4AAF91;
$notufyNewBg: #EDF7F4;
$notifyPendingColor: #E39A37;
$notifyPendingBg: rgba(255, 173.43, 76.50, 0.18);
$notifyclose: #809CB0;
$desigcolor: #383A3B;
$cal-bg: #2B2B2B;
$cal-current-date-bg: #DAEF84;
$cal-avilable-event-clr: #20CA9A;
$cal-event-loc-clr: #E345B9;
$cal-view-title-clr: #003861;
$select-bg: #F3F3F3;
$cal-view-border-clr: #E8E8E8;
$faq-border:#ddd;
$custom-input-border-clr:#dee2e6;
$success-progress-bar-clr: #3F8608;
$familyvideo-shadow:#f1f4d5;
$corporatevideo-shadow:#a15b8e;


//planner

$searchPholder: #9AA5B5;
$cancelcolor: #E42E2E;
$dialogfontcolor: #272727;
$dialogBG1: #676767;
$dialogBG2: #C8B0AA;

$view-link: #2e70d4;
$checkin: #00a2a2;
$checkout: #f24822;
$payment-bg: #f7f9fc;
$amount-paid: #406a89;

$dialogue-backclr:rgba(0, 0, 0, 0.66);
$dialogue-lightclr:rgba(247, 247, 247, 0.87);
$dialogue-box-shadow:rgba(0, 0, 0, 0.25);
$dialogue-border:#e7e7e7;
$dialogue-success:#45A970;
$dialogue-contenthighlight:#cc750f;
$dialogue-heading:#272727;
$btn-yes-grdleft:#ea0cae;
$btn-no-grdright:#c8b0aa;
$btn-no-grdleft:#676767;
//planner

$shape-bg: #f0f6fb;
$cancel-btn-border: #E42E2E;
$confirm-text-clr: #008000;
$selected-border-clr: #1F8730;
$calenderhover: #F0961B;
$drop-down-icon-clr:#999AA5;
$headerUser: #333;
$rightPannelbg: #F3F3F3;
$rightpannelBorder: #E8E8E8;
$dropdowncount: #a0bdd3;
$checkboxBorder: #D9D9D9;
$hallsListFont: #7a7178;
$rolecolor: #a5a8ae;
$active-list-bg-clr: #F5F5F5;


@function gutter-sp($key) {
  @return #{$key}px;
}
@function gutter-vw($key) {
  @return #{$key}vw;
}
@function gutter-vh($key) {
  @return #{$key}vh;
}
@function gutter-rem($key) {
  @return #{$key}rem; 
}
@function gutter-per($key) {
  @return $key * 1%; 
}

//gutters
$gutter-0sp: 0px;
$gutter-1sp: 1px;
$checkBox-color: rgba(0, 162, 162, 1);

//gutters
$gutter-2sp: 2px;
$gutter-4sp: 4px;
$gutter-6sp: 6px;
$gutter-8sp: 8px;
$gutter-10sp: 10px;
$gutter-12sp: 12px;
$gutter-14sp: 14px;
$gutter-16sp: 16px;
$gutter-18sp: 18px;
$gutter-20sp: 20px;
$gutter-22sp: 22px;
$gutter-26sp: 26px;
$gutter-32sp: 32px;
$gutter-42sp: 42px;
$gutter-80sp: 80px;
$gutter-90sp: 90px;
$gutter-100sp: 100px;
$gutter-344sp: 344px;
$gutter-400sp: 400px;
$gutter-464sp: 464px;

//gutter-percent
$gutter-0per: 0%;
$gutter-10per: 10%;
$gutter-30per: 30%;
$gutter-60per: 60%;
$gutter-54per: 54%;
$gutter-48per: 48%;
$gutter-50per: 50%;
$gutter-40per: 40%;
$gutter-70per: 70%;
$gutter-100per: 100%;

//gutter-vh
$gutter-100vh: 100vh;
$gutter-70vh: 70vh;
//gutter-vw
$gutter-0vw: 0vw;
$gutter-2vw: 2vw;
$gutter-4vw: 4vw;
$gutter-5vw: 5vw;
$gutter-6vw: 6vw;
$gutter-8vw: 8vw;

//gutter-rem
$gutter-0rem: 0rem;
$gutter-4rem: 4rem;
$gutter-3rem: 3rem;
$gutter-6rem: 6rem;
$gutter-8rem: 8rem;
$gutter-10rem: 10rem;
$gutter-22rem: 22rem;


$value-null: 0;


//opacity
$opacity-halfless:0.5;

//linear gradient
$gradient-momentbg: linear-gradient(
  to bottom,
  rgba(173, 41, 138, 0.5),
  rgba(101, 47, 76, 0.5) 25%,
  rgba(251, 188, 5, 0.5) 100%
);
$gradient-family: linear-gradient(to top, #eef06f, #ffbe00);
$gradient-corporate: linear-gradient(to top, #fa9ee1, #d229a6bd);

//gutter-percent
$gutter-50per: 50%;
$gutter-70per: 70%;
$gutter-100per: 100%;
