<div class="about-business-event">
    <p class="title">Tell us about your event?</p>
    <form action="">
        <div class="mb-3">
            <label for="name">Event Name</label>
            <input type="text" class="form-control" id="name" placeholder="Eg: All Hands Town-Hall Meeting">
        </div>
        <div>
            <label for="contactPerson">Organizer Contact Person</label>
            <div class="row g-4">
                <div class="col-12 col-md-6">
                    <input type="text" class="form-control" id="contactPerson" placeholder="Name">
                </div>
                <div class="col-12 col-md-6">
                    <input type="number" class="form-control" id="contactPerson" placeholder="Phone Number">
                </div>
            </div>
        </div>
        <div>
            <label for="internalEmployee">Internal Employee</label>
            <div class="row g-4">
                <div class="col-12 col-md-6">
                    <input type="text" placeholder="Name">
                </div>
                <div class="col-12 col-md-6">
                    <input type="number" placeholder="Phone Number">
                </div>
            </div>
        </div>
        <div id="relation">
            <label for="relation">Relation</label>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="friend">
                <label class="form-check-label" for="inlineRadio1">Friend</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="eCustomer">
                <label class="form-check-label" for="inlineRadio2">Existing Customer</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="nCustomer">
                <label class="form-check-label" for="inlineRadio3">New Customer</label>
            </div>
        </div>
    </form>
</div>