@import "../../../styles/variable.scss";

.about-business-event {
    .custom_label,
    .custom_radio,
    .custom_radio_label {
        opacity: gutter-per(75);
    }

    .custom_input:focus,
    .custom_radio:focus {
        border: gutter-sp(1) solid $event-input-border-clr;
        box-shadow: none;
    }

    .custom_input {
        border: gutter-sp(1) solid $event-input-border-clr;
        box-shadow: none;
        font-size: gutter-sp(14);
        height: gutter-sp(40);
    }

    .custom_radio {
        border: gutter-sp(1) solid $event-input-border-clr;
        box-shadow: none;
        font-size: gutter-sp(14);
    }

    .custom_input::placeholder {
        opacity: gutter-per(45);
        font-size: gutter-sp(12);
        font-weight: 500;
    }

    .custom_radio:checked{
        background-color: $font-clr;
    }
}