<div class="about-business-event mb-300 mb-lg-200">
    <p class="title text-center fs-24 fs-lg-30 fs-xl-32 fs-xxl-34 fw-medium pb-20">Tell us about your event?</p>
    <form class="row w-100">
        <div class="col-10 col-lg-5 m-auto">
            <div class="mb-4">
                <label for="name" class="custom_label fs-xl-18 mb-1">Event Name</label>
                <input type="text" class="form-control custom_input" id="name"
                    placeholder="Eg: All Hands Town-Hall Meeting">
            </div>
            <div class="mb-4">
                <label for="contactPerson" class="custom_label fs-xl-18 mb-1">Organizer Contact Person</label>
                <div class="row g-4">
                    <div class="col-12 col-md-6">
                        <input type="text" class="form-control custom_input" id="contactPerson" placeholder="Name">
                    </div>
                    <div class="col-12 col-md-6">
                        <input type="number" class="form-control custom_input" id="contactPerson"
                            placeholder="Phone Number">
                    </div>
                </div>
            </div>
            <div class="mb-4">
                <label for="internalEmployee" class="custom_label fs-xl-18 mb-1">Internal Employee</label>
                <div class="row g-4">
                    <div class="col-12 col-md-6">
                        <input type="text" class="form-control custom_input" id="internalEmployee" placeholder="Name">
                    </div>
                    <div class="col-12 col-md-6">
                        <input type="number" class="form-control custom_input" id="internalEmployee"
                            placeholder="Phone Number">
                    </div>
                </div>
            </div>
            <div id="relation">
                <label for="relation" class="custom_label fs-xl-18 mb-1">Relation</label>
                <div class="mb-4 d-flex flex-column flex-md-row flex-lg-column flex-xl-row">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input custom_radio" type="radio" name="inlineRadioOptions"
                            id="inlineRadio1" value="friend">
                        <label class="form-check-label custom_radio_label fs-xl-18" for="inlineRadio1">Friend</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input custom_radio" type="radio" name="inlineRadioOptions"
                            id="inlineRadio2" value="eCustomer">
                        <label class="form-check-label custom_radio_label fs-xl-18" for="inlineRadio2">Existing Customer</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input custom_radio" type="radio" name="inlineRadioOptions"
                            id="inlineRadio3" value="nCustomer">
                        <label class="form-check-label custom_radio_label fs-xl-18" for="inlineRadio3">New Customer</label>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>