@import "../../../styles/variable.scss";

.about-business-event {

    .custom_label,
    .custom_radio,
    .custom_radio_label {
        opacity: gutter-per(75);
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type="number"] {
        -moz-appearance: textfield;
    }

    .custom_input:focus,
    .custom_radio:focus {
        border: gutter-sp(1) solid $event-input-border-clr;
        box-shadow: none;
    }

    .custom_input {
        border: gutter-sp(1) solid $event-input-border-clr;
        box-shadow: none;
        font-size: gutter-sp(14);
        height: gutter-sp(50);
        border-radius: gutter-sp(6);
    }

    .custom_radio {
        border: gutter-sp(2) solid $event-radio-border-clr;
        box-shadow: none;
        opacity: gutter-per(100);
    }

    .custom_input::placeholder {
        opacity: gutter-per(45);
        font-size: gutter-sp(14);
        font-weight: 500;
    }

    .custom_radio:checked {
        background-color: $font-clr;
    }
}