<div class="about-business-event mb-300 mb-lg-200">
    <p class="title text-center fs-24 fs-lg-30 fs-xl-32 fs-xxl-54 fw-medium pb-20">Tell us about your event?</p>
    <form class="row w-100">
        <div class="col-10 col-lg-5 m-auto">
            <div class="mb-4">
                <label for="name" class="custom_label fs-xl-18 fs-xxl-24 mb-1">Event Name</label>
                <input type="text" class="form-control custom_input fs-14 fs-xxl-20 h-xxl-80" id="name"
                    placeholder="Eg: All Hands Town-Hall Meeting" autocomplete="off">
            </div>
            <div class="mb-4">
                <label for="contactPerson" class="custom_label fs-xl-18 fs-xxl-24 mb-1">Organizer Contact Person</label>
                <div class="row g-4">
                    <div class="col-12 col-md-6">
                        <input type="text" class="form-control custom_input fs-14 fs-xxl-20 h-xxl-80" id="contactPerson" placeholder="Name" autocomplete="off">
                    </div>
                    <div class="col-12 col-md-6">
                        <input type="number" class="form-control custom_input fs-14 fs-xxl-20 h-xxl-80" id="contactPerson"
                            placeholder="Phone Number" autocomplete="off">
                    </div>
                </div>
            </div>
            <div class="mb-4">
                <label for="internalEmployee" class="custom_label fs-xl-18 fs-xxl-24 mb-1">Internal Employee</label>
                <div class="row g-4">
                    <div class="col-12 col-md-6">
                        <input type="text" class="form-control custom_input fs-14 fs-xxl-20 h-xxl-80" id="internalEmployee" placeholder="Name" autocomplete="off">
                    </div>
                    <div class="col-12 col-md-6">
                        <input type="number" class="form-control custom_input fs-14 fs-xxl-20 h-xxl-80" id="internalEmployee"
                            placeholder="Phone Number" autocomplete="off"   >
                    </div>
                </div>
            </div>
            <div id="relation">
                <label for="relation" class="custom_label fs-xl-18 fs-xxl-24 mb-1">Relation</label>
                <div class="mb-4 d-flex flex-column flex-md-row flex-lg-column flex-xl-row gap-xl-50">
                    <div class="form-check form-check-inline">
                        <label class="form-check-label custom_radio_label fs-xl-18 fs-xxl-24" for="inlineRadio1">
                            <input class="form-check-input custom_radio fs-xxl-24" type="radio"
                                name="inlineRadioOptions1" id="inlineRadio1" value="friend" checked="true">
                            Friend</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label custom_radio_label fs-xl-18 fs-xxl-24" for="inlineRadio2">
                            <input class="form-check-input custom_radio fs-xxl-24" type="radio"
                                name="inlineRadioOptions2" id="inlineRadio2" value="eCustomer">
                            Existing Customer</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label custom_radio_label fs-xl-18 fs-xxl-24" for="inlineRadio3">
                            <input class="form-check-input custom_radio fs-xxl-24" type="radio"
                                name="inlineRadioOptions3" id="inlineRadio3" value="nCustomer">
                            New Customer</label>
                    </div>  
                </div>
            </div>
        </div>
    </form>
</div>