@import "../../../../app/styles/variable.scss";

.card {

    .card-img {
        height: gutter-per(100);
        width: gutter-per(100);
    }

    .price {
        color: $priceColor;
        font-size: gutter-sp(24);
    }

    .fontdull {
        color: $fontdull;
    }

    .booking_details {
        width: gutter-per(100);
    }

    .cancel {
        background-color: $cancelbtn;
        color: $white;
    }

    .edit {
        background-color: $editbtn;
        color: $white;
    }

    .view {
        background-color: $viewdetailbtn;
        color: $white;
    }

    .booking_status {
        left: gutter-sp(16);
        width: fit-content;
        top: gutter-sp(25);
        left: gutter-sp(15);
        gap: gutter-sp(0);
        opacity: gutter-sp(0);
        rotate: -180 deg;
        clip-path: polygon(gutter-per(0) gutter-per(0), gutter-per(91) gutter-per(0), gutter-per(100) gutter-per(50), gutter-per(91) gutter-per(100), gutter-per(0) gutter-per(100));
        color: $white;
        padding-right: gutter-sp(15);
        padding-left: gutter-sp(10);

    }

    .rating {
        background-color: $ratingBackground;
        border-radius: gutter-sp(16);
    }

    .frameImg {
        height: gutter-sp(16);
        width: gutter-sp(16);
    }

    .rating_booking {
        position: absolute;
        top: gutter-sp(17);
        gap: gutter-sp(6);
    }

    .ratingImg {
        height: gutter-sp(12);
        width: gutter-sp(12);
        position: relative;
    }

    .address {
        color: $adresscolor;
        font-size: gutter-sp(10);
        flex-wrap: wrap;
        white-space: normal;
        word-wrap: break-word;
        word-break: break-word;
    }

}