
<!-- <p class="pb-24 fs-24 lh-24 m-0">Our <span class="arrangements__color">Arrangements</span></p>
<div class="row">
    @for( obj of arrangementsInfo; track $index){
    <div class="col-md-4 col-12 col-lg-4 col-xl-4 col-xxl-4">
        <div class="card">
            <img src={{obj.src}} alt="Card Image" class="card-image">
            <div class="card-content">
              <h2 class="card-heading">All-inclusive Hotelarrangementen</h2>
              <p class="card-text">Whether you visit our hotel for a wonderfully relaxing weekend, as a follow-up to your business meeting or during one of our events At De Bonte Wever you will immediately feel at home! What makes</p>
              <button class="card-button">Read More</button>
            </div>
          </div>
    </div>
    }
</div> -->