 @import "../../../../app/styles/variable.scss";

 .thik_line{
    padding: 2px;
    background-color: $color-pink;
 }

 .navbar {
     .container {
         flex-flow: wrap;
     }

     li,
     a {
         font-family: "poppins";
     }
 }


 @media (min-width: 991px) {
     .fw-500 {
         font-weight: $font-weight500;
     }

     .fw-200 {
         font-weight: $font-weight200;
     }

     .one {
         height: $height-3vh;
         margin-left: $ml-5per;
     }

     .second {
         height: $height-3vh;
         padding-top: $pt-10;
     }

 }



 @media (max-width: 991px) {
     .side-bar {
         background-color: white;
         backdrop-filter: blur(10px);
     }

     li,
     a {
         font-size: $font-size25px;
         font-weight: 700;
         font-family: "poppins";

         .header-images {

             height: $height-20px;
         }
     }

     ul {
         margin-left: 7%;
         gap: 5px;
     }

     .one {
         // display: flex;
         order: 2;
     }

     .second {
         // display: flex;
         order: 3;
     }

     .third {
         order: 1;

         .usericon {
             height: $height1-5eh;
         }
     }

     .fs-2vh {
         font-size: 2vh;
     }
 }