<p class="thik_line m-0"></p>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container d-flex ">
    <div class="one">
      <a class="navbar-brand" href="#">
        <img class="logo mb-0" src="{{headerInfo.logo}}" alt="">
      </a>
    </div>
    <!-- Header-above-line -->
    <div class="second">
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2"
        aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- side-bar -->
      <div class="side-bar offcanvas offcanvas-start w-100" tabindex="-1" id="offcanvasNavbar2"
        aria-labelledby="offcanvasNavbarLabel">
        <!-- sidebar-header -->
        <div class="offcanvas-header text-dark">
          <!-- <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5> -->
          <button type="button" class="btn-close btn-close-dark p-5 fw-bolder fs-2vh" data-bs-dismiss="offcanvas"
            aria-label="Close"></button>
        </div>
        <!-- sidebar-body -->
        <div class="offcanvas-body my-30 me-3 ">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-1">
            <li class="nav-item ms-4 fw-200 pb-sm-4">
              <a class="link-dark link-underline-opacity-0 fs-12" href="#">
               <img class="ps-2 pe-sm-2 header-images" src="../../../../assets/images/logo/phone-call.png" alt="">0592-356 000</a>
            </li>
            <li class="nav-item ms-4 fw-200 pb-sm-4 fw-200">
              <a class="link-dark link-underline-opacity-0 fs-12" href="#">
                <img class="ps-2 pe-sm-2 header-images" src="../../../../assets/images/logo/question-sign.png" alt="">Help</a>
            </li>
            <li class="nav-item ms-4 fw-200 pb-sm-4 fw-200">
              <a class="link-dark link-underline-opacity-0 fs-12" href="#">
                <img class="ps-2 pe-sm-2 header-images" src="../../../../assets/images/logo/world.png" alt="">English</a>
            </li>
            <li class="nav-item ms-4 fw-200 pb-sm-4 fw-200">
              <a class="link-dark link-underline-opacity-0 fs-12" href="#">
                <img class="ps-2 pe-sm-2 header-images" src="../../../../assets/images/logo/shopping-bag.png" alt="">My Bookings</a>
            </li>
            <li class="nav-item ms-4 fw-200 pb-sm-4 fw-200">
              <a class="link-dark link-underline-opacity-0 fs-12" href="#">
                <img class="ps-2 pe-sm-2 header-images" src="../../../../assets/images/logo/user.png" alt="">Sign In Or Join</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Header-below-line -->
    <div class="third d-flex flex-lg-grow-1">
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="">
          <img class="usericon" src="../../../../assets/images/logo/user.svg" alt="">
        </span>
      </button>
      <!-- side-bar -->
      <div class="side-bar offcanvas offcanvas-end w-100" tabindex="-1" id="offcanvasNavbar"
        aria-labelledby="offcanvasNavbarLabel">
        <!-- sidebar-header -->
        <div class="offcanvas-header text-dark">
          <!-- <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5> -->
          <button type="button" class="btn-close btn-close-dark p-5 fw-bolder fs-2vh" data-bs-dismiss="offcanvas"
            aria-label="Close"></button>
        </div>
        <!-- sidebar-body -->
        <div class="offcanvas-body mt-35">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item ms-4 pb-sm-4 fs-17">
              <a class="link-dark link-underline-opacity-0 fw-500" href="#">OverView</a>
            </li>
            <li class="nav-item ms-4 pb-sm-4 fs-17">
              <a class="link-dark link-underline-opacity-0 fw-500" href="#">Best Deals</a>
            </li>
            <li class="nav-item ms-4 pb-sm-4 fs-17">
              <a class="link-dark link-underline-opacity-0 fw-500" href="#">Social Events</a>
            </li>
            <li class="nav-item ms-4 pb-sm-4 fs-17">
              <a class="link-dark link-underline-opacity-0 fw-500" href="#">Family Events</a>
            </li>
            <li class="nav-item ms-4 pb-sm-4 fs-17">
              <a class="link-dark link-underline-opacity-0 fw-500" href="#">Corporate Events</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>