 @import "../../../../app/styles/variable.scss";

 .navbar {
     .container {
         flex-flow: wrap;
     }
 }

 @media (max-width: 991px) {
     .offcanvas {
         height: 50%;
     }

     .side-bar {
         background-color: rgba(252, 252, 252, 0.25);
         backdrop-filter: blur(10px);
     }

     .one {
         // display: flex;
         order: 2;
     }

     .second {
         // display: flex;
         order: 3;
     }

     .third {
         order: 1;
     }
 }