@import "../../../../app/styles/variable.scss";
@import "../../../custom-css/custom-material-colors.scss";

.main_line, .main_line1 {
  background-color: $secondory-color;
  position: absolute;
  left: $value-null;
  width: gutter-per(100);
}
.header-align{
  display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    width: gutter-per(100);
    padding: gutter-vw(0) gutter-vw(9) gutter-vw(0) gutter-vw(10.4);
    @media (min-width: 992px) and (max-width: 1120px) {
      padding: gutter-vw(0) gutter-vw(4) gutter-vw(0) gutter-vw(4); 
    }
}
.main_line {
  top: $value-null;
}

.main_line1 {
  bottom: $value-null;
}

.header-placeholder {
  height: gutter-sp(92);
}
.offcanvas {
  width: gutter-per(70);

  &-header {
    background-color: $gray;
  }
}

.navbar-toggler-icon {
  width: gutter-sp(20);
  height: gutter-sp(20);
}

.nav-togleuser {
  border: none;
  box-shadow: none;
}

.dot {
  height: gutter-sp(8);
  width: gutter-sp(8);
  background-color: $livebtn-clr;
  border-radius: gutter-per(50);
  display: inline-block;
}

.btn-live {
  background-color: transparent;
  color: $livebtn-clr;
  border: gutter-sp(2) solid $livebtn-clr;
  padding: gutter-sp(4) gutter-sp(10);
  border-radius: gutter-sp(4);
}

.gif-btn {
  background-image: url("../../../../assets/images/overview/liveevents.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
