<!-- <nav class="navbar navbar-light bg-light">
  <div class="container-fluid d-flex  flex-row">
    <div class="justify-content-start ms-5">
      <a class="d-flex navbar-brand" href="#">
        <img class="logo mb-0" src="../../../../assets/images/logo/de-bonte-wever.svg" alt="">
      </a>
    </div>
    <div class="d-flex flex-column">
      <div class="d-flex justify-content-around">
        <div class="d-flex p-1">
          <a class="d-flex align-content-center pe-2" href="#" >
            <img class="d-flex " src="../../../../assets/images/logo/phone-call.png" alt="" alt=""></a>
          <span class="d-flex align-content-center flex-wrap">0592-356 000</span>
        </div>

        <div class="d-flex p-1">
          <a class="d-flex align-content-center pe-2" href="#">
            <img src="../../../../assets/images/logo/question-sign.png" alt="" alt=""></a>
          <span class="d-flex align-content-center flex-wrap ">Help</span>
        </div>
       <div class="d-flex p-1">
        <a class="d-flex align-content-center pe-2" href="#">
          <img src="../../../../assets/images/logo/world.png" alt="" alt=""></a>
        <span class="d-flex align-content-center flex-wrap"> English</span>
       </div>
        <div class="d-flex p-1">
          <a class="d-flex align-content-center pe-2" href="#">
            <img src="../../../../assets/images/logo/shopping-bag.png" alt="" alt=""></a>
          <span class="d-flex align-content-center flex-wrap">My Bookings</span>
        </div>
        <div class="d-flex p-1">
          <a class="d-flex align-content-center pe-2" href="#">
            <img src="../../../../assets/images/logo/user.png" alt="" alt=""></a>
          <span class="d-flex align-content-center flex-wrap">Sign In or Join</span>
        </div>
      </div>
      <div class="d-flex justify-content-around me-3 mt-2">
        <p class="p-2">OverView</p>
        <p class="p-2">Business Meetings</p>
        <p class="p-2">Social Events</p>
        <p class="p-2">Weddings</p>
        <p class="p-2">Family Events</p>
      </div>
    </div>
  </div>
</nav> -->

<!-- 


<div class="container-fluid">
  <div class="row py-3">
    <div class="col-4 d-flex align-content-center justify-content-center">
      <div class="row justify-content-end">
      <a class="d-flex justify-content-center me-5 logo" href="#">
        <img class="logo mb-0" src="../../../../assets/images/logo/de-bonte-wever.svg" alt="">
      </a>
      </div>
    </div>
    <div class="col-8 ">
      <div class="row header-above-line py-3">
        <div class="col-4 item">
          <a class="fs-12" href="#">
            <img class="me-1 align-content-center" src="../../../../assets/images/logo/phone-call.png" alt=""></a>
          <span class="fs-11 align-items-center">0592-356 000</span>
        </div>

        <div class="col item">
            <a class="fs-12" href="#">
              <img class="me-1 align-items-center" src="../../../../assets/images/logo/question-sign.png" alt=""></a>
            <span class="fs-11 align-items-center">Help</span>
        </div>

        <div class="col item">
            <a class="fs-12" href="#">
              <img class="me-1 align-content-center" src="../../../../assets/images/logo/world.png" alt=""></a>
            <span class="fs-11 align-content-center">English</span>
        </div>

        <div class="col item">
            <a class="fs-12" href="#">
              <img class="me-1 align-content-center" src="../../../../assets/images/logo/shopping-bag.png" alt=""></a>
            <span class="fs-11 align-content-center">My Bookings</span>
        </div>

        <div class="col item">
            <a class="fs-12" href="#">
              <img class="me-1 " src="../../../../assets/images/logo/user.png" alt=""></a>
            <span class="fs-11 align-content-center">Sign In or Join</span>
        </div>
      </div>
      <div class="row header-below-line justify-content-space-between">
        <div class="col item fs-18">
          OverView
        </div>
        <div class="col item fs-18 justify-content-end">
          Business Meetings
        </div>
        <div class="col item fs-18">
          Social Events
        </div>
        <div class="col item  fs-18">
          Weddings
        </div>
        <div class="col item fs-18">
          Family Events
        </div>
      </div>
    </div>
  </div>
</div> -->




<!-- <nav class="navbar navbar-expand-sm">
  <div class="container-fluid">
    <div>
      <a class="navbar-brand" href="#">
        <img class="logo mb-0" src="../../../../assets/images/logo/de-bonte-wever.svg" alt="">
      </a>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar" aria-controls="mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
            <img class="" src="../../../../assets/images/logo/phone-call.png" alt="">
            <a class="nav-link" href="#">0592-356 000</a>
        </li>
        <li class="nav-item">
            <img src="../../../../assets/images/logo/question-sign.png" alt="">
            <a class="nav-link " href="#">Help</a>
        </li>
        <li class="nav-item">
          <img src="../../../../assets/images/logo/world.png" alt="">
          <a class="nav-link" href="#">English</a>
        </li>
         <li class="nav-item">
            <img src="../../../../assets/images/logo/shopping-bag.png" alt="">
            <a class="nav-link" href="#">My Bookings</a>
        </li>
         <li class="nav-item">
            <img src="../../../../assets/images/logo/user.png" alt="">
            <a class="nav-link" href="#">Sign In Or Join</a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->

header

<!-- <nav class="navbar navbar-light bg-light">
  <div class="container-fluid d-flex  flex-row">
    <div class="justify-content-start ms-5">
      <a class="d-flex navbar-brand" href="#">
        <img class="logo mb-0" src="../../../../assets/images/logo/de-bonte-wever.svg" alt="">
      </a>
    </div>
    <div class="d-flex flex-column">
      <div class="d-flex justify-content-around">
        <div class="d-flex p-1">
          <a class="d-flex align-content-center pe-2" href="#" >
            <img class="d-flex " src="../../../../assets/images/logo/phone-call.png" alt="" alt=""></a>
          <span class="d-flex align-content-center flex-wrap">0592-356 000</span>
        </div>

        <div class="d-flex p-1">
          <a class="d-flex align-content-center pe-2" href="#">
            <img src="../../../../assets/images/logo/question-sign.png" alt="" alt=""></a>
          <span class="d-flex align-content-center flex-wrap ">Help</span>
        </div>
       <div class="d-flex p-1">
        <a class="d-flex align-content-center pe-2" href="#">
          <img src="../../../../assets/images/logo/world.png" alt="" alt=""></a>
        <span class="d-flex align-content-center flex-wrap"> English</span>
       </div>
        <div class="d-flex p-1">
          <a class="d-flex align-content-center pe-2" href="#">
            <img src="../../../../assets/images/logo/shopping-bag.png" alt="" alt=""></a>
          <span class="d-flex align-content-center flex-wrap">My Bookings</span>
        </div>
        <div class="d-flex p-1">
          <a class="d-flex align-content-center pe-2" href="#">
            <img src="../../../../assets/images/logo/user.png" alt="" alt=""></a>
          <span class="d-flex align-content-center flex-wrap">Sign In or Join</span>
        </div>
      </div>
      <div class="d-flex justify-content-around me-3 mt-2">
        <p class="p-2">OverView</p>
        <p class="p-2">Business Meetings</p>
        <p class="p-2">Social Events</p>
        <p class="p-2">Weddings</p>
        <p class="p-2">Family Events</p>
      </div>
    </div>
  </div>
</nav> -->

<!-- 


<div class="container-fluid">
  <div class="row py-3">
    <div class="col-4 d-flex align-content-center justify-content-center">
      <div class="row justify-content-end">
      <a class="d-flex justify-content-center me-5 logo" href="#">
        <img class="logo mb-0" src="../../../../assets/images/logo/de-bonte-wever.svg" alt="">
      </a>
      </div>
    </div>
    <div class="col-8 ">
      <div class="row header-above-line py-3">
        <div class="col-4 item">
          <a class="fs-12" href="#">
            <img class="me-1 align-content-center" src="../../../../assets/images/logo/phone-call.png" alt=""></a>
          <span class="fs-11 align-items-center">0592-356 000</span>
        </div>

        <div class="col item">
            <a class="fs-12" href="#">
              <img class="me-1 align-items-center" src="../../../../assets/images/logo/question-sign.png" alt=""></a>
            <span class="fs-11 align-items-center">Help</span>
        </div>

        <div class="col item">
            <a class="fs-12" href="#">
              <img class="me-1 align-content-center" src="../../../../assets/images/logo/world.png" alt=""></a>
            <span class="fs-11 align-content-center">English</span>
        </div>

        <div class="col item">
            <a class="fs-12" href="#">
              <img class="me-1 align-content-center" src="../../../../assets/images/logo/shopping-bag.png" alt=""></a>
            <span class="fs-11 align-content-center">My Bookings</span>
        </div>

        <div class="col item">
            <a class="fs-12" href="#">
              <img class="me-1 " src="../../../../assets/images/logo/user.png" alt=""></a>
            <span class="fs-11 align-content-center">Sign In or Join</span>
        </div>
      </div>
      <div class="row header-below-line justify-content-space-between">
        <div class="col item fs-18">
          OverView
        </div>
        <div class="col item fs-18 justify-content-end">
          Business Meetings
        </div>
        <div class="col item fs-18">
          Social Events
        </div>
        <div class="col item  fs-18">
          Weddings
        </div>
        <div class="col item fs-18">
          Family Events
        </div>
      </div>
    </div>
  </div>
</div> -->




<!-- <nav class="navbar navbar-expand-sm">
  <div class="container-fluid">
    <div>
      <a class="navbar-brand" href="#">
        <img class="logo mb-0" src="../../../../assets/images/logo/de-bonte-wever.svg" alt="">
      </a>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar" aria-controls="mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
            <img class="" src="../../../../assets/images/logo/phone-call.png" alt="">
            <a class="nav-link" href="#">0592-356 000</a>
        </li>
        <li class="nav-item">
            <img src="../../../../assets/images/logo/question-sign.png" alt="">
            <a class="nav-link " href="#">Help</a>
        </li>
        <li class="nav-item">
          <img src="../../../../assets/images/logo/world.png" alt="">
          <a class="nav-link" href="#">English</a>
        </li>
         <li class="nav-item">
            <img src="../../../../assets/images/logo/shopping-bag.png" alt="">
            <a class="nav-link" href="#">My Bookings</a>
        </li>
         <li class="nav-item">
            <img src="../../../../assets/images/logo/user.png" alt="">
            <a class="nav-link" href="#">Sign In Or Join</a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->


<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
  <div class="container d-flex ">
   <div class="one">
    <a class="navbar-brand" href="#">
      <img class="logo mb-0" src="../../../../assets/images/logo/de-bonte-wever.svg" alt=""></a>

   </div>
    <!-- Header-above-line -->
    <div class="second">
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2"
        aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- side-bar -->
      <div class="side-bar offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar2"
        aria-labelledby="offcanvasNavbarLabel">
        <!-- sidebar-header -->
        <div class="offcanvas-header text-white border-bottom">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
          <button type="button" class="btn-close btn-close-white btn-lg" data-bs-dismiss="offcanvas"
            aria-label="Close"></button>
        </div>
        <!-- sidebar-body -->
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end align-items-center flex-grow-1 pe-3">
            <li class="nav-item ms-2 pb-sm-4">
              <a class="link-dark link-underline-opacity-0" href="#">
                <img class="ps-2 pe-sm-2" src="../../../../assets/images/logo/phone-call.png" alt="">0592-356 000</a>
            </li>
            <li class="nav-item ms-2 pb-sm-4">
              <a class="link-dark link-underline-opacity-0" href="#">
                <img class="ps-2 pe-sm-2" src="../../../../assets/images/logo/question-sign.png" alt="">Help</a>
            </li>
            <li class="nav-item ms-2 pb-sm-4">
              <a class="link-dark link-underline-opacity-0" href="#">
                <img class="ps-2 pe-sm-2" src="../../../../assets/images/logo/world.png" alt="">English</a>
            </li>
            <li class="nav-item ms-2 pb-sm-4">
              <a class="link-dark link-underline-opacity-0" href="#">
                <img class="ps-2 pe-sm-2" src="../../../../assets/images/logo/shopping-bag.png" alt="">My Bookings</a>
            </li>
            <li class="nav-item ms-2 pb-sm-4">
              <a class="link-dark link-underline-opacity-0" href="#">
                <img class="ps-2 pe-sm-2" src="../../../../assets/images/logo/user.png" alt="">Sign In Or Join</a>
            </li>
          </ul>
        </div>
      </div>
    </div>


    <!-- Header-below-line -->

    <div class="third d-flex flex-lg-grow-1">
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="">
          <img src="../../../../assets/images/logo/user.svg" alt="">
        </span>
      </button>
      <!-- side-bar -->
      <div class="side-bar offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
        aria-labelledby="offcanvasNavbarLabel">
        <!-- sidebar-header -->
        <div class="offcanvas-header text-white border-bottom">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
            aria-label="Close"></button>
        </div>
        <!-- sidebar-body -->
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end align-items-center flex-grow-1 pe-3">
            <li class="nav-item ms-3 pb-sm-4 fw-bold fs-18">
              <a class="link-dark link-underline-opacity-0" href="#">OverView</a>
            </li>
            <li class="nav-item ms-3 pb-sm-4 fw-bold fs-18">
              <a class="link-dark link-underline-opacity-0" href="#">Best Deals</a>
            </li>
            <li class="nav-item ms-3 pb-sm-4 fw-bold fs-18">
              <a class="link-dark link-underline-opacity-0" href="#">Social Events</a>
            </li>
            <li class="nav-item ms-3 pb-sm-4 fw-bold fs-18">
              <a class="link-dark link-underline-opacity-0" href="#">Family Events</a>
            </li>
            <li class="nav-item ms-3 pb-sm-4 fw-bold fs-18">
              <a class="link-dark link-underline-opacity-0" href="#">Corporate Events</a>
            </li>
          </ul>
        </div>
      </div>
    </div>


  </div>
</nav>