<div class="tagList">
  <div class="slider">
    <div class="items">
      @for(image of promotionsInfo; track $index){
      <a class="item">
        <img src="{{ image.src }}" alt="" />
      </a>
      }
      @for(image of promotionsInfo; track $index){
      <a class="item">
        <img src="{{ image.src }}" alt="" />
      </a>
      }
      @for(image of promotionsInfo; track $index){
      <a class="item">
        <img src="{{ image.src }}" alt="" />
      </a>
      }
    </div>
  </div>
</div>