@import "../../../styles/variable.scss";

$animationSpeed: 40s;

.tagList {
    width: gutter-per(100);
    max-width: gutter-per(100);
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;

    .slider {

        .items {
            animation: promotions $animationSpeed linear infinite;
            display: flex;
            width: calc(250px *10);

            &:hover {
                animation-play-state: paused;
              }

            .item {
                display: flex;
                align-items: center;
                padding: gutter-sp(12) gutter-sp(16) gutter-sp(80);

            }

            img:hover {
                box-shadow: gutter-sp(0) gutter-sp(1) gutter-sp(12) gutter-sp(0) $promotionshadow;
                border-radius: gutter-sp(14);
                filter: grayscale(100)
            }
        }

    }

    @keyframes promotions {
        0% {
            transform: rotate(0);
        }

        100% {
            transform: translateX(calc(-250px * 5));
        }
    }
}