<div class="how-it-works">
    <p class="how-it-works__title fs-24 fs-lg-28 fs-xl-30 fs-xxl-32 lh-65 m-0 fw-bold">How it <span class="how-it-works__clr">Works?</span></p>
    <p class="fs-14 fs-xl-16 fs-xxl-18 lh-24 pb-20 m-0">Booking Your Perfect Event, Conference, or Meeting With Ease and a seamless experience.</p>

    <div class="row how-it-works__cards g-4">
        <ng-container *ngFor="let meet of meetingDetails">
            <div class="col-12 col-lg-4 text-center image__item cursor">
                <img [src]="meet.src" [alt]="meet.title">
                <p class="fs-18 fs-xl-20 fs-xxl-22 fw-bold pt-20 pb-10 m-0">{{meet.title}}</p>
                <p class="fs-14 fs-xl-16 fs-xxl-18 lh-34 mb-0 text">{{meet.text}}</p>
            </div>
        </ng-container>
    </div>
</div>