@import "../../../styles/variable.scss";

.bannerActionButton {
    flex-shrink: 0;
    border-radius: gutter-sp(32);
    letter-spacing: gutter-sp(1);
    border: none;
    color: $white;
    margin-top: gutter-sp(20);
    background: $family-yellow;
    opacity: 0;
    animation: fadeIn 4s forwards;
    padding: gutter-sp(8) gutter-sp(42);
    position: relative;
    overflow: hidden;
    font-weight: bold;
}

//hover-change
.bannerActionButton::after {
    content: "";
    position: absolute;
    top: gutter-per(50);
    left: gutter-per(50);
    width: $value-null;
    height: $value-null;
    background: transparent;
    border-radius: gutter-per(50);
    box-shadow: 0 0 gutter-sp(5) gutter-sp(2) $ratingBackground,
        0 0 gutter-sp(10) gutter-sp(3) $ratingBackground,
        0 0 gutter-sp(15) gutter-sp(5) $ratingBackground;
    transform: translate(gutter-per(-50), gutter-per(-50));
    opacity: 0;
    transition: width 0.4s ease, height 0.4s ease, opacity 0.4s ease;
}

//hover-change
.bannerActionButton:hover::after {
    width: gutter-sp(220);
    height: gutter-sp(220);
    opacity: 1;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.businessBannerActionButton {
    @extend .bannerActionButton;
}


// side transition Button CSS

.sideTransitionButton {
    padding: gutter-sp(10) gutter-sp(22);
    border-radius: gutter-sp(6);
    border: gutter-sp(1) solid $secondary-color;
    position: relative;
    color: $secondary-color;
    background-color: transparent;
    transition: color 0.3s ease, transform 0.3s ease;

    &::after {
        content: "";
        position: absolute;
        top: $value-null;
        left: $value-null;
        width: gutter-per(100);
        height: gutter-per(100);
        background-color: $secondary-color;
        transition: transform 0.3s ease;
        transform: scaleX(0);
        transform-origin: left;
        z-index: -1;
        border-radius: gutter-sp(4);
    }


    &:hover,
    &:focus {
        color: $white;

        transform: translateX(gutter-sp(0));

        &::after {
            transform: scaleX(1);
        }
    }
}

.sideTransitionButtonPrimary {
    @extend .sideTransitionButton;
    color: $family-yellow;
    border-color: $family-yellow;

    &::after {
        background-color: $family-yellow;
    }

    &:hover,
    &:focus {
        color: $white;
    }
}

.sideTransitionButtonArticle {
    @extend .sideTransitionButton;
    width: gutter-per(100);
    font-weight: 500;
}

.basicButton {
    background: $secondary-color;
    color: $white;
    border-radius: gutter-sp(8);
    border: gutter-sp(1) solid transparent;
    padding: gutter-sp(10) gutter-sp(20);
}

.basicButton:hover {
    background-color: transparent;
    color: $secondary-color;
    border: gutter-sp(1) solid $secondary-color;
}

.selected {
    border: gutter-sp(1) solid $selected-border-clr;
    background: $white;
    padding: gutter-sp(12) gutter-sp(40);
    border-radius: gutter-sp(24);
    font-size: gutter-sp(14);
    font-weight: 500;
    color: $black;
}

//Events card buttons
.reserve {
    background-color: $green-select;
    border: gutter-sp(1) solid $green-select;
    color: $white;
    padding: gutter-sp(12) gutter-sp(49);
    border-radius: gutter-sp(24);
    font-size: gutter-sp(14);
    font-weight: 500;

    &:hover {
        background: $white;
        border: gutter-sp(1) solid $selected-border-clr;
        color: $black;
        padding: gutter-sp(12) gutter-sp(49);
    }
}

.cancel {
    background-color: $white;
    color: $cancelcolor;
    border: gutter-sp(1) solid $cancelcolor ;
    padding: gutter-sp(9) gutter-sp(33);
    font-size: gutter-sp(14);
    font-weight: 500;
    border-radius: gutter-sp(24);

    &:hover {
        background-color: $cancelhover;
        color: $cancelcolor;
        border-color: $cancelcolor;
    }
}

.booknowBtn {
    color: $booknow-pink;
    font-weight: 700;
    background-color: $priceBackGrnd;
    border: none;

    &:hover {
        color: $hoversecondary-clr;

    }
}

.cancelBooking {
    background-color: $cancelbtn;
    color: $white;
    border: gutter-sp(1) solid $cancelbtn;
    border-radius: gutter-sp(6);
    font-size: gutter-sp(10);
    height: gutter-sp(30);
    padding: gutter-sp(0) gutter-sp(5);

    &:hover {
        background-color: $white;
        color: $cancelbtn;
        border: gutter-sp(1) solid $cancelbtn;
    }
}

.editBooking {
    background-color: $editbtn;
    color: $white;
    border: gutter-sp(1) solid $editbtn;
    border-radius: gutter-sp(6);
    font-size: gutter-sp(10);
    height: gutter-sp(30);
    padding: gutter-sp(0) gutter-sp(5);

    &:hover {
        background-color: $white;
        color: $editbtn;
        border: gutter-sp(1) solid $editbtn;
    }
}

.viewDetail {
    background-color: $viewdetailbtn;
    color: $white;
    border: gutter-sp(1) solid $viewdetailbtn;
    border-radius: gutter-sp(6);
    font-size: gutter-sp(10);
    height: gutter-sp(30);
    padding: gutter-sp(0) gutter-sp(5);

    &:hover {
        background-color: $white;
        color: $viewdetailbtn;
        border: gutter-sp(1) solid $viewdetailbtn;
    }
}

//live
.dot {
    height: gutter-sp(8);
    width: gutter-sp(8);
    background-color: $livebtn-clr;
    border-radius: gutter-per(50);
    display: inline-block;
}

.btn-live {
    background-color: transparent;
    color: $livebtn-clr;
    border: gutter-sp(2) solid $livebtn-clr;
    padding: gutter-sp(4) gutter-sp(10);
    border-radius: gutter-sp(4);
}

.gif-btn {
    background-image: url("../../../../assets/images/overview/liveevents.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}


//livebutton
button {
    display: inline-block;
    position: relative;
    cursor: pointer;
    background-color: transparent;
    color: $livebtn-clr;
    border: gutter-sp(1) solid $livebtn-clr;
    padding: gutter-sp(4) gutter-sp(10);
    border-radius: gutter-sp(4);
    overflow: hidden;
}

span.dot {
    height: gutter-sp(10);
    width: gutter-sp(10);
    background-color: $livebtn-clr;
    border-radius: gutter-per(50);
    display: inline-block;
}

.btn-live::before {
    content: "";
    width: $value-null;
    height: gutter-sp(1);
    position: absolute;
    transition: all 0.2s linear;
    background: $livebtn-clr;
    

}
.btn-live::after{
    content: "";
    width: $value-null;
    height: gutter-sp(1);
    position: absolute;
    transition: all 0.2s linear;
    background: $livebtn-clr;
}
span::before,
span::after {
    content: "";
    width: gutter-sp(1);
    height: $value-null;
    position: absolute;
    transition: all 0.2s linear;
    background: $livebtn-clr;
}

button:hover::before,
button:hover::after {
    width: gutter-per(100);
}

button:hover span::before,
button:hover span::after {
    height: gutter-per(100);
}

.btn-live::before,
.btn-live::after {
    transition-delay: 0s;
}

.btn-live span::before,
.btn-live span::after {
    transition-delay: 0.2s;
}

.btn-live::before {
    right: $value-null;
    top: $value-null;
}

.btn-live::after {
    left: $value-null;
    bottom: $value-null;
}

.btn-live span::before {
    left: $value-null;
    top: $value-null;
}

.btn-live span::after {
    right: $value-null;
    bottom: $value-null;
}

.btn-live:hover::before,
.btn-live:hover::after {
    transition-delay: 0.2s;
}

.btn-live:hover span::before,
.btn-live:hover span::after {
    transition-delay: 0s;
}

//wedding
.btn-book {
    background-color: $secondary-color;
    color: $white;
    border-radius: gutter-sp(30);
    border: gutter-sp(0) solid $secondary-color;
    font-weight: 500;
    padding: gutter-sp(8);

    &:hover {
        background-color: $primary-hover;
        box-shadow: $value-null gutter-sp(4) gutter-sp(8) $shadow-black;
    }
}

.btn-download,
.btn-quote {
    background-color: $white;
    color: $secondary-color;
    border-radius: gutter-sp(30);
    border: gutter-sp(1) solid $secondary-color;
    font-weight: 500;
    padding: gutter-sp(8);

    &:hover {
        background-color: $secondary-backgroundhvr;
        color: $primary-hover;
        border-color: $primary-hover;
    }
}

//primary and secondary and cancel
.secondarybtn {
    color: $secondary-color;
    border: gutter-sp(1) solid $secondary-color;
    background-color: transparent;
    width: gutter-per(100);

    &:hover {
        background-color: $secondary-backgroundhvr;
        color: $primary-hover;
        border-color: $primary-hover;
    }

}

.primarybtn {
    color: $white;
    background-color: $secondary-color;
    border: none;
    width: gutter-per(100);

    &:hover {
        background-color: $primary-hover;
        box-shadow: $value-null gutter-sp(4) gutter-sp(8) $shadow-black;
    }
}

//signup
.signup-btn {
    background-color: $secondary-color;
    color: $white;
    border: $value-null;
    border-radius: gutter-sp(5);
    padding: gutter-sp(10) gutter-sp(100);

    &:hover {
        background-color: $primary-hover;
        box-shadow: $value-null gutter-sp(4) gutter-sp(8) $shadow-black;
    }
}

//forgot
.forgot-btn {
    background: $secondary-color;
    padding: gutter-sp(10);
    border: none;
    color: $white;
    margin-top: gutter-vw(2);
    border-radius: gutter-sp(10);
    width: gutter-per(100);

    &:hover {
        background-color: $primary-hover;
        box-shadow: $value-null gutter-sp(4) gutter-sp(8) $shadow-black;
    }
}

.basicButtonforSkip {
    color: $secondary-color;
    background: $white;
    border: gutter-sp(1) solid $secondary-color;
    width: gutter-sp(120);
    padding: gutter-sp(10);
    border-radius: gutter-sp(50);
    font-size: gutter-sp(16);
}

.basicButtonforSkip:hover {
    color: $white;
    background: $secondary-color;
    border: gutter-sp(1) solid $secondary-color;
}

.basicButtonforSave {
    color: $white;
    background: $secondary-color;
    border: gutter-sp(1) solid $secondary-color;
    width: gutter-sp(120);
    padding: gutter-sp(10);
    border-radius: gutter-sp(50);
    font-size: gutter-sp(16);
}

.basicButtonforSave:hover {
    color: $secondary-color;
    background: $white;
    border: gutter-sp(1) solid $secondary-color;
}


.gradientButton {
    @extend .basicButton;
    background: linear-gradient(90.69deg, $rev-gradient-clr1 gutter-per(0.85), $rev-gradient-clr2 gutter-per(100.99));
    width: gutter-per(100);
    font-weight: bold;
    font-size: gutter-sp(20);
    padding: gutter-sp(15);

    &:hover {
        background: linear-gradient(90.69deg, $rev-gradient-clr2 gutter-per(0.85), $rev-gradient-clr1 gutter-per(100.99));
        box-shadow: gutter-sp(0) gutter-sp(4) gutter-sp(8) $btn-shadow;
        color: $white;
    }
}

.gradientButtonReserve {
    @extend .basicButton;
    background: linear-gradient(90.69deg, $rev-gradient-clr1 0.85%, $rev-gradient-clr2 100.99%);
    width: gutter-per(100);
    font-weight: bold;
    padding: gutter-sp(10) gutter-sp(24);

    &:hover {
        background: linear-gradient(90.69deg, $rev-gradient-clr2 0.85%, $rev-gradient-clr1 100.99%);
        box-shadow: gutter-sp(0) gutter-sp(4) gutter-sp(8) $btn-shadow;
        color: $white;
    }
}


.buttonforTimepart {
    background: $event-acc-btn-clr;
    border: gutter-sp(1) solid transparent;
    border-radius: gutter-sp(50);
    color: $black;
    padding: gutter-sp(8) gutter-sp(0);
    align-items: center;
    display: flex;
    justify-content: center;
    height: gutter-sp(56);
    width: gutter-per(100);
    font-weight: 400;
    font-size: gutter-sp(16);
}

.buttonforTimepart:hover {
    background: transparent;
    color: $event-acc-btn-clr;
    border: gutter-sp(1) solid $event-acc-btn-clr;
}

.buttonCancel {
    color: $cancelcolor;
    border: gutter-sp(1) solid $cancelcolor;
    font-size: gutter-sp(19);
    font-weight: 500;
    background: transparent;
}

.buttonCancel:hover {
    background-color: $cancelhover;
    color: $cancelcolor;
    border-color: $cancelcolor;
}

.buttonBack {
    color: $secondary-color;
    border: gutter-sp(1) solid $secondary-color;
    font-size: gutter-sp(19);
    font-weight: 500;
    background: transparent;
}

.buttonBack:hover {
    background-color: $secondary-backgroundhvr;
    color: $primary-hover;
    border-color: $primary-hover;
}

.buttonNext:hover {
    background-color: $primary-hover;
    box-shadow: gutter-sp(0) gutter-sp(4) gutter-sp(8) $nexthovershadow;
}

.buttonNext {
    color: $white;
    background: $secondary-color;
    font-size: gutter-sp(19);
    font-weight: 500;
}

//article table save button
.article-save-btn {
    background-color: $secondary-color;
    color: $lite-white;
}

//Menu table save button
.menu-save-btn {
    background-color: $secondary-color;
    color: $lite-white;
}

//dialogue buttons
.dialogue-cancel {
    height: gutter-sp(42);
    font-size: gutter-sp(16);
    background: linear-gradient(90deg, $btn-no-grdleft gutter-per(0), $btn-no-grdright gutter-per(100));
    border-radius: gutter-vw(50);
    width: gutter-sp(100);
    color: $white;
    border: none;
    &:hover {
        background: linear-gradient(90deg, $btn-no-grdright gutter-per(0), $btn-no-grdleft gutter-per(100));
        box-shadow: gutter-sp(0) gutter-sp(4) gutter-sp(8) $btn-shadow;
    }
}

.dialogue-yes {
    height: gutter-sp(42);
    font-size: gutter-sp(16);
    border-radius: gutter-vw(50);
    width: gutter-sp(100);
    background: linear-gradient(90deg, $btn-yes-grdleft gutter-per(0), $secondary-color gutter-per(100));
    color: $white;
    border: none;
    &:hover {
        background: linear-gradient(90deg, $secondary-color gutter-per(0), $btn-yes-grdleft gutter-per(100));
        box-shadow: gutter-sp(0) gutter-sp(4) gutter-sp(8) $btn-shadow;
    }
}