<div class="page_content">
    <p class="fs-30 fs-xl-34 fs-xxl-38 fw-500 pt-10 text-center">Booking Information</p>
    <div class="signup mx-auto wid-lg-70">
        <p class="text-center fs-20 fs-xl-24 fs-xxl-28 fw-500 pt-30 pb-20 m-0">Login</p>
        </div>
    <div class="row">
        <div class="loginForm p-3 col-lg-4 col-sm-12 col-md-6  pb-4">
          <form class="loginForm__form" [formGroup]="loginForm">
                <div class="loginForm__form__emaildiv d-flex flex-column mb-30">
                    <label class="loginForm__form__emaildiv__email fs-14 fs-xl-18 fs-xxl-20 mb-6" for="username">{{username}}</label>
                    <input #usernameInput class="loginForm__form__emaildiv__unamebox form-control input-lg rounded-top fs-16 fs-xl-18 fs-xxl-20" type="text"
                        id="username" name="username" required (keydown.tab)="$event.stopPropagation()"
                        formControlName="email" aria-label="Enter your email" >
                </div>
                <div class="loginForm__form__pwddiv d-flex flex-column mb-20">
                    <div class="loginForm__form__pwddiv__pwd d-flex justify-content-between">
                        <label class="loginForm__form__pwddiv__pwd__password fs-14 fs-xl-18 fs-xxl-20 mb-6"
                            for="password">{{password}}</label>
                        <a class="loginForm__form__pwddiv__pwd__forgotpwd fs-12 fs-xl-16 fs-xxl-18 mb-6" href="/forgotpwd" aria-label="Reset your password">
                            Forgot password?</a>
                    </div>
                    <div class="password-container position-relative">
                        <input 
                          class="loginForm__form__pwddiv__pwdbox form-control input-lg rounded-top fs-16 fs-xl-18 fs-xxl-20"
                          (keydown.tab)="$event.stopPropagation()" 
                          [type]="isPasswordVisible ? 'text' : 'password'" 
                          id="password" 
                          formControlName="password" 
                          name="password" 
                          required
                          aria-label="Enter your Password"
                        >
                        <img 
                          class="toggle-password position-absolute"
                          [src]="isPasswordVisible ? 'assets/images/password/eye.png' : 'assets/images/password/hidden.png'" 
                          alt="Toggle Password Visibility"
                          (click)="togglePasswordVisibility()"
                        />
                      </div>
                      
                </div>
                <div class="loginForm__form__signupdiv d-flex fs-12 fs-xl-16 fs-xxl-18 mb-20 gap-6">
                    <span>New User?</span>
                    <a class="loginForm__form__signupdiv__signUp fw-500" (click)="signUp()" role="button"  aria-label="Sign up for a new account" tabindex="0" (keydown.enter)="signUp()" 
                    (keydown.space)="signUp()" >Sign Up</a>
                </div>
                <div class="loginForm__form__loginbtndiv d-flex flex-column mb-14">
                    <app-button
                    [btnClass]="'loginForm__form__loginbtndiv primarybtn p-2 rounded-2 fs-16 fs-xl-20 fs-xxl-22 fw-500'"
                    [btnName]="'Login'"
                    (bannerActionEvent)="onSubmit()"
                    aria-label="Login to your account">
                    </app-button>
                   
                </div>
                <div class="loginForm__form__loginbtndiv d-flex flex-column mb-30">
                    <app-button
                    [btnClass]="'loginForm__form__loginbtndiv secondarybtn p-2 rounded-2 fs-16 fs-xl-20 fs-xxl-22 fw-500'"
                    [btnName]="'Continue as Guest'"
                    (bannerActionEvent)="onSubmit()"
                    [routerLink]="['/continueasguest']"
                    aria-label="Continue as Guest without logging in">
                    </app-button>
                   
                </div>

                
            </form>
        </div>
    </div>
</div>