@import "../../../app/styles/variable.scss";
@import "../../custom-css/custom-material-colors.scss";

.loginForm {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__form {
        &__emaildiv{
            &__unamebox{
                height: gutter-sp(44);
                border: gutter-sp(1) solid $border-silver;
            }
        }
        &__pwddiv {
            &__pwdbox,&__unamebox{
                height: gutter-sp(44);
                border: gutter-sp(1) solid $border-silver;
            }
            &__pwd {
                &__forgotpwd {
                    color: $form-blue;
                }
            }
        }

        &__loginbtndiv {
            &__continue__guest{
                color:$secondory-color;
                border:gutter-sp(1) solid $secondory-color;
                background-color: transparent;
            }
            &__loginbox {
                color: $white;
                background-color: $secondory-color;
                border: none;
            }
        }

        &__signupdiv {
            &__signUp {
                color: $form-blue;
                cursor: pointer;
            }
        }
    }

}
input:focus {
    outline: none;
    box-shadow: none;
  }