@import "../../../app/styles/variable.scss";

.loginForm {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__form {
        &__emaildiv{
            &__unamebox{
                height: gutter-sp(44);
                border: gutter-sp(1) solid $border-silver;
            }
        }
        &__pwddiv {
            &__pwdbox,&__unamebox{
                height: gutter-sp(44);
                border: gutter-sp(1) solid $border-silver;
            }
            &__pwd {
                &__forgotpwd {
                    color: $form-blue;
                }
            }
        }

        &__signupdiv {
            &__signUp {
                color: $form-blue;
                cursor: pointer;
            }
        }
    }

}
input:focus {
    outline: none;
    box-shadow: none;
    border-color: $form-focus;
  }
//password
.password-container {
    position: relative;
  
    .toggle-password {
      top: gutter-per(50);
      right: gutter-sp(10);
      transform: translateY(gutter-per(-50));
      cursor: pointer;
      z-index: 10;
      width: gutter-sp(20); 
      height: gutter-sp(20);
    }
  
    input {
      padding-right: gutter-sp(40);
    }
  }
  
  