@import "../../../styles/variable.scss";

.card {
    margin-bottom: 10px;

    .card-title {
        text-wrap: nowrap;
        overflow: hidden;
    }

    .card-text {
        height: 50px;
        overflow: hidden;
    }

    .card-link {
        position: absolute;
        bottom: 30px;
    }

    &__color {
        color: $color-pink;
        text-decoration: none;
    }
}