@import "../../../styles/variable.scss";
@import "../../../custom-css/custom-material-colors.scss";

.card {
   .card-title {
        text-wrap: nowrap;
    }
 &__color {
        color: $secondory-color;
        text-decoration: none;
    }
}

