@import "../../../../app/styles/variable.scss";

.my-bookings {
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__title {
        font-size: 2vw;
        margin-bottom: 0.5vw;
    }

    &__desc {
        font-size: 1vw;
        text-align: center;
    }

    &__btn {
        padding-top: 0.6vw;
        padding-bottom: 0.8vw;
        padding-left: 3vw;
        padding-right: 3vw;
        background: $color-pink;
        border-radius: 50px;
        border: none;
        color: $white;
    }

}