<div class="container">
    <div class="my-bookings">
        <div class="my-bookings__img">
            <img src="../../../../assets/images/my-booking/my-booking-empty.svg" alt="my-bookings">
        </div>
        <p class="my-bookings__title fw-bold">You have not made any bookings yet!</p>
        <p class="my-bookings__desc">All your bookings events and tickets list will be shown here. <br>
            Lets Sign in and fill up this with your bookings </p>
        <button type="button" class="my-bookings__btn">Sign in</button>
    </div>
</div>