@import "../custom-css/custom-material-colors.scss";
@import "../../../src/app/styles/variable.scss";

.bookingView {
   margin-top: gutter-sp(70);
    .btn_search {
        position: absolute;
        background: none;
        border: none;
    }
    .search{
        width: gutter-per(90);
    }
    .search .form-control:focus {
        border-color: $footer-border-line;
        box-shadow:  gutter-sp(0)  gutter-sp(0);
        font-size:  gutter-sp(12);
    }
    .search_input::placeholder{
        font-size: gutter-sp(12);
    }
}