@import '../../../../app/styles/variable.scss';

.hostDetails {
    &__card {
        padding: gutter-sp(20);
        border: gutter-sp(1) solid $host-border-clr;
        border-radius: gutter-sp(10);

        .reviews {
            .item {
                border-bottom: gutter-sp(1) solid $input-border;
                padding: gutter-sp(10) gutter-sp(0);

                p {
                    margin: gutter-sp(0);
                }
            }

            .item:last-child {
                border-bottom: none;
            }
        }

        &__image {
            height: gutter-sp(100);
            width: gutter-sp(100);
            position: relative;

            .user {
                width: gutter-per(100);
                height: gutter-per(100);
                border-radius: gutter-sp(50);
            }

            .icon {
                bottom: gutter-sp(0);
                right: gutter-sp(0);
                background: $host-security-clr;
                border-radius: gutter-sp(50);
                position: absolute;
                height: gutter-sp(30);
                width: gutter-sp(30);
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: gutter-per(70);
                }
            }
        }
    }
}