@import '../../styles/variable.scss';

.world-class {
    background-color: $black;
    color: $white;
    padding: gutter-vw(4);
    border-radius: gutter-sp(15);

    &__text {
        max-width: gutter-sp(580);
        margin: gutter-sp(0) auto;
        opacity: gutter-per(50);
    }

    &__cards {
        padding: gutter-vw(3);
    }

    &__btn {
        background: $bg-world-btn;
        color: $white;
        width: gutter-per(40);
        padding: gutter-sp(10);
        border-radius: gutter-sp(15);
        margin: gutter-sp(0) auto;
    }

    &__image {
        img {
            width: gutter-per(100);
            height: gutter-per(100);
        }
    }
}