<div class="world-class text-center">
    <span class="fs-24 fw-bold lh-40">World-class service that generates savings</span>
    <p class="world-class__text lh-34">We ensure you always get the best deal by prioritizing NDC content, pre-negotiated deals, and your preferred
        suppliers.</p>
    <div class="row world-class__cards">
        <ng-container *ngFor="let world of worldClass">
            <div class="col-12 col-md-4 text-center">
                <p class="world-class__btn fw-bold fs-24">{{world.value}}</p>
                <p class="pt-10">{{world.text}}</p>
            </div>
        </ng-container>
    </div>
    <div class="world-class__image">
        <img src="../../../assets/images/Business/world-class.svg" alt="world class">
    </div>
</div>