@import "../../../styles/variable.scss";

.review {
    &__section {
        border: gutter-sp(1) solid $event-input-border-clr;
        border-radius: gutter-sp(6);
        padding: gutter-vw(2);
        overflow-y: auto;
        scrollbar-width: thin;
    }
}
