<div class="review mb-300 mb-lg-200">
    <p class="fs-24 fs-lg-30 fs-xl-32 fs-xxl-34 fw-medium pb-20 text-center">Review and Proceed to place your order</p>
    <div class="row w-100">
        <div class="col-10 m-auto">
            <div class="review__section">
                <p class="fs-16 fs-xl-18 m-0 pb-20">Dear <span class="fw-bold">{{name}}</span></p>
                <p class="fs-14 fs-xl-16 m-0 pb-20">Thank you very much for your interest in De Bonte Wever!
                    "Take a moment to confirm your items and details. Once you're ready, click 'Next' to complete your
                    purchase!"</p>
                <div class="eventInfo">
                    <div class="d-flex justify-content-between">
                        <p class="fw-medium text-decoration-underline m-0 fs-xl-18" >Event Detail</p>
                        <div class="edit">
                            <img class="icon" src="../../../../assets/images/icons/edit_icon.svg" alt="edit">
                        </div>
                    </div>
                    <ng-container *ngFor="let item of eventInfo">
                        <p class="m-0 mb-1 fs-14 fs-xl-16">
                            <span class="fw-medium">{{item.name}}:</span>
                            <span class="ml-10">{{item.value}}</span>
                        </p>
                    </ng-container>

                </div>
                <div class="articleInfo pt-20">
                    <div class="d-flex justify-content-between">
                        <p class="fw-medium text-decoration-underline m-0 fs-xl-18" >Article Details</p>
                        <div class="edit">
                            <img class="icon" src="../../../../assets/images/icons/edit_icon.svg" alt="edit">
                        </div>
                    </div>
                    <ng-container *ngFor="let item of articleInfo">
                        <p class="m-0 mb-1 fs-14 fs-xl-16">
                            <span class="fw-medium">{{item.name}}:</span>
                            <span class="ml-10">{{item.value}}</span>
                        </p>
                    </ng-container>

                </div>
                <div class="menuDetails pt-20">
                    <div class="d-flex justify-content-between">
                        <p class="fw-medium text-decoration-underline m-0 fs-xl-18" >Menu Details</p>
                        <div class="edit">
                            <img class="icon" src="../../../../assets/images/icons/edit_icon.svg" alt="edit">
                        </div>
                    </div>
                    <ng-container *ngFor="let item of articleInfo">
                        <p class="m-0 mb-1 fs-14 fs-xl-16">
                            <span class="fw-medium">{{item.name}}:</span>
                            <span class="ml-10">{{item.value}}</span>
                        </p>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>