@import "../../../styles/variable.scss";

.accommodation {
    .accommodation_form {
        margin: gutter-sp(0) auto;
    }

    .mat-icon {
        opacity: gutter-per(75);
        color: $drop-down-icon-clr;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type="number"] {
        -moz-appearance: textfield;
    }

    .custom_label {
        opacity: gutter-per(75);
    }

    .custom_input:focus,
    .custom_select:focus {
        border: gutter-sp(1) solid $event-input-border-clr;
        box-shadow: none;
    }

    .custom_input,
    .custom_select {
        border: gutter-sp(1) solid $event-input-border-clr;
        box-shadow: none;
        font-size: gutter-sp(14);
        height: gutter-sp(50);
        border-radius: gutter-sp(6);
    }

    .custom_input::placeholder,
    .custom_time::placeholder {
        opacity: gutter-per(45);
        font-size: gutter-sp(14);
        font-weight: 500;
    }

    .custom_btn {
        background: $event-acc-btn-clr;
        border-radius: gutter-sp(50);
        border: none;
        color: $black;
        padding: gutter-sp(8) gutter-sp(0);
        align-items: center;
        display: flex;
        justify-content: center;
        height: gutter-sp(56);
        font-weight: 400;
    }

    .custom_time::-webkit-calendar-picker-indicator {
        opacity: gutter-per(45);
    }

    .custom_date {
        --mdc-outlined-text-field-outline-color: #{$event-input-border-clr};
        --mdc-outlined-text-field-hover-outline-color: #{$event-input-border-clr};
        --mdc-outlined-text-field-focus-outline-color: #{$event-input-border-clr};
    }
}