<div class="accommodation mb-300 mb-lg-200">
    <p class="title fs-24 fs-lg-30 text-center fw-medium pb-20">Accommodation Details?</p>
    <div class="row w-100">
        <div class="col-10 col-lg-5 m-auto">
            <div class="mb-4">
                <label for="guests" class="custom_label mb-1">Number of Guests</label>
                <input type="number" id="guests" placeholder="select No.of Guests" class="form-control custom_input">
            </div>
            <div class="custom-outlined-field">
                <label for="guests" class="custom_label mb-1">Check-In Date</label>
                <mat-form-field class="w-100 custom_date" appearance="outline" (click)="picker.open()">
                    <mat-date-range-input [rangePicker]="picker">
                        <input matStartDate placeholder="Start date" class="custom_time">
                        <input matEndDate placeholder="End date" class="custom_time">
                    </mat-date-range-input>
                    <mat-icon matIconPrefix>calendar_month</mat-icon>
                    <mat-datepicker-toggle matIconSuffix [for]="picker">

                        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                    </mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>
            </div>
            <div class="mb-4">
                <label for="duration" class="custom_label mb-1">Event Duration</label>
                <div class="gap-0 gap-sm-4 gap-lg-0 gap-xl-4 d-flex flex-column flex-md-row flex-lg-column flex-xl-row">
                    <app-timepicker [calssName]="'custom_date'" (selectedTime)="selectedStartTime()"
                        [matPickerClass]="'startTimepicker'" [placeHolderText]="'Start Time'"></app-timepicker>
                    <app-timepicker [calssName]="'custom_date'" (selectedTime)="selectedEndTime()"
                        [matPickerClass]="'endTimepicker'" [placeHolderText]="'End Time'"></app-timepicker>
                    <app-button [btnClass]="'buttonforTimepart'" [btnName]="'Time Part'"
                        (bannerActionEvent)="timePart()"></app-button>
                </div>
            </div>
        </div>
    </div>
</div>