@import "../../../styles/variable.scss";

.accommodation {
    .accommodation_form {
        margin: gutter-sp(0) auto;
    }

    .mat-icon {
        opacity: gutter-per(75);
        color: $drop-down-icon-clr;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type="number"] {
        -moz-appearance: textfield;
    }

    .custom_label {
        opacity: gutter-per(75);
    }

    .custom_input::placeholder {
        opacity: gutter-per(45);
        font-size: gutter-sp(14);
        font-weight: 500;
    }
}

.timePartLocation {
    position: absolute !important;
    top: gutter-sp(10);

    .mat-mdc-dialog-container .mdc-dialog__surface {
        border-radius: gutter-sp(12);
        scrollbar-width: none;
    }
}
.cdk-overlay-backdrop {
    background-color: $backdrop;
}