<div class="planing">
    <p class="text-center fs-32 fw-bold">What type of event are you planning?</p>
    <div class="">
        <div class="planing__type d-flex justify-content-center">
            <mat-selection-list #plan [multiple]="false" class="row col-6" (selectionChange)="selChange($event)">
                @for(plan of planningData; track $index){
                <div class="col-md-6 col-sm-12 col-lg-4 col-xl-4 col-xxl-4 p-1">
                    <div class="d-flex planing__type__section">
                        <mat-list-option [value]="plan">
                           <div class="d-flex justify-content-start">
                            <div>
                                <img class="h-18 align-text-bottom" src="{{plan.src}}" alt="{{plan.name}}">
                            </div>
                            <div>
                                <span class="ms-2 fs-18">{{plan.name}}</span>
                            </div>
                           </div>
                        </mat-list-option>
                    </div>
                </div>
                }
            </mat-selection-list>
        </div>
    </div>
</div>