@import "../../styles/variable.scss";
@import "../../custom-css/custom-material-colors.scss";

.planing {
    &__process {
        padding: 3vw;

        .progress {
            height: 1vw;

            .progress-bar {
                background-color: $secondory-color;
            }
        }
    }

    &__type {
        padding: 1vw;

        .mat-mdc-list-base {
            display: flex !important;
        }

        &__section {
            border: 1px solid $border-silver;
            border-radius: 8px;
            cursor: pointer;
        }
    }

    ::ng-deep .mat-mdc-list-option .mdc-radio {
        display: none !important;
    }
}