@import "../../styles/variable.scss";

.planing {
    &__process {
        .progress {
            height: gutter-sp(8);

            .progress-bar {
                background-color: $secondary-color;
            }
        }
    }

    &__type {
        padding: gutter-vw(1);

        .mat-mdc-list-base {
            display: flex;
        }

        &__section {
            border: gutter-sp(1) solid $border-silver;
            border-radius: gutter-sp(8);
            cursor: pointer;
        }

        &__section .mdc-list-item--with-trailing-radio.mdc-list-item {
            border-radius: gutter-sp(8);
        }

        &__section:hover {
            border-color: $secondary-color;
            cursor: pointer;
        }
    }

    .planning-radio ::ng-deep .mat-mdc-list-option .mdc-radio {
        display: none;
    }
}