@import "../../app/styles/variable.scss";
@import "../../../src/styles.scss";

.tableInvoice {
    margin-top: gutter-sp(70);

    .tableCell {
        height: gutter-sp(45);
        color: $tableCellColor;
        font-weight: 500;
        font-size: gutter-sp(15);
    }

    .invoice-table .mat-mdc-header-cell {
        background: $tabHeadercolor;
        color: $black;
        font-weight: 400;
    }

    .invoice-table {
        .eyeImg {
            height: gutter-sp(12);
            width: gutter-sp(20);
        }

        .downloadImg {
            height: gutter-sp(18);
            width: gutter-sp(18);
        }
    }
}