@import "../../app/styles/variable.scss";

.tableInvoice {
    margin-top: gutter-sp(70);

    .tableCell .mat-mdc-cell{
        height: gutter-sp(45);
        color: $tableCellColor;
        font-weight: 500;
        text-wrap: nowrap;
        font-size: clamp(12px, 1vw, 19px );
    }

    .invoice-table .mat-mdc-header-cell {
        font-size: clamp(15px, 1vw, 23px );
        background: $tabHeadercolor;
        color: $black;
        text-wrap: nowrap;
        font-weight: 400;
    }

    .invoice-table {
        .eyeImg {
            // height: gutter-sp(12);
            // width: gutter-sp(20);
            height: clamp(12px, 2vh, 28px);
            width: clamp(20px, 2vw, 33px);
        }

        .downloadImg {
            height: gutter-sp(18);
            width: gutter-sp(18);
        }
    }
}