@import "../../styles/variable.scss";
.custom-accordion{ 
    .accordion-item {
    border: none; 
    border-top:gutter-sp(1) solid #ddd; 
    border-top-left-radius: gutter-sp(0);
    border-top-right-radius: gutter-sp(0);
}
.accordion-header{
    padding: gutter-sp(18) gutter-sp(0);
}
.accordion-button{
    font-size:gutter-sp(14);
    font-weight:500;
}
.accordion-button:not(.collapsed){
    background-color: transparent;
    box-shadow: none;
    color: $secondary-color;
}
.accordion-button:focus{
    box-shadow: none;
}
.accordion-button:hover{
    color:$secondary-color;
}
}