<div class="row d-flex align-items-end">
    <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8 col-xxl-8 ">

        <p class="pb-20 fs-24 fs-xl-32 fs-xxl-40 fw-500" id="faq-title">Frequently Asked Questions</p>
        <div class="accordion custom-accordion" id="accordionFlushExample" role="region" aria-labelledby="faq-title">
            @for(faq of faqList; track faq.id) {
            <div class="accordion-item">
                <p class="accordion-header mb-0" id="flush-headingOne_{{faq.id}}" >
                    <button class="accordion-button collapsed p-0 fs-14 fs-xl-18 fs-xxl-22" type="button" data-bs-toggle="collapse"
                        [attr.data-bs-target]="'#flush-collapseOne_'+ faq.id" aria-expanded="false" aria-controls="flush-collapseOne_' + faq.id">
                        {{faq.name}}
                    </button>
                </p>
                <div id="flush-collapseOne_{{faq.id}}" class="accordion-collapse collapse" [attr.aria-labelledby]="'flush-headingOne_' + faq.id"
                data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body fs-16 fs-xl-20 fs-xxl-24">{{faq.value}}</div>

                </div>
            </div>
            }
        </div>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4 ">
        <img class="float-end" width="80%" src="../../../assets/images/faq/faq.svg" alt="FAQ Illustration">
    </div>
</div>