<div class="row d-flex align-items-end">
    <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8 col-xxl-8 ">
        <p class="pb-20 fs-24 fw-500">Frequently Asked Questions</p>
        <div class="accordion custom-accordion" id="accordionFlushExample">
            @for(faq of faqList; track faq.id) {
            <div class="accordion-item">
                <p class="accordion-header mb-0" id="flush-headingOne_{{faq.id}}">
                    <button class="accordion-button collapsed p-0" type="button" data-bs-toggle="collapse"
                        [attr.data-bs-target]="'#flush-collapseOne_'+ faq.id" aria-expanded="false" aria-controls="flush-collapseOne">
                        {{faq.name}}
                    </button>
                </p>
                <div id="flush-collapseOne_{{faq.id}}" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">{{faq.value}}</div>
                </div>
            </div>
            }
        </div>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4 ">
        <img class="float-end" width="80%" src="../../../assets/images/faq/faq.svg" alt="">
    </div>
</div>