<div class="play-planned-sign">
    <div class="row g-4">
        <div class="col-12 col-lg-6">
            <p class="fs-36 fw-medium mb-0">Sign and pay</p>
            <p class="fs-36 fw-medium mb-0 pb-20">through Planned</p>
            <ul class="gap-3 d-flex flex-column">
                <li class="lh-36 fs-14"><span class="fw-bold">Contracting:</span> always push your addendum and permit Planned to execute contracts on your behalf.</li>
                <li class="lh-36 fs-14"><span class="fw-bold">Payments:</span> empower stakeholders to pay directly upon approval and track actual spend.</li>
                <li class="lh-36 fs-14"><span class="fw-bold">Control:</span> create custom notifications to keep visibility over larger-size or complex contracts.</li>
            </ul>
        </div>
        <div class="col-12 col-lg-5 offset-lg-1">
            <img width="100%" src="../../../assets/images/Business/sign/play_planned.svg" alt="play_planned">
        </div>
    </div>
</div>