@import "../../app/styles/variable.scss";

.eventsPage {
    .eventsmainImg {
        &__events_main {
            height: gutter-per(100);
            width: gutter-per(100);
            margin-bottom: gutter-per(2);
        }
    }

    .event-card-section {
        --bs-gutter-x: 50px;
    }

    .events-text {
        color: $viewdetailbtn;
    }
}