@import "../../app/styles/variable.scss";

.eventsmainImg {
    &__events_main {
        height:  gutter-per(100);
        width: gutter-per(100);
        margin-bottom:  gutter-per(2);
    }
}

.events {
    margin: gutter-vw(0) gutter-vw(5);
    padding: gutter-per(0) gutter-per(5);
    display: flex;
}
.events-text{
    color: $viewdetailbtn;
}