@import "../../../styles/variable.scss";

.calendar {

    .section {
        background: $cal-bg;
        color: $white;
        padding: gutter-vw(2);
        height: gutter-vh(100);

        .calerdar_view {
            .text {
                padding: gutter-sp(20) gutter-sp(10);
                opacity: gutter-per(50);
            }

            .weekdays {
                padding: gutter-sp(0) gutter-sp(10);

                .weekday {
                    width: gutter-per(14);
                    text-transform: uppercase;
                }
            }

            .days {
                padding: gutter-sp(0) gutter-sp(10);
                display: flex;
                flex-direction: column;
                width: gutter-per(100);

                .week {
                    display: flex;

                    .active {
                        background: $cal-current-date-bg;
                        color: $black;
                        border-radius: gutter-sp(50);
                    }

                    .day {
                        padding: gutter-sp(10);
                        width: gutter-per(14);
                        text-align: center;
                    }
                }
            }
        }

        .today-meetings {
            padding: gutter-sp(20) gutter-sp(0);
            .title {
                padding: gutter-sp(20) gutter-sp(0);
                border-top: gutter-sp(1) solid $cal-current-date-bg;
                border-bottom: gutter-sp(1) solid $cal-current-date-bg;
            }
        }
    }


}