<div class="calendar">
    <div class="row w-100">
        <div class="col-12 col-lg-3">
            <div class="smiple_view">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <span class="fs-24 fw-medium">{{month}}</span>
                        <span class="ml-10 fs-24 fw-medium">{{year}}</span>
                    </div>
                    <div class="d-flex align-items-center">
                        <mat-icon>arrow_back_ios</mat-icon>
                        <mat-icon>arrow_forward_ios</mat-icon>
                    </div>
                </div>
                <p class="fs-14 m-0 lh-30">Occupancy Quick View</p>
            </div>
        </div>
    </div>
</div>