@import '../../styles/variable.scss';

.selction_dates {
    &__calender {
        ::ng-deep .mdc-button__label {
            color: $calenderDate;
            font-weight: 400;
        }

        &__slots {
            background-color: $lite-white;

            .card:hover {
                border-color: $secondary-color;
            }

            .card ::ng-deep .mdc-list-item__primary-text {
                color: $black;
            }
        }

        .calenderDiv ::ng-deep .mat-calendar-body-cell-content.mat-focus-indicator.mat-calendar-body-today {
            background-color: $secondary-color;
            color: $white;
            border: none;
        }

        .calenderDiv ::ng-deep .mat-calendar-body-selected {
            background: $primary-color;
        }
    }

    &__footer {
        .reset {
            text-decoration: underline;
        }
    }

    .slots_radio ::ng-deep .mat-mdc-list-option .mdc-radio {
        display: none;
    }

    .slots_radio .mdc-list-item--with-trailing-radio.mdc-list-item {
        border-radius: gutter-sp(6);
    }

    .mdc-list-item:focus::before {
        background-color: $white;
    }

    .mdc-list-item:focus {
        border: gutter-sp(1) solid $secondary-color;
        outline: none;
    }

    .selction_dates .slots_radio .mdc-list-item--with-trailing-radio.mdc-list-item:focus {
        background-color: $white;
    }
}

.calenderDiv {

    .mat-calendar .mat-calendar-content .mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical),
    .mat-calendar-body-selected {
        background-color: $secondary-color;
        color: $white;
        filter: brightness(1.2);
        border: none;
        box-shadow: none;
    }

    .mat-calendar-body-today:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
        background-color: transparent;
        color: $black;
        border: gutter-sp(2) solid $secondary-color;
        box-shadow: none;
    }

    .mat-calendar-table td .mat-calendar-body-in-range::before {
        background: $light-silver;
    }
}

.selction_dates .calenderDiv .mat-calendar .mat-calendar-header .mat-calendar-controls .mat-mdc-button {
    font-size: clamp(gutter-sp(14), gutter-vw(1), gutter-sp(26));
}

.selction_dates .calenderDiv .mat-calendar .mat-calendar-table .mat-calendar-table-header th {
    font-size: clamp(gutter-sp(12), gutter-vw(1), gutter-sp(24));
}

.selction_dates .card.selction_dates__content .mat-calendar-content .mat-calendar-body-label ,
.mat-calendar-table .mat-calendar-body .mat-calendar-body-cell-content {
    font-size: clamp(gutter-sp(14), gutter-vw(1), gutter-sp(22));
}

