@import '../../styles/variable.scss';

.selction_dates {
    &__calender {
        ::ng-deep .mdc-button__label {
            color: $calenderDate;
            font-weight: 400;
        }

        &__slots {
            background-color: $lite-white;

            .card:hover {
                border-color: $secondary-color;
            }
            .card ::ng-deep .mdc-list-item__primary-text{
                color: $black;
            }
        }

        .calenderDiv ::ng-deep .mat-calendar-body-cell-content.mat-focus-indicator.mat-calendar-body-today {
            background-color: $secondary-color;
            color: $white;
            border: none;
        }

        .calenderDiv ::ng-deep .mat-calendar-body-selected {
            background: $primary-color;
        }
    }

    &__footer {
        .reset {
            text-decoration: underline;
        }
    }

    .slots_radio ::ng-deep .mat-mdc-list-option .mdc-radio {
        display: none;
    }

    .slots_radio .mdc-list-item--with-trailing-radio.mdc-list-item {
        border-radius: gutter-sp(6);
    }
    .selction_dates .slots_radio .mdc-list-item--with-trailing-radio.mdc-list-item:focus{
        background-color: $white !important;
    }
}