<div class="selction_dates d-flex flex-column justify-content-center align-items-center col-10 m-auto">
    <p class="selction_dates__title text-center fs-28 fw-500 text-black">When?</p>
    <div class="card col-sm-12 col-lg-6 p-2 selction_dates__content border-0">
        <div class="row selction_dates__calender w-100 m-auto d-flex justify-content-center align-items-center flex-column flex-lg-row flex-nowrap" *ngIf="specificDaysView">
            <div class="col-md-6 col-sm-12 col-lg-6 col-xl-6 col-xxl-6">
                <mat-calendar (selectedChange)="_onSelectedChange($event)" [selected]="selectedDateRange">
                </mat-calendar>
            </div>
            <div class="col-md-6 col-sm-12 col-lg-6 col-xl-6 col-xxl-6 selction_dates__calender__slots text-center"
                id="availableSlots">
                <h4 class="text-center p-2 mb-0">Available Slots</h4>
                <mat-selection-list #slot [multiple]="false" class="slots_radio" (selectionChange)="slotsChange($event)">
                    @for (slot of slots; track $index) {
                    <div class="card m-10 align-items-center">
                        <mat-list-option [value]="slot"><span  class="fs-13 fw-400">{{slot.shift}}</span></mat-list-option>
                    </div>
                    }
                </mat-selection-list>
            </div>
        </div>
    </div> 
</div>