@import "../../../../app/styles/variable.scss";

.buttons {
  display: flex;
  justify-content: center;
  padding: gutter-sp(0) gutter-sp(20) gutter-sp(20);

  .mat-button {
    border: gutter-sp(1) solid $black;
  }
}

.dialogue-heading {
  color: $dialogue-heading;
}

.dialogue-content {
  .span_color {
    color: $dialogue-contenthighlight;
  }
}