@import "../../../../app/styles/variable.scss";
@import "../../../custom-css/custom-material-colors.scss";
.mat-body{
   .title{
    color: $dialogfontcolor;
    font-family: 'Poppins', sans-serif;
   }
   .areyou{
    color: $dialogfontcolor;
    font-family: 'Poppins', sans-serif;
   }
    .buttons{
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        padding: 10px;
        .mat-button{
            border: 1px solid black;
        }
        .span_color{
            color: $dialogfontcolor;
            font-family: 'Poppins', sans-serif;
            background: rgba(39, 39, 39, 1);
        }
        &__cancel{
            border-radius: 50vw;
            width: 5vw;
            background: linear-gradient(90deg, #676767 0%, #C8B0AA 100%);
            color: $white;
            ;
        }
        &__yes{
            border-radius: 50vw;
            width: 5vw;
            background-color: $secondory-color;
            color: $white;
        }
    }
    
}