<div class="hallsView col-md-10 col-lg-10 col-xl-8 mx-md-auto mb-300 px-3 px-md-0">
    <div class="d-flex justify-content-center align-items-center flex-column gap-2 gap-lg-12 pb-70 pb-md-20">
        <p class="text-center fs-28 fw-500 text-black">Type of Halls?</p>
        <div class="card hallsView__card px-2 mt-2 mb-3 col-12">
            <div class="row w-100">
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="input-group border-clr">
                        <span class="input-group-text userImg">
                            <img src="../../../assets/images/halls/halls_user-img.png" class="hall-img"
                                alt="user"></span>
                        <div class="form-floating">
                            <input type="email" class="form-control guestclock" id="guestCount" placeholder="Guests"
                                value="40 Adults, 12 Children" readonly>
                            <label for="guestCount" class="custom_clr guestClockLabel">Guests</label>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="dateSection" (click)="matcheckinDate.open()">
                        <div class="input-group custom_icon border-clr" id="datepicker">
                            <span class="input-group-text custom_img" id="basic-addon1"><img src="../../assets/images/halls/calender-hall.png"
                            alt=""></span>
                            <div class="form-floating">
                                <input class="form-control custom_date_input" id="datepicker" placeholder="Guests"
                                    [value]="checkinDate" [(ngModel)]="checkinDate" matInput [matDatepicker]="matcheckinDate">
                                    <mat-datepicker #matcheckinDate></mat-datepicker>
                                <label for="guestCount" class="customLabel guestLabel">Check-in</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="dateSection" (click)="matcheckOutDate.open()">
                        <div class="input-group border-clr custom_icon" id="datepicker">
                            <span class="input-group-text custom_img" id="basic-addon1"><img src="../../assets/images/halls/calender-hall.png"
                            alt=""></span>
                            <div class="form-floating">
                                <input class="form-control custom_date_input" id="datepicker" placeholder="Guests"
                                    [(ngModel)]="checkOutDate" [value]="checkOutDate" matInput [matDatepicker]="matcheckOutDate">
                                    <mat-datepicker #matcheckOutDate></mat-datepicker>
                                <label for="guestCount" class="customLabel guestLabel">Check-out</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="input-group border-clr d-flex align-items-center ms-1">
                        <span class="input-group-text basic-icon d-block d-lg-none"><img
                                src="../../../../assets/images/icons/clock.png" alt="user"></span>
                        <div class="form-floating custom_select">
                            <select class="form-select guestclock" id="duration" aria-label="Default select example">
                                <ng-container *ngFor="let item of slots">
                                    <option [value]="item.id">{{item.shift}}</option>
                                </ng-container>
                            </select>
                            <label for="duration" class="custom_clr guestClockLabel">Duration</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @for(item of hallsList; track $index){
        <div class="hall-list gap-4 mt-10 mb-30 col-sm-10 col-md-12 mx-auto">
            <div class="row">
                <div class="d-flex hallsView__images align-items-start col-lg-4 col-xl-4 mb-3 mb-lg-0">
                    <img class="hallsView__images__img " src="{{item.src}}" width="" alt="{{item.name}}">
                </div>
                <div class="col-12 col-md-12 col-lg-8 col-xl-8 imgDesc gap-lg-2">
                    <div class="d-flex flex-column gap-2 gap-xl-3">
                        <div>
                            <span class="fs-20 fs-md-22 fs-lg-26 fw-500 text-black lh-1" role="button"
                                (click)="getDetails()">{{item.name}}</span>
                            <div
                                class="d-flex flex-column align-items-start align-items-lg-center flex-md-row gap-2 gap-lg-3">
                                <div> <span class="fs-12 fs-md-11 fs-lg-12 fontcolor">{{item.desc}}</span></div>
                                <div class="d-none d-md-flex"><span class="fontcolor">|</span></div>
                                <div><span class="fs-12 fs-md-11 fs-lg-12 fontcolor">{{item.diamensions}}</span></div>
                                <div class="d-none d-md-flex"><span class="fontcolor">| </span></div>
                                <div><span class="fs-12 fs-md-11 fs-lg-12 fontcolor"> {{item.status}}</span></div>
                            </div>
                        </div>
                        <div class="mt-xl-2">
                            <p class="fs-17 fw-500 mb-0 text-black">{{item.deposite}}</p>
                            <p
                                class="hallsView__desc fontcolor mb-0 fs-12 fs-md-11 fs-lg-13 wid-lg-80 mt-2 mt-md-2 mt-xl-1">
                                {{item.depositeDesc}}
                            </p>
                        </div>
                    </div>
                    <div>
                        <div class="d-flex align-items-baseline flex-wrap">
                            <span class="fs-36 fw-bold hallsView__priceColor my-0 lh-35 mt-3">{{item.price}}</span><span
                                class="fontcolor fs-12">{{item.taxText}}</span>
                        </div>
                        <div
                            class="d-flex justify-content-between align-items-center flex-column-reverse flex-md-row mt-3">
                            <div class="d-flex flex-column-reverse flex-md-row align-items-center  flex-row gap-2">
                                <button class="selected selectBtn fw-500 fs-14 rounded-pill"
                                    *ngIf="item.isActive" (click)="toggleSelection(item)">Selected</button>
                                <button class="reserve selectBtn border fs-14 rounded-pill "
                                    *ngIf="item.id !== selectedItem && !item.isActive"
                                    (click)="reserve(item)" (click)="toggleSelection(item)">Select</button>
                                <div class="d-flex gap-2 my-3 my-md-0">
                                    <span class="ms-2 hallsView__articles fs-14 fw-500" role="button"
                                        (click)="addArticles()">Add
                                        Articles</span>
                                    <span class="ms-2 hallsView__articles fs-14 fw-500" role="button"
                                        (click)="chooseMenu()">
                                        Choose Menu
                                    </span>
                                </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-center cursor "
                                (click)="getDetails()"><span class="fw-500 fs-14 mt-md-0" role="button">View
                                    Details</span><span><img src="../../../assets/images/halls/arrow-right.svg"
                                        alt=""></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        }
    </div>
</div>