<div class="hallsView col-md-10 col-lg-10 col-xl-8 mx-md-auto mb-300 px-3 px-md-0">
    <div class="d-flex justify-content-center align-items-center flex-column gap-2 gap-lg-12 pb-70 pb-md-20">
        <p class="text-center fs-30 fs-xl-32 fs-xxl-50 fw-500 text-black">Type of Halls?</p>
        <div class="card hallsView__card px-2 mt-2 mb-3 col-12">
            <div class="row w-100">
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="input-group border-clr">
                        <span class="input-group-text userImg">
                            <img src="../../../assets/images/halls/halls_user-img.png" class="hall-img"
                                alt="user"></span>
                        <div class="form-floating">
                            <input type="email" class="form-control guestclock fs-xxl-20 h-xxl-80" id="guestCount" placeholder="Guests"
                                value="40 Adults, 12 Children" readonly>
                            <label for="guestCount" class="custom_clr guestClockLabel fs-xl-18 fs-xxl-24">Guests</label>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <app-date-picker [label]="'Check-in'" [matDatepickerName]="'matcheckinDate'"
                        [image]="'/assets/images/halls/calender-hall.png'" [date]="checkinDate" [classNames]="'input-group custom_icon'"></app-date-picker>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <app-date-picker [label]="'Check-out'" [matDatepickerName]="'matcheckOutDate'"
                        [image]="'/assets/images/halls/calender-hall.png'" [date]="checkOutDate" [classNames]="'input-group custom_icon'"></app-date-picker>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="input-group border-clr d-flex align-items-center ms-1">
                        <span class="input-group-text basic-icon d-block d-lg-none"><img
                                src="../../../../assets/images/icons/clock.png" alt="user"></span>
                        <div class="form-floating custom_select">
                            <select class="form-select guestclock fs-xxl-20 h-xxl-80" id="duration" aria-label="Default select example">
                                <ng-container *ngFor="let item of slots">
                                    <option [value]="item.id">{{item.shift}}</option>
                                </ng-container>
                            </select>
                            <label for="duration" class="custom_clr guestClockLabel fs-xl-18 fs-xxl-24">Duration</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @for(item of hallsList; track $index){
        <div class="hall-list gap-4 mt-10 mb-30 col-sm-10 col-md-12 mx-auto">
            <div class="row">
                <div class="d-flex hallsView__images align-items-start col-lg-4 col-xl-4 mb-3 mb-lg-0">
                    <img class="hallsView__images__img " src="{{item.src}}" width="" alt="{{item.name}}">
                </div>
                <div class="col-12 col-md-12 col-lg-8 col-xl-8 imgDesc gap-lg-2">
                    <div class="d-flex flex-column gap-2 gap-xl-3">
                        <div>
                            <span class="fs-20 fs-md-22 fs-lg-26 fs-xl-28 fs-xxl-32 fw-500 lh-1 hallName" role="button"
                                (click)="getDetails()">{{item.name}}</span>
                            <div
                                class="d-flex flex-column align-items-start align-items-lg-center flex-md-row gap-2 gap-lg-3">
                                <div> <span class="fs-12 fs-md-11 fs-lg-12 fs-xl-14 fs-xxl-20 fontcolor">{{item.desc}}</span></div>
                                <div class="d-none d-md-flex"><span class="fontcolor">|</span></div>
                                <div><span class="fs-12 fs-md-11 fs-lg-12 fs-xl-14 fs-xxl-20 fontcolor">{{item.diamensions}}</span></div>
                                <div class="d-none d-md-flex"><span class="fontcolor">| </span></div>
                                <div><span class="fs-12 fs-md-11 fs-lg-12 fs-xl-14 fs-xxl-20 fontcolor"> {{item.status}}</span></div>
                            </div>
                        </div>
                        <div class="mt-xl-2">
                            <p class="fs-17 fs-xl-19 fs-xxl-26 fw-500 mb-0 text-black">{{item.deposite}}</p>
                            <p
                                class="hallsView__desc fontcolor mb-0 fs-12 fs-md-11 fs-lg-13 fs-xl-14 fs-xxl-20 wid-lg-80 mt-2 mt-md-2 mt-xl-1">
                                {{item.depositeDesc}}
                            </p>
                        </div>
                    </div>
                    <div>
                        <div class="d-flex align-items-baseline flex-wrap">
                            <span class="fs-36 fs-xl-38 fs-xxl-40 fw-bold hallsView__priceColor my-0 lh-35 mt-3">{{item.price}}</span><span
                                class="fontcolor fs-12 fs-xl-14 fs-xxl-20">{{item.taxText}}</span>
                        </div>
                        <div
                            class="d-flex justify-content-between align-items-center flex-column-reverse flex-md-row mt-3">
                            <div class="d-flex flex-column-reverse flex-md-row align-items-center  flex-row gap-2">
                                <app-button [btnClass]="'selected fs-xl-16 fs-xxl-22'" [btnName]="buttonSelected" *ngIf="item.isActive"
                                    (bannerActionEvent)="toggleSelection(item)"></app-button>
                                <app-button [btnClass]="'reserve fs-xl-16 fs-xxl-22'" [btnName]="buttonSelect" *ngIf="!item.isActive"
                                    (bannerActionEvent)="reserve(item)"></app-button>

                                <div class="d-flex gap-2 my-3 my-md-0">
                                    <span class="ms-2 hallsView__articles fs-14 fs-xl-16 fs-xxl-24 fw-500" role="button"
                                        (click)="addArticles()">Add
                                        Articles</span>
                                    <span class="ms-2 hallsView__articles fs-14 fs-xl-16 fs-xxl-24 fw-500" role="button"
                                        (click)="chooseMenu()">
                                        Choose Menu
                                    </span>
                                </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-center cursor halldetails"
                                (click)="getDetails()"><span class="fw-500 fs-14 fs-xl-16 fs-xxl-22 mt-md-0 view" role="button">View
                                    Details</span><span class="arrow"><img
                                        src="../../../assets/images/halls/arrow-color.svg" alt=""></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        }
    </div>
</div>


test