<div class="hallsView col-md-10 col-lg-10 col-xl-8 mx-md-auto mb-300 px-3 px-md-0">
    <div class="d-flex justify-content-center align-items-center flex-column gap-2 gap-lg-12 pb-70 pb-md-20">
        <p class="text-center fs-28 fw-500 text-black">Type of Halls?</p>
        <div class="card hallsView__card px-2 mt-2 mb-3 col-12">
            <div class="row w-100">
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="input-group border-clr pleft-3 ms-2 ">
                        <span class="input-group-text userImg">
                            <img src="../../../assets/images/halls/halls_user-img.png" class="hall-img"
                                alt="user"></span>
                        <div class="form-floating">
                            <input type="email" class="form-control guestclock" id="guestCount" placeholder="Guests"
                                value="40 Adults, 12 Children">
                            <label for="guestCount" class="custom_clr guestClockLabel">Guests</label>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="dateSection">
                        <div class="input-group custom_icon border-clr" id="datepicker">
                            <div class="form-floating">
                                <input type="date" class="form-control guest" id="datepicker" placeholder="Guests"
                                    [value]="checkinDate" [(ngModel)]="checkinDate">
                                <label for="guestCount" class="customLabel guestLabel">Check-in</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="dateSection">
                        <div class="input-group border-clr custom_icon" id="datepicker">
                            <div class="form-floating">
                                <input type="date" class="form-control guest" id="datepicker" placeholder="Guests"
                                    [(ngModel)]="checkOutDate" [value]="checkOutDate">
                                <label for="guestCount" class="customLabel guestLabel">Check-out</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="input-group border-clr d-flex align-items-center ms-3">
                        <span class="input-group-text basic-icon d-block d-lg-none me-1"><img
                                src="../../../../assets/images/icons/clock.png" alt="user"></span>
                        <div class="form-floating custom_select">
                            <select class="form-select guestclock" id="duration" aria-label="Default select example">
                                <ng-container *ngFor="let item of slots">
                                    <option [value]="item.id">{{item.shift}}</option>
                                </ng-container>
                            </select>
                            <label for="duration" class="custom_clr guestClockLabel">Duration</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @for(item of hallsList; track $index){
        <div class="hall-list gap-4 mt-10 mb-30 col-sm-10 col-md-12 mx-auto">
            <div class="d-flex d-md-block d-lg-flex flex-column flex-lg-row gap-3">
                <div class="d-flex hallsView__images align-items-start col-lg-4 col-xl-4">
                    <img class="hallsView__images__img " src="{{item.src}}" width="" alt="{{item.name}}">
                </div>
                <div class="d-flex col-11 col-md-12 col-lg-8 col-xl-7">
                    <div class="d-flex flex-column justify-content-between mt-0 mt-md-3 mt-lg-0">

                        <span class="fs-20 fs-md-22 fs-lg-26 fw-500 text-black lh-1" role="button"
                            (click)="getDetails()">{{item.name}}</span>
                        <div
                            class="d-flex flex-column align-items-start align-items-lg-center flex-md-row gap-2 gap-lg-3">
                            <div> <span class="fs-12 fs-md-11 fs-lg-12 fontcolor">{{item.desc}}</span></div>
                            <div class="d-none d-md-flex"><span class="fontcolor">|</span></div>
                            <div><span class="fs-12 fs-md-11 fs-lg-12 fontcolor">{{item.diamensions}}</span></div>
                            <div class="d-none d-md-flex"><span class="fontcolor">| </span></div>
                            <div><span class="fs-12 fs-md-11 fs-lg-12 fontcolor"> {{item.status}}</span></div>
                        </div>
                        <p class="fs-17 fw-500 mb-0 text-black mt-3">{{item.deposite}}</p>
                        <p class="hallsView__desc fontcolor mb-0 fs-12 fs-md-11 fs-lg-13 wid-lg-80 mt-2 mt-md-2 mt-xl-1">
                            {{item.depositeDesc}}
                        </p>
                        <div class="d-flex align-items-baseline flex-wrap">
                            <span class="fs-36 fw-bold hallsView__priceColor my-1 my-lg-3">{{item.price}}</span><span
                                class="fontcolor fs-12">{{item.taxText}}</span>
                        </div>
                        <div class="d-flex justify-content-between flex-column-reverse flex-md-row">
                            <div class="d-flex flex-column-reverse flex-md-row align-items-center  flex-row gap-3">
                                <button class="selected selectBtn fw-500 fs-14 rounded-pill"
                                    *ngIf="item.isActive">Selected</button>
                                <button class="reserve selectBtn border fs-14 rounded-pill "
                                    *ngIf="item.id !== selectedItem && !item.isActive"
                                    (click)="reserve(item)">Select</button>
                                <div>
                                    <span class="ms-2 hallsView__articles fs-14 fw-500" role="button"
                                        (click)="addArticles()">Add
                                        Articles</span>
                                    <span class="ms-2 hallsView__articles fs-14 fw-500" role="button"
                                        (click)="chooseMenu()">
                                        Choose Menu
                                    </span>
                                </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-center cursor p-2 text-nowrap float-end"
                                (click)="getDetails()"><span class="fw-500 fs-14 mt-2 mt-md-0" role="button">View
                                    Details &rarr;</span></div>
                        </div>
                    </div>
                </div>
            </div>


        </div>







        }
    </div>
</div>