@import '../../styles/variable.scss';

.hallsView {
    .guest {
        font-size: gutter-sp(13);
        color: $black;
        padding-left: gutter-sp(12);
    }

    .guestClockLabel {
        font-size: gutter-sp(14);
        padding-left: gutter-sp(5);
        padding-top: gutter-sp(20);
    }

    .guestclock {
        font-size: gutter-sp(13);
        color: $black;
        padding-left: gutter-sp(7);
        padding-top: gutter-rem(2.125);
    }

    .pleft-3 {
        padding-left: gutter-sp(3);
    }

    .hall-list {
        border: gutter-sp(1) solid $footer-email-border;
        border-radius: gutter-sp(5);
        align-items: center;
        padding: gutter-sp(14);
        height: gutter-per(100);

        .fontcolor {
            color: $hallsListFont;
        }
    }

    .imgDesc {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .hallName {
        color: $black;
    }

    .hallName:hover {
        color: $secondary-color;
    }

    &__card {
        .mat-mdc-form-field {
            width: gutter-per(100);
        }

        &__label-hall {
            color: $secondary-color;
        }

        .custom_clr {
            color: $secondary-color;
        }

        .hall-img {
            width: gutter-sp(34);
            height: gutter-sp(32);
            margin-top: gutter-sp(6);
        }

        .input-group {

            input,
            select {
                border: none;
            }

            input:focus,
            select:focus {
                border: none;
                box-shadow: none;
            }

            .custom_select select {
                --bs-form-select-bg-img: none
            }
        }



        .basic-icon {
            background-color: $white;
            border: gutter-sp(1) solid $white;
            padding: gutter-rem(0.375) gutter-rem(0);

            img {
                width: gutter-sp(20);
                height: gutter-sp(20);
            }
        }

        .userImg {
            background-color: $white;
            border: gutter-sp(1) solid $white;
            padding: gutter-rem(0.375) gutter-rem(0);

            img {
                width: gutter-sp(25);
                height: gutter-sp(25);
            }
        }

    }

    &__images {
        position: relative;

        &__icon {
            position: absolute;
            top: gutter-per(23);
            right: gutter-sp(0);
            left: gutter-sp(0);
            bottom: gutter-sp(0);
            margin: gutter-sp(0) auto;
            height: gutter-per(100);
            width: gutter-per(100);
            text-align: center;

            &__conformed-color {
                color: $confirm-text-clr;
            }

            .reserveID {
                text-decoration: none;
                font-weight: 700;
            }
        }

        &__img {
            width: gutter-per(100);
            height: auto;
            flex: 1;
            border-radius: gutter-sp(6);
        }

        @media (max-width: 991px) {
            &__img {
                width: gutter-per(100);
                height: auto;
                flex: 1;
                object-fit: cover;
            }
        }
    }

    &__priceColor {
        color: $list-of-halls-price-clr;
    }

    &__articles {
        text-wrap: nowrap;
        color: $secondary-color;
    }

    &__articles:hover {
        text-decoration: underline;
    }

    &__image_desc {
        max-width: gutter-per(40);
        flex: 1 1 auto;
    }
}

//hover-change
.halldetails {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    animation: view 0.5s;
}

//hover-change
.halldetails .arrow {
    opacity: 0;
    transform: translateX(0);
    transition: opacity 0.3s ease, transform 0.3s ease;
    margin-left: gutter-sp(2);
}

//hover-change
.halldetails:hover .arrow {
    opacity: 1;
    transform: translateX(gutter-sp(8));
    color: $secondary-color ;
}

//hover-change
.view:hover {
    color: $secondary-color;
}

.fixed-dialog {
    transform: translate(gutter-per(0), gutter-per(-17));
}

.choosemenu-dialog {
    position: absolute;
    top: gutter-sp(117);
}

.cdk-overlay-pane.mat-mdc-dialog-panel.choosemenu-dialog {
    max-width:gutter-per(100); 
    height: gutter-per(100);
    border-radius:gutter-sp(0);
}