<div class="row corporate mb-100">
    <div class="col-md-5 col-12 corporate__content mb-10">
       <p class="fs-32 fw-bold ls-wide mb-0">Corporate Meetings</p>
       <p class="corporate__content__color fs-32 mb-0">& Party's</p>
       <p class="fs-14 lh-36 pt-20 pb-20">"Plan your next business meeting with ease—reserve our versatile conference rooms tailored to your needs,
          complete with top-notch amenities, flexible seating arrangements, and seamless booking options. Let us help
          you create a professional and productive environment for your success!"
       </p>
       <strong><button class="corporate__content__btn">Make a Reservation -></button></strong>
    </div>
    <div class="col-md-6 offset-md-1 col-12 corporate__image mb-10">
       <div class="image-border">
          <img class="corporate__image__main" src="../../../assets/images/corporate/corporate.svg" alt="">
          <img src="../../../assets/images/corporate/videoIcon.svg" alt="" class="corporate__image__video">
       </div>
    </div>
 </div>
 <div class="row corporate">
    <div class="col-12 col-md-6 corporate__image mb-10">
       <div class="image-border-family">
          <img class="family__image__main" src="../../../assets/images/corporate/family.svg" alt="">
          <img src="../../../assets/images/corporate/videoIcon.svg" alt="" class="family__image__video">
       </div>
    </div>
    <div class="col-12 offset-md-1 col-md-5 corporate__content mb-10">
       <p  class="fs-32 fw-bold ls-wide mb-0">Family Events</p>
       <p class="corporate__content__familycolor fs-32 mb-0">& Weddings</p>
       <p class="fs-14 lh-36 pt-20 pb-20">"Make your family events and weddings unforgettable with our beautiful venues, customizable packages, and
          exceptional service. From intimate gatherings to grand celebrations, we offer seamless booking and
          personalized planning to ensure your special day is perfect in every way!"
       </p>
       <strong> <button class="corporate__content__familybtn">Make a Reservation -></button></strong>
    </div>
 </div>