@import "../../styles/variable.scss";

.corporate {
	display: flex;
	flex-wrap: wrap;

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: $gutter-14sp;

        &__color {
            color: $secondary-color;
        }

        &__familycolor {
            color: $family-yellow;
        }
		&__btn,
		&__familybtn {
			color: $secondary-color;
			border: $gutter-1sp solid $secondary-color;
			background: none;
			padding: $gutter-10sp $gutter-22sp;
			border-radius: $gutter-6sp;
			cursor: pointer;
			transition: background-color 0.3s, color 0.3s;
		}

		&__familybtn {
			color: $family-yellow;
			border: $gutter-1sp solid $family-yellow;
			background: none;
			padding: $gutter-10sp $gutter-22sp;
			border-radius: $gutter-6sp;
			cursor: pointer;
			transition: background-color 0.3s, color 0.3s;
		}

		&__image {
			position: relative;
			display: inline-block;

			&__main {
				width: $gutter-100per;
				height: $gutter-100per;
				border-radius: $gutter-10sp;
				object-fit: cover;
			}


		}
	}

	.corporate__image__video,
	.family__image__video  {
		position: absolute;
		top: $gutter-40per;
		left: $gutter-48per;
		width: $gutter-10per;
		height: auto;
	}
	.family__image__video  {
		left: $gutter-40per;
	}
	.corporate__image__main,
	.family__image__main {
		width:$gutter-100per
	}

	.image-border,
	.image-border-family {
		position: relative;
		height: $gutter-100per;
		display: flex;
	    justify-content: flex-end;

	}
}




