<div class="row corporate">
    <div class="col-sm-12 col-md-6 corporate__content">
        <h4>Corporate Meetings</h4>
        <h4 class="corporate__content__color">& Party's</h4>
        <p>"Plan your next business meeting with ease—reserve our versatile conference rooms tailored to your needs,
            complete with top-notch amenities, flexible seating arrangements, and seamless booking options. Let us help
            you create a professional and productive environment for your success!"</p>
        <button class="corporate__content__btn">Make a Reservation -></button>
    </div>
    <div class="col-sm-12 col-md-6 pr-0">
        <div class="corporate__image">
            <img class="corporate__image__main" src="../../../assets/images/corporate/corporate.svg" alt="">
            <img src="../../../assets/images/corporate/videoIcon.svg" alt="" class="corporate__image__video">
        </div>
    </div>
</div>