<div class="row corporate mt-0 mb-100">

   <div class="col-lg-5 col-12 corporate__content mb-20 mb-lg-0">
     <h2 class="fs-36 fs-xl-44 fs-xxl-52 lh-36 lh-xl-52 fw-500 mb-0" id="corporate-title">Corporate Meetings</h2>
     <p class="corporate__content__color fs-36 fs-xl-44 fs-xxl-52 lh-36 lh-xl-52 mb-0" aria-labelledby="corporate-title"> & Party's</p>
     <p class="fs-14 fs-xl-18 fs-xxl-22 lh-36 lh-xl-52 pt-20 pb-20" id="corporate-desc">
       "Plan your next business meeting with ease—reserve our versatile conference rooms tailored to your needs, 
       complete with top-notch amenities, flexible seating arrangements, and seamless booking options. 
       Let us help you create a professional and productive environment for your success!"
     </p>
     <app-button [btnClass]="'sideTransitionButton fs-16 fs-xl-20 fs-xxl-26'" [btnName]="'Make a Reservation'"></app-button>
   </div>
   <div class="col-lg-6 offset-lg-1 col-12 corporate__image">
      <div class="image-border">
         <img class="corporate__image__main" src="../../../assets/images/corporate/corporate.svg" alt="">
         <img src="../../../assets/images/corporate/videoIcon.svg" alt="" class="corporate__image__video">
      </div>
   </div>

 </div>
 <div class="row corporate">
    <div class="col-12 col-lg-6 corporate__image mb-20 mb-lg-0">
       <div class="image-border-family">
          <img class="family__image__main" src="../../../assets/images/corporate/family.svg" alt="">
          <img src="../../../assets/images/corporate/videoIcon.svg" alt="" class="family__image__video">
       </div>
    </div>
    <div class="col-12 offset-lg-1 col-lg-5 corporate__content">

      <h2 class="fs-36 fs-xl-44 fs-xxl-52 lh-36 lh-xl-52 fw-500 mb-0" id="family-title">Family Events</h2>
      <p class="corporate__content__familycolor fs-36 fs-xl-44 fs-xxl-52 lh-36 lh-xl-52 mb-0" aria-labelledby="family-title">& Weddings</p>
      <p class="fs-14 fs-xl-18 fs-xxl-22 lh-36 lh-xl-52 pt-20 pb-20" id="family-desc">
        "Make your family events and weddings unforgettable with our beautiful venues, customizable packages, 
        and exceptional service. From intimate gatherings to grand celebrations, we offer seamless booking and 
        personalized planning to ensure your special day is perfect in every way!"
      </p>
       <app-button [btnClass]="'sideTransitionButtonPrimary fs-16 fs-xl-20 fs-xxl-26'" [btnName]="'Make a Reservation'"></app-button>

    </div>
 </div>


 