@import "../../styles/variable.scss";

.corporate {
	display: flex;
	flex-wrap: wrap;

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: gutter-sp(14);

        &__color {
            color: $secondary-color;
        }

        &__familycolor {
            color: $family-yellow;
        }
		}
	}
	@keyframes pulse {
		0% {
		  transform: scale(1);
		}
		50% {
		  transform: scale(1.2); 
		}
		100% {
		  transform: scale(1);
		}
	  }
	.corporate__image__video,
	.family__image__video  {
		position: absolute;
		top: gutter-per(40);
		left: gutter-per(48);
		width: gutter-per(10);
		height: auto;
	}
	.family__image__video  {
		left: gutter-per(40);
	}
	.corporate__image__main,
	.family__image__main {
		width:gutter-per(100);
		
	}

	.image-border,
	.image-border-family {
		position: relative;
		height: gutter-per(100);
		display: flex;
	    justify-content: flex-end;
		cursor: pointer;

	}
	.image-border-family:hover .family__image__video {
		animation: pulse 1.5s infinite ease-in-out;
		box-shadow: gutter-sp(0) gutter-sp(0) gutter-sp(15) gutter-sp(5) $familyvideo-shadow;
		border-radius: gutter-per(50)
	  }
	  .image-border:hover .corporate__image__video {
		animation: pulse 1.5s infinite ease-in-out;
		box-shadow: gutter-sp(0) gutter-sp(0) gutter-sp(15) gutter-sp(5) $corporatevideo-shadow;
		border-radius: gutter-per(50)
	  }





