<div class="business-landing-page">
    <div class="business-banner">
        <div class="banner-content d-flex justify-content-center flex-column">
            <p class="banner-content__clr fs-16 fw-bold m-0 pb-14 fs-lg-20 fs-xl-22 fs-xxl-24">Bookings for Corporate Events</p>
            <p class="fs-24 fs-lg-44 fs-xl-48 fs-xxl-52 fw-bold mb-0 lh-34 lh-md-54">Looking for the perfect</p>
            <p class="fs-24 fs-lg-44 fs-xl-48 fs-xxl-52 fw-bold lh-34 lh-md-54">Business meeting venue?</p>
            <p class="lh-28 lh-xl-30 fs-lg-16 fs-14 fs-xl-18 fs-xxl-20 m-0">Get in touch with us to give your employees and channel partners </p>
            <p class="lh-28 lh-xl-30 fs-lg-16 fs-14 fs-xl-18 fs-xxl-20 m-0">a delightful experience will take care of end-to-end</p>
            <p class="lh-28 lh-xl-30 fs-lg-16 fs-14 fs-xl-18 fs-xxl-20 m-0">management of all your official events</p>
             <app-button [btnClass]="'businessBannerActionButton fs-18 fs-xl-20'" [btnName]="'Book Now'" (bannerActionEvent)="bookEvents('300ms', '300ms')"></app-button>
        </div>
    </div>

    <div class="business-landing-page__itworks">
        <app-how-it-works></app-how-it-works>
    </div>

    <div class="business-landing-page__corporate">
        <app-corporate></app-corporate>
    </div>

    <div class="business-landing-page__oneControl">
        <app-one-control></app-one-control>
    </div>

    <div class="business-landing-page__play-planned">
        <app-play-planned></app-play-planned>
    </div>

    <div class="business-landing-page__world-class">
        <app-world-class></app-world-class>
    </div>
</div>