@import "../../app/styles/variable.scss";

@mixin full-background($image-path) {
    background-image: linear-gradient(89.8deg, $business-gradient-clr1 gutter-per(38.78), $light-overlay gutter-per(131.06)), url($image-path);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.business-landing-page {
    .business-banner {
        min-height: calc(gutter-vh(100) - gutter-sp(90));
        width: gutter-per(100);
        position: relative;
        @include full-background("../../assets/images/Business/banner.svg");
    }

    .banner-content {
        padding: gutter-vw(14) gutter-vw(8) gutter-vw(2);
        color: $white;

        &__clr {
            color: $business-subtitle-clr;
            text-transform: uppercase;
        }

        &__btn {
            flex-shrink: 0;
            border-radius: gutter-sp(32);
            letter-spacing: gutter-sp(1);
            border: none;
            color: $white;
            margin-top: gutter-sp(20);
            background: $primary-color;
            padding: gutter-sp(8) gutter-sp(20);
            width: gutter-sp(150);
            height: gutter-sp(40);
            animation: fadeIn 4s forwards;
            position: relative;
            overflow: hidden;
        }

        &__btn::after {
            content: "";
            position: absolute;
            top: gutter-per(50);
            left: gutter-per(50);
            width: $value-null;
            height: $value-null;
            background: transparent;
            border-radius: gutter-per(50);
            box-shadow: 0 0 gutter-sp(5) gutter-sp(2) $ratingBackground,
                0 0 gutter-sp(10) gutter-sp(3) $ratingBackground,
                0 0 gutter-sp(15) gutter-sp(5) $ratingBackground;
            transform: translate(gutter-per(-50), gutter-per(-50));
            opacity: 0;
            transition: width 0.4s ease, height 0.4s ease, opacity 0.4s ease;
        }

        //hover-change
        &__btn:hover::after {
            width: gutter-sp(200);
            height: gutter-sp(200);
            opacity: 1;
        }

        @keyframes fadeIn {
            to {
                opacity: 1;
            }
        }
    }


    &__itworks {
        padding: gutter-vw(3) gutter-vw(6) gutter-vw(0);
    }

    &__corporate,
    &__oneControl,
    &__world-class {
        padding: gutter-vw(5) gutter-vw(9) gutter-vw(0);
    }

    &__play-planned {
        padding: gutter-vw(6) gutter-vw(16) gutter-vw(0);
    }

    &__world-class {
        padding-bottom: gutter-vw(5);
    }
}