@import '../../styles/variable.scss';

.invoice-view {
    position: relative;

    .invoiceId {
        color: $invoiceIdBlue;
    }

    .invoiceSub {
        color: $invoiceSub;
    }

    .refclr {
        color: $lite-black;
    }

    .vatclr {
        color: $vatclr;
    }

    .priceweight {
        font-weight: 600;
    }

    .logo {
        height: gutter-sp(50);
    }
}