<div class="invoice-view pt-5 pb-1">
    <!-- Header section -->
    <div class="invoice-view__head mb-20 d-flex flex-column px-4 px-md-5">
        <div class="d-flex justify-content-between mb-10 align-items-center">
            <img src="{{InvoiceViewData.logo}}" alt="Invoice Logo" class="logo">
            <div class="d-flex gap-2">
                <p class="fs-15 fs-md-22 priceweight invoiceId">{{InvoiceViewData.InvoiceId}}</p>
                <p class="fs-15 fs-md-22 priceweight invoiceSub">{{InvoiceViewData.InvoiceIdSub}}</p>
            </div>
        </div>
        <div class="d-flex justify-content-between">
            <div class="d-flex flex-column">
                <span class="fs-8 fs-md-10 priceweight">{{InvoiceViewData.address}}</span>
                <span class="fs-8 fs-md-10 priceweight">{{InvoiceViewData.addressSub}}</span>
                <span class="fs-8 fs-md-10 priceweight">{{InvoiceViewData.phone}}</span>
            </div>
            <div class="d-flex flex-column">
                <div class="d-flex justify-content-between">
                    <span class="fs-8 fs-md-10 fw-bold refclr">Ref No:</span>
                    <span class="ms-4 fs-8 fs-md-10 priceweight">{{InvoiceViewData.refNumber}}</span>
                </div>
                <div class="d-flex justify-content-between">
                    <span class="fs-8 fs-md-10 fw-bold refclr">Issued Date:</span>
                    <span class="ms-4 fs-8 fs-md-10 priceweight">{{InvoiceViewData.issuedDate}}</span>
                </div>
            </div>
        </div>
    </div>
    <!-- Bill Section -->
    <div class="invoice-view__bill mb-20">
        <div
            class="invoice-view__bill__section d-flex flex-column flex-md-row justify-content-between align-items-start g-3 px-4 px-md-5">
            <div class="col-12 col-md-4">
                <p class="fs-13 mb-1 priceweight invoiceId">Bill To</p>
                <p class="fs-11 refclr">{{InvoiceViewData.billTo}}</p>
            </div>
            <div class="col-12 col-md-4">
                <p class="fs-13 mb-1 priceweight invoiceId">Bill From</p>
                <p class="fs-11 refclr">{{InvoiceViewData.billFrom}}</p>
            </div>
            <div class="col-12 col-md-4">
                <p class="fs-13 mb-1 priceweight invoiceId">Description</p>
                <p class="fs-11 refclr">{{InvoiceViewData.desc}}</p>
            </div>
        </div>
    </div>
    <!-- Services Section -->
    <div class="invoice-view__service mt-20 mb-20 px-4 px-md-5 col-12">
        <span class="fw-bold fs-13 col-6">Services</span>
        <hr>
        <div class="d-flex justify-content-between align-items-center mb-2">
            <span class="fw-bold fs-13 col-6">Queens Lagoon Suite</span>
            <span class="invoiceId priceweight fs-13">€ 4200.00</span>
        </div>
        <div class="d-flex justify-content-between">
            <span class="fw-bold fs-13">Total Cost</span>
            <span class="invoiceId priceweight fs-13">€ 4200.00</span>
        </div>
        <hr>
        <div class="d-flex justify-content-between">
            <span class="fw-bold fs-13">Subtotal</span>
            <span class="invoiceId priceweight fs-13">€ 4200.00</span>
        </div>
        <div class="d-flex justify-content-between">
            <span class="vatclr fs-12">VAT 21%</span>
            <span class="vatclr fs-12">€ 40.00</span>
        </div>
    </div>

    <!-- Total Section -->
    <div class="mt-20 mb-20 invoice-view__total">
        <div class="d-flex justify-content-between invoice-view__total__section px-4 px-md-5">
            <span class="fw-bold fs-13">Total</span>
            <span class="invoiceId priceweight fs-13">€ 4240.00</span>
        </div>
    </div>

    <!-- Details Section -->

    <div class="invoice-view__details mt-10 mb-10">
        <div class="invoice-view__details d-flex justify-content-between align-items-start px-4 px-md-5 gap-2 flex-wrap">
            <div>
                <span class="fs-10 fw-500" >Account</span>
                <p class="invoiceSub fs-10 mb-0">{{InvoiceViewData.account}}</p>
            </div>
            <div>
                <span class="fs-10 fw-500 text-nowrap">IBAN number</span>
                <p class="invoiceSub fs-10 mb-0">{{InvoiceViewData.ibanNumber}}</p>
            </div>
            <div>
                <span class="fs-10 fw-500 text-nowrap">BIC code</span>
                <p class="invoiceSub fs-10 mb-0">{{InvoiceViewData.bicCode}}</p>
            </div>
            <div>
                <span class="fs-10 fw-500">VAT</span>
                <p class="invoiceSub fs-10 mb-0">{{InvoiceViewData.vat}}</p>
            </div>
            <div>
                <span class="fs-10 fw-500">CoC</span>
                <p class="invoiceSub fs-10 mb-0">{{InvoiceViewData.coc}}</p>
            </div>
        </div>

    </div>

    <!-- payment Text Desc -->

    <div class="invoice-view__payment px-4 px-md-5">
        <p class="fs-7">{{InvoiceViewData.paymentInfo}}</p>
    </div>
</div>