@import " ../../../../styles/variable.scss";
@import "../../../app/custom-css/custom-material-colors.scss";

.guest {
    &__form {
        margin: 0 auto;
    }

    &__card {
        background-color: $ash-white;

        &__input {
            width: gutter-per(100);
        }
        input:focus {
            outline: none;
          }
    }
}