@import " ../../../../styles/variable.scss";
@import "../../../app/custom-css/custom-material-colors.scss";

.guest {
    &__form {
        margin: gutter-sp(0) auto gutter-sp(220);
    }

    &__title {
        color: $black;
    }

    &__card {
        background-color: $ash-white;

        &__label {
            color: $black;
        }

        &__input {
            width: gutter-per(100);
        }
        &__input::placeholder {
            font-size: gutter-sp(14);
        }

        input:focus {
            outline: none;
        }
    }
}