<div class="guest">
    <h2 class="guest__title text-center">For How Many?</h2>
    <div class="guest__form row d-flex justify-content-center w-100">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
            <ng-container *ngFor="let field of guestFields">
                <div class="guest__card">
                    <p class="guest__card__label">{{ field.label }}</p>
                    <input class="guest__card__input pad-10" type="number" [(ngModel)]="field.value" min="1"
                        [placeholder]="'Enter No of ' + field.label" (input)="field.changeFunction(field.value)">
                </div>
            </ng-container>
        </div>
    </div>
</div>