@import "../../../styles/variable.scss";

.mat-calendar-table td .mat-calendar-body-selected {
  background-color: $secondary-color;
  color: $white;
}

.cdk-program-focused .mat-calendar-table .mat-calendar-body-active>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
  border: none;
  background-color: $secondary-color;
  color: $white;
}


.mat-calendar-table td .mat-calendar-body-today:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
  background-color: transparent;
  color: $black;
  border: gutter-sp(2) solid $secondary-color;
  box-shadow: none;
}

.mat-calendar-table td .mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
  background-color: $secondary-color;
  filter: brightness(1.2);
  color: $white;
}

.mat-calendar-table td .mat-calendar-body-in-range::before {
  background: $light-silver;
}

.mat-calendar-table td .mat-calendar-body-selected.mat-calendar-body-today {
  box-shadow: none;
}

.mat-date-range-input .mat-date-range-input-container input::placeholder,
.mat-date-range-input .mat-date-range-input-container .mat-date-range-input-separator{
  opacity: gutter-per(45);
}

.mat-date-range-input .mat-date-range-input-container input {
  opacity: gutter-per(100);
  font-size: gutter-sp(14);
  font-weight: 500;
}

.custom_date {

  .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__trailing,
  .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__leading,
  .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__trailing,
  .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__leading {
    border-color: $event-input-border-clr;
  }

  .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline .mdc-notched-outline__trailing,
  .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline .mdc-notched-outline__leading {
    border-color: $secondary-color;
    border-width: gutter-sp(1);
  }
}

.mat-icon {
  opacity: gutter-per(75);
  color: $drop-down-icon-clr;
}

.cdk-overlay-connected-position-bounding-box .mat-datepicker-popup {
  top: gutter-sp(105);
  position: relative;
}