@import "../../../styles/variable.scss";

.custom_date {
    --mdc-outlined-text-field-outline-color: #{$event-input-border-clr};
    --mdc-outlined-text-field-hover-outline-color: #{$event-input-border-clr};
    --mdc-outlined-text-field-focus-outline-color: #{$secondary-color};
    --mdc-outlined-text-field-focus-outline-width: #{gutter-sp(1)};
    width: gutter-per(100);
}

.mat-icon {
    opacity: gutter-per(75);
    color: $drop-down-icon-clr;
}