<mat-form-field [ngClass]="calssName" appearance="outline" (keyup.enter)="matPickerClass.open()"
    (keyup.space)="matPickerClass.open()" (click)="matPickerClass.open()">
    <input matInput [(ngModel)]="selectedTimefromPicker" [ngxMatTimepicker]="matPickerClass"
        [placeholder]="placeHolderText" class="custom_time" (ngModelChange)="onTimeChange($event)">
    <mat-icon matSuffix class="mat-icon">keyboard_arrow_down</mat-icon>
    <ngx-mat-timepicker #matPickerClass pannelClass="custom-timepicker-panel"></ngx-mat-timepicker>
</mat-form-field>