@import "../../../styles/variable.scss";


.custom_date {
    width: gutter-per(100);
}

.time_picker .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-text-field__input {
    opacity: gutter-per(100);
    font-size: gutter-sp(14);
    font-weight: 500;
}

.time_picker .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-text-field__input::placeholder {
    opacity: gutter-per(45);
}

.custom_label {
    opacity: gutter-per(75);
}

.mat-icon {
    opacity: gutter-per(75);
    color: $drop-down-icon-clr;
}


.timepicker .timepicker-dial__time .timepicker-dial__control:focus {
    background-color: transparent;
}

.mat-toolbar.timepicker-header,
.mat-toolbar.clock-face__clock-hand,
.mat-toolbar.clock-face__center,
.clock-face .mat-mdc-mini-fab {
    background: $secondary-color;
}

.clock-face .mat-mdc-mini-fab.mat-unthemed {
    background: transparent;
}

.mdc-dialog__actions .mdc-button .mdc-button__label {
    color: $secondary-color;
}

.ngx-mat-timepicker-dialog .mdc-dialog__actions .mdc-button:hover {
    background: $secondary-color;

    .mdc-button__label {
        color: $white;
    }
}

.timepicker__body .clock-face {
    width: clamp(gutter-sp(220), gutter-vw(58), gutter-sp(290));
    height: clamp(gutter-sp(220), gutter-vw(58), gutter-sp(290));
}

.timepicker__body .clock-face__number--outer {
    height: clamp(gutter-sp(100), gutter-vw(26), gutter-sp(125));
}

.timepicker__body .clock-face__number {
    top: calc(gutter-per(50) - clamp(gutter-sp(100), gutter-vw(26), gutter-sp(125)));
}

.timepicker__body .clock-face__clock-hand_minute>button {
    top: calc(-1 * (clamp(gutter-sp(15), gutter-vw(4), gutter-sp(22))));
}

.timepicker__body .clock-face__clock-hand {
    height: clamp(gutter-sp(85), gutter-vw(22), gutter-sp(103));
    top: calc(gutter-per(50) - clamp(gutter-sp(85), gutter-vw(22), gutter-sp(103)));
}