@import '../../../styles/variable.scss';


//mat-checkbox
 :host .mdc-checkbox .mdc-checkbox__native-control:enabled:checked~ .mdc-checkbox__background{
    border-color: $secondary-color;
    background-color: $secondary-color;
    height: gutter-sp(15);
    width: gutter-sp(15);
  }
  
  .mdc-checkbox__background {
    height: gutter-sp(15) !important;
    width: gutter-sp(15) !important;
  }
  
  .mdc-checkbox .mdc-checkbox__native-control:enabled:indeterminate~.mdc-checkbox__background {
    border-color: $secondary-color !important;
    background-color: $secondary-color !important;
  }
  
  .mdc-checkbox__ripple {
    display: none !important;
  }
  
  