@import "../../../app/styles/variable.scss";
@import "../../custom-css/custom-material-colors.scss";

.signup {
    width: 50vw;
    margin: 0 auto;
    margin-top: 4vw;
    margin-bottom: 4vw;

    .mat-mdc-form-field {
        width: 100%;
    }

    &__color {
        color: $secondory-color;
        font-weight: 500;
    }

    &__button {
        text-align: center;

        &__btn {
            background-color: $secondory-color;
            color: $white;
            border: 0;
            border-radius: 5px;
            padding-top: 0.5vw;
            padding-bottom: 0.5vw;
            padding-left: 10vw;
            padding-right: 10vw;
        }
    }

}