@import "../../../app/styles/variable.scss";

.signup {
  margin: $value-null auto;
  margin-top: gutter-vw(2);
  margin-bottom: gutter-vw(4);

  &__color {
    color: $secondary-color;
    
  }

  &__button {
    text-align: center;

    &__btn {
      background-color: $secondary-color;
      color: $white;
      border: $value-null;
      border-radius: gutter-sp(5);
      padding:gutter-sp(10) gutter-sp(100);
      &:hover {
        background-color: $primary-hover; 
            box-shadow: $value-null gutter-sp(4) gutter-sp(8) $shadow-black; 
      }
    }
  }
}
.sign-up-form {
  height: gutter-sp(44);
  border: gutter-sp(1) solid $border-silver;
}
.g-4 {
  --bs-gutter-x: #{gutter-rem(3)};
  --bs-gutter-y: #{gutter-rem(0)};
}
.checkbox-imp {
  color: $livebtn-clr;
  text-decoration: none;
}
.terms-condition {
  text-decoration: underline;
  color: $form-blue;
}
input:focus {
  outline: none;
  box-shadow: none;
  border-color: $form-focus;
}
.password-container {
  position: relative;

  .toggle-password {
    top: gutter-per(50);
    right: gutter-sp(10);
    transform: translateY(gutter-per(-50));
    cursor: pointer;
    z-index: 10;
    width: gutter-sp(20); 
    height: gutter-sp(20);
  }

  input {
    padding-right: gutter-sp(40);
  }
}
