@import "../../../styles/variable.scss";
@import "../../../custom-css/custom-material-colors.scss";

.card {
    height: 450px;
    margin-bottom: 10px;

    img{
        height: 250px;
        width: 100%;
        object-fit: cover;
    }

    .card-title {
        text-wrap: nowrap;
        overflow: hidden;
    }

    .card-text {
        height: 50px;
        overflow: hidden;
    }

    .card-link {
        position: absolute;
        bottom: 30px;
    }

    &__color {
        color: $secondory-color;
        text-decoration: none;
    }
}