<div id="multiItemCarousel" class="carousel slide carousel-multi-item" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="row g-5">
                @for(carousel of carouselItem; track $index){
              <div class="col-md-4 col-12 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card no-border gap-26">
                        <img src={{carousel.src}} alt="Card Image" class="card-image">
                        <div class="card-content d-flex flex-column gap-20">
                          <p class="card-heading fs-18 fw-500 mb-0">{{carousel.name}}</p>
                          <p class="card-text fs-14 lh-34 mb-0">{{carousel.desc}}</p>
                          <strong><button class="card-button readmore-btn fs-14 fw-bold p-0">{{carousel.button}}</button></strong>
                        </div>
                      </div>
                    </div>
                }
            </div>
        </div>
        <div class="carousel-item">
            <div class="row g-5">
                @for(carousel of carouselItem; track $index){
                    <div class="col-md-4 col-12 col-lg-4 col-xl-4 col-xxl-4">
                        <div class="card no-border gap-26">
                            <img src={{carousel.src}} alt="Card Image" class="card-image">
                            <div class="card-content d-flex flex-column gap-20">
                              <p class="card-heading fs-18 fw-medium mb-0">{{carousel.name}}</p>
                              <p class="card-text fs-14 lh-34 mb-0">{{carousel.desc}}</p>
                              <strong><button class="card-button readmore-btn fs-14 fw-medium p-0">{{carousel.button}}</button></strong>
                            </div>
                          </div>
                        </div>
                }
            </div>
        </div>

        <!-- <a class="carousel-control-prev" href="#multiItemCarousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#multiItemCarousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </a> -->
    </div>
</div>