<div class="dateSection" (click)="matDatepickerName.open()">
    <div [ngClass]="classNames" id="datepicker">
        <span class="input-group-text custom_img" id="basic-addon1"><img [src]="image" alt=""></span>
        <div class="form-floating custom_floating">
            <input class="form-control custom_date_input" id="datepicker" placeholder="Guests" matInput
                [matDatepicker]="matDatepickerName" (selectionchange)="dateChange($event)" [(ngModel)]="date">
            <mat-datepicker #matDatepickerName></mat-datepicker>
            <label for="guestCount" class="customLabel guestLabel fs-xl-18">{{label}}</label>
        </div>
    </div>
</div>