<div class="container-fluid justify-content-around align-items-space-between py-4">
    <div class="footer-item">
        <div class=""> Quick links</div>
        <hr>
        <div>Mew and Upcoming events</div>
        <div>Best Rate Guarantee</div>
        <div>Gift Cards</div>
    </div>
    <div class="footer-item">
        <div class="">Travel Professionals</div>
        <hr>
        <div>Partners</div>
        <div>Travel Agents</div>
        <div>Travel Agents</div>
    </div>
    <div class="footer-item">
        <div>Legal</div>
        <hr>
        <div>Privacy Center</div>
        <div>Terms and Conditions</div>
    </div>
    <div class="vLine pe-5 footer-item">
        <div>Contact</div>
        <hr>
        <div>De Bonte Wever Assen</div>
        <div>Stadsbroek17</div>
        <div>9405 BK ASSEN</div>
        <div>+31 (0)592-303777</div>
        <div>reserveringen&#64;debontewever.nl</div>
        <div>KvK: 04053125</div>
    </div>
    <div class="px-0 align-content-center footer-item">
        <div>Certificates</div>
        <hr>
        <div class="d-flex mb-5">
            <div>
                <img class="greenKey px-2" src="../../../../assets/images/logo/GreenKey.svg" alt="">
            </div>
            <div>
                <img class="yoin px-2" src="../../../../assets/images/logo/YOIN.svg" alt="">
            </div>
        </div>
        <div>
            <img class="zoover-award mx-3" src="../../../../assets/images/logo/zoover-award-silver-2023.svg" alt="">
        </div>
        <div class="subscribeBox">
            <div class="subscribeBox-text fs-9">
                Enter your email id to subscribe 
            </div>
            <div class="" style="width: 20%;">
                <img class="ps-1" src="../../../../assets/images/logo/arrow-right-solid.svg" alt="">
            </div>
        </div>
    </div>
</div>