<div class="">
    <div class="footer py-5">
        <div class="container">
            <div
                class="d-flex flex-column flex-lg-row flex-xl-row flex-md-wrap justify-content-between gap-2">
                <!-- Render first four columns    -->
                @for (column of footerColumns; track $index) {
                <div class="d-flex flex-column">
                    @if(column.links){
                    <ng-container>
                        <span class="fs-18 fw-500 text-color">{{ column.title }}</span>
                        <hr class="w-100 text-color h-2">
                        <ul class="list-unstyled">
                            @for (link of column.links; track $index) {
                            <li class="py-1 fs-14">
                                <a href="#" class="text-color">{{ link }}</a>
                            </li>
                            }
                        </ul>
                    </ng-container>
                    }

                    <!-- Render fifth column with images statically -->
                </div>
                }
                <div class="vLine d-md-none d-xl-flex">
                    <p></p>
                </div>
                <div>
                    <div class="text-color">Certificates</div>
                    <hr class="col-11 col-md-10">
                    <div class="d-flex mb-5">
                        <div>
                            <img class="greenKey px-2" src="../../../../assets/images/logo/GreenKey.svg" alt="">
                        </div>
                        <div>
                            <img class="yoin px-2" src="../../../../assets/images/logo/YOIN.svg" alt="">
                        </div>
                    </div>
                    <div>
                        <img class="zoover-award mx-3" src="../../../../assets/images/logo/zoover-award-silver-2023.svg"
                            alt="">
                    </div>
                </div>
            </div>
        </div>
        <div>

        </div>
    </div>
    <!-- Below footer -->
    <div class="footer_logo">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <img class="w-150 h-100 p-20" src="../../../../assets/images/logo/de-bonte-wever.svg" alt="">
                </div>
                <div class="subscribeBox h-30 d-flex align-items-center">
                    <div class="subscribeBox-text fs-10 text-white px-5 px-sm-1">
                        Enter your email id to subscribe
                    </div>
                    <div class="">
                        <img class="px-2 w-30 h-10" src="../../../../assets/images/logo/arrow-right-solid.svg" alt="">
                    </div>
                </div>
                <div class="d-flex justify-content-around align-items-center">
                    <img class="w-8 h-20 w-lg-10 h-lg-24 " src="../../../../assets/images/logo/f.png" alt="">
                    <img class="w-8 h-20 w-lg-10 h-lg-24 mx-4" src="../../../../assets/images/logo/x.png" alt="">
                    <img class="w-8 h-20 w-lg-10 h-lg-24" src="../../../../assets/images/logo/in.png" alt="">

                </div>
            </div>
        </div>
    </div>
</div>