@import "../../../../app/styles/variable.scss";


.main-footer {

    .text-color {
        color: $footer-text-color;
    }

    .footer {
        background-color: $footer-black;
        padding: gutter-vw(0) gutter-vw(5);

        a {
            text-decoration: none;
        }

        .vLine {
            border-left: gutter-sp(1) solid $footer-border-line;
            margin-bottom: gutter-sp(10);
            height: gutter-sp(250);
        }

        a:hover {
            text-decoration: underline;
        }
    }

    .footer_logo {
        background-color: $footer-logo-background;
        padding: gutter-vw(1) gutter-vw(5);


        .subscribeBox {
            border-right: $gutter-100per;
            border: gutter-sp(1) solid $footer-email-border;
            border-radius: gutter-sp(6);
        }
    }

    .email-input {
        background-color: $footer-logo-background;
        border: gutter-sp(1) solid $footer-logo-background;
        border-radius: gutter-sp(5);
        color: $white-smoke;
    }

    .input-with-image {
        background: $footer-logo-background;
        border: none;
        border-radius: gutter-sp(8);
        color: $footer-email-border;
        height: gutter-per(100);
        border-left: gutter-sp(1) solid $footer-email-border;
        margin: gutter-sp(2);
    }

    .input-img {
        border: gutter-sp(1) solid $footer-logo-background;
        border-radius: gutter-sp(5);
        background-color: $footer-logo-background;
    }

    input::placeholder {
        color: $footer-email-border;
        font-size: clamp(gutter-sp(16), gutter-vw(1), gutter-sp(26));
    }

    .input-group .form-control {
        border: none;
        border-radius: gutter-sp(8);
        margin: gutter-sp(1) gutter-sp(4) gutter-sp(1) gutter-sp(18);
        font-size: clamp(gutter-sp(16), gutter-vw(1), gutter-sp(24));
    }
    .input-group{
        border: gutter-sp(1) solid $footer-email-border;
        border-radius: gutter-sp(8);
        align-items: center;
    }

    input:focus {
        outline: none;
        box-shadow: none;
    }

    input:focus,
    textarea:focus {
        outline: none;
        box-shadow: none;
        border-color:  $footer-email-border;
    }

    .email-input:focus-visible {
        outline: none;
    }
}