@import "../../../../app/styles/variable.scss";

.footer {
    background-color: $footer-black;

    a {
        text-decoration: none;
    }

    .vLine {
        border-left: 1px solid rgb(89 98 104);
        margin-bottom: 10px;
        height: 250px;
    }

    a:hover {
        text-decoration: underline;
    }
}
.footer_logo {
    background-color: $footer-logo-background;

    .subscribeBox-text {
        border-right: 2px solid rgb(89 98 104);
    }

    .subscribeBox {
        border-right: 100%;
        border: 1px solid rgb(89 98 104);
    }
}