<div class="row">
    <div class="col-12 col-md-4">
        <p class="fs-16 fs-lg-20 fw-medium">Property Rules</p>
        <p class="lh-34">{{PropertyRules.name}}</p>
    </div>
    <div class="col-12 col-md-4">
        <p class="fs-16 fs-lg-20 fw-medium">Safety & Property</p>
        <p class="lh-34">{{safety.name}}</p>
    </div>
    <div class="col-12 col-md-4">
        <p class="fs-16 fs-lg-20 fw-medium">Cancellation Policy</p>
        <p class="lh-34">{{cancelledPolicy.name}}</p>
    </div>
</div>