<div class="row thingsToKnow">
    <div class="col-12 col-md-4">
        <p class="fs-18 fs-xl-20 fs-xxl-30  m-0 pb-20 fw-medium">Property Rules</p>
        <p class="lh-34 lh-xl-50 fs-14 fs-xl-16 fs-xxl-26 max-width-xxl-500 max-width-300">{{PropertyRules.name}}</p>
    </div>
    <div class="col-12 col-md-4">
        <p class="fs-18 fs-xl-20 fs-xxl-30 m-0 pb-20 fw-medium">Safety & Property</p>
        <p class="lh-34 lh-xl-50 fs-14 fs-xl-16 fs-xxl-26 max-width-xxl-500 mx-width-300">{{safety.name}}</p>
    </div>
    <div class="col-12 col-md-4">
        <p class="fs-18 fs-xl-20 fs-xxl-30 m-0 pb-20 fw-medium">Cancellation Policy</p>
        <p class="lh-34 lh-xl-50 fs-14 fs-xl-16 fs-xxl-26 max-width-xxl-500 max-width-300">{{cancelledPolicy.name}}</p>
    </div>
</div>