<div class="row thingsToKnow">
    <div class="col-12 col-md-4">
        <p class="fs-18 fs-xl-20 fs-xxl-22  m-0 pb-20 fw-medium">Property Rules</p>
        <p class="lh-34 fs-14 fs-xl-16 fs-xxl-18 text">{{PropertyRules.name}}</p>
    </div>
    <div class="col-12 col-md-4">
        <p class="fs-18 fs-xl-20 fs-xxl-22 m-0 pb-20 fw-medium">Safety & Property</p>
        <p class="lh-34 fs-14 fs-xl-16 fs-xxl-18 text">{{safety.name}}</p>
    </div>
    <div class="col-12 col-md-4">
        <p class="fs-18 fs-xl-20 fs-xxl-22 m-0 pb-20 fw-medium">Cancellation Policy</p>
        <p class="lh-34 fs-14 fs-xl-16 fs-xxl-18 text">{{cancelledPolicy.name}}</p>
    </div>
</div>