@import '../../../styles/variable.scss';

.hallsView {


    .guest {
        font-size: gutter-sp(13);
        padding-left: gutter-sp(12);
    }

    .guestLabel {
        font-size: gutter-sp(14);
        padding-left: gutter-sp(8);
        padding-top: gutter-sp(20);
    }

    .guestClockLabel {
        font-size: gutter-sp(14);
        padding-left: gutter-sp(5);
        padding-top: gutter-sp(20);
    }

    .guestclock {
        font-size: gutter-sp(13);
        padding-left: gutter-sp(7);
    }

    .hall-list {
        border: gutter-sp(1) solid $footer-email-border;
        border-radius: gutter-sp(5);
        align-items: center;
        padding: gutter-sp(14);
        height: gutter-per(100);


        .font-color {
            color: $font-ash;
        }

        .imgDesc {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .hallName {
            color: $black;
        }

        .hallName:hover {
            color: $secondary-color;
        }

        .halldetails .arrow {
            opacity: 0;
            transform: translateX(0);
            transition: opacity 0.3s ease, transform 0.3s ease;
            margin-left: gutter-sp(2);
        }

        //hover-change
        .halldetails:hover .arrow {
            opacity: 1;
            transform: translateX(gutter-sp(8));
            color: $secondary-color ;
        }

        .view:hover {
            color: $secondary-color;
        }
    }

    &__card {
        .mat-mdc-form-field {
            width: gutter-per(100);
        }

        .custom_clr {
            color: $secondary-color;
        }

        .hall-img {
            width: gutter-sp(34);
            height: gutter-sp(32);
            margin-top: gutter-sp(6);
        }

        .mat-mdc-input-element {
            font-size: gutter-sp(14);
            height: gutter-sp(16);
        }

        .input-group {

            input,
            select {
                border: none;
            }

            input:focus,
            select:focus {
                border: none;
                box-shadow: none;
            }

            .custom_select select {
                --bs-form-select-bg-img: none
            }
        }

        .dateSection {
            border-radius: gutter-rem(0.375);

            .custom_img {
                background: $white;
                border: none;
                padding: gutter-rem(0.375) gutter-rem(0);

                img {
                    width: gutter-sp(30);
                    height: gutter-sp(30);
                }
            }

            .custom_date_input {
                border: none;
                padding-left: gutter-sp(3);
                font-size: gutter-sp(13);
            }

            .customLabel {
                padding-left: gutter-sp(0);
                color: $secondary-color;

            }

            .custom_date_input:focus {
                box-shadow: none;
                border-color: $custom-input-border-clr;
            }
        }

        .basic-icon {
            background-color: $white;
            border: gutter-sp(1) solid $white;
            padding: gutter-rem(0.375) gutter-rem(0.25);

            img {
                width: gutter-sp(18);
                height: gutter-sp(18);
            }
        }

        .userImg {
            background-color: $white;
            border: gutter-sp(1) solid $white;
            padding: gutter-rem(0.375) gutter-rem(0);

            img {
                width: gutter-sp(25);
                height: gutter-sp(25);
            }
        }

    }

    &__images {
        position: relative;

        &__icon {
            position: absolute;
            right: gutter-sp(0);
            left: gutter-sp(0);
            bottom: gutter-sp(0);
            margin: gutter-sp(0) auto;
            height: gutter-per(100);
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            &__conformed-color {
                color: $confirm-text-clr;
            }

            .sentImg {
                width: gutter-sp(100);
                height: gutter-sp(100);
            }

            .reserveID {
                text-decoration: none;
                font-weight: 700;
            }
        }

        &__img {
            width: gutter-per(100);
            height: auto;
            flex: 1;
            border-radius: gutter-sp(6);
        }

        @media (max-width: 991px) {
            &__img {
                width: gutter-per(100);
                height: auto;
                flex: 1;
                object-fit: cover;
            }
        }
    }

    &__priceColor {
        color: $primary-color;
    }

    &__articles {
        color: $secondary-color;
    }

    &__image_desc {
        max-width: gutter-per(40);
        flex: 1 1 auto;
    }
}

.together {
    font-style: italic;
    color: $white;
    bottom: gutter-sp(0);
    left: gutter-sp(0);
    right: gutter-sp(0);
    letter-spacing: gutter-sp(2);
    box-sizing: border-box;
    text-shadow: gutter-sp(0) gutter-sp(4) gutter-sp(10) $black-overlay;
}