@import '../../../styles/variable.scss';

.hallsView {
    

    .guest {
        font-size: gutter-sp(13);
        padding-left: gutter-sp(12);
    }

    .guestLabel {
        font-size: gutter-sp(14);
        padding-left: gutter-sp(8);
        padding-top: gutter-sp(20);
    }
    .guestClockLabel {
        font-size: gutter-sp(14);
        padding-left: gutter-sp(5);
        padding-top: gutter-sp(20);
    }

    .guestclock {
        font-size: gutter-sp(13);
        padding-left: gutter-sp(7);
    }

    .hall-list {
        border: gutter-sp(1) solid $footer-email-border;
        border-radius: gutter-sp(5);
        align-items: center;
        padding: gutter-sp(14);
        height: gutter-per(100);


        .font-color {
            color: $font-ash;
        }
    }

    &__card {
        .mat-mdc-form-field {
            width: gutter-per(100);
        }

        .custom_clr {
            color: $secondary-color;
        }

        .hall-img {
            width: gutter-sp(34);
            height: gutter-sp(32);
            margin-top: gutter-sp(6);
        }

        .mat-mdc-input-element {
            font-size: gutter-sp(14);
            height: gutter-sp(16);
        }

        .input-group {

            input,
            select {
                border: none;
            }

            input:focus,
            select:focus {
                border: none;
                box-shadow: none;
            }

            .custom_select select {
                --bs-form-select-bg-img: none
            }
        }

        .dateSection {
            border-radius: gutter-rem(0.375);

            input[type="date"]::-webkit-calendar-picker-indicator {
                opacity: 1;
                display: block;
                background-image: url("../../../../assets/images/halls/calender-hall.png");
                background-repeat: no-repeat;
                width: gutter-sp(32);
                height: gutter-sp(36);
                border-width: thin;
            }

            input[type="date"]::-webkit-calendar-picker-indicator {
                position: absolute;
                left: gutter-per(2);
                top: gutter-per(25);
            }

            input::-webkit-datetime-edit-fields-wrapper {
                position: relative;
                left: gutter-sp(18);
            }

            input::-webkit-datetime-edit {
                position: relative;
                left: gutter-sp(18);
            }

            .customLabel {
                left: gutter-sp(38);
                color: $secondary-color;
            }
        }

        .basic-icon {
            background-color: $white;
            border: gutter-sp(1) solid $white;
            padding: gutter-rem(0.375) gutter-rem(0.25);

            img {
                width: gutter-sp(18);
                height: gutter-sp(18);
            }
        }
        .userImg {
            background-color: $white;
            border: gutter-sp(1) solid $white;
            padding: gutter-rem(0.375) gutter-rem(0);

            img {
                width: gutter-sp(25);
                height: gutter-sp(25);
            }
        }

    }

    &__images {
        position: relative;

        &__icon {
            position: absolute;
            right: gutter-sp(0);
            left: gutter-sp(0);
            bottom: gutter-sp(0);
            margin: gutter-sp(0) auto;
            text-align: center;

            &__conformed-color {
                color: $confirm-text-clr;
            }

            .sentImg {
                width: gutter-sp(100);
                height: gutter-sp(100);
            }

            .reserveID {
                text-decoration: none;
                font-weight: 700;
            }
        }

        &__img {
            width: gutter-per(100);
            height: auto;
            flex: 1;
            border-radius: gutter-sp(6);
        }

        @media (max-width: 991px) {
            &__img {
                width: gutter-per(100);
                height: auto;
                flex: 1;
                object-fit: cover;
            }
        }
    }

    &__priceColor {
        color: $primary-color;
    }

    .reserve {
        background-color: $green-select;
        color: $white;
    }
    .cancel{
        background-color: $white;
        color: $cancelcolor;
        border: gutter-sp(1) solid $cancel-btn-border ;
        padding: gutter-sp(9) gutter-sp(33);
    }

    .selected {
        border: gutter-sp(1) solid $selected-border-clr;
        background: $white;
    }

    &__articles {
        color: $secondary-color;
    }

    &__image_desc {
        max-width: gutter-per(40);
        flex: 1 1 auto;
    }
}

.together {
    font-style: italic;
    color: $white;
    bottom: gutter-sp(0);
    left: gutter-sp(0);
    right: gutter-sp(0);
}