<div class="hallsView col-md-10 col-lg-10 col-xl-8 mx-md-auto mb-300  px-3 px-md-0 ">
    <div class="d-flex justify-content-center align-items-center flex-column gap-2 gap-lg-12 pb-70 pb-md-20">
        <p class="text-center fs-30 fs-xl-32 fs-xxl-34 fw-500 text-black">Type of Halls?</p>
        <div class="card hallsView__card px-2 mt-2 mb-3 col-12">
            <div class="row w-100">
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="input-group border-clr  ms-2">
                        <span class="input-group-text userImg">
                            <img src="../../../assets/images/halls/halls_user-img.png" class="hall-img"
                                alt="user"></span>
                        <div class="form-floating">
                            <input type="email" class="form-control guestclock fs-xxl-20 h-xxl-80" id="guestCount" placeholder="Guests"
                                value="40 Adults, 12 Children">
                            <label for="guestCount" class="custom_clr guestClockLabel fs-xl-18 fs-xxl-24">Guests</label>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <app-date-picker [label]="'Check-in'" [matDatepickerName]="'matcheckinDate'"
                        [image]="'/assets/images/halls/calender-hall.png'" [date]="checkinDate" [classNames]="'input-group custom_icon'"></app-date-picker>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <app-date-picker [label]="'Check-out'" [matDatepickerName]="'matcheckOutDate'"
                        [image]="'/assets/images/halls/calender-hall.png'" [date]="checkOutDate" [classNames]="'input-group custom_icon'"></app-date-picker> 
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="input-group border-clr d-flex align-items-center">
                        <span class="input-group-text basic-icon d-block d-lg-none me-1"><img
                                src="../../../../assets/images/icons/clock.png" alt="user"></span>
                        <div class="form-floating custom_select">
                            <select class="form-select guestclock fs-xxl-20 h-xxl-80" id="duration" aria-label="Default select example">
                                <ng-container *ngFor="let item of slots">
                                    <option [value]="item.id">{{item.shift}}</option>
                                </ng-container>
                            </select>
                            <label for="duration" class="custom_clr guestClockLabel fs-xl-18 fs-xxl-24">Duration</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @for(item of selectedHalls; track $index){
        <div class="hall-list gap-4 mt-10 mb-30 col-sm-10 col-md-12 mx-auto">
            <div class="row">
                <div class="d-flex hallsView__images align-items-start col-lg-4 col-xl-4 mb-3 mb-lg-0">
                    <img class="hallsView__images__img " [ngStyle]="{'opacity': '0.2'}" src="{{item.src}}" width=""
                        alt="{{item.name}}">
                    <div *ngIf="requestAccepted" class="hallsView__images__icon">
                        <img src="../../../assets/images/halls/sent.gif" class="sentImg">
                        <div class="d-flex flex-column align-items-center mt-0 mt-md-2">
                            <p class="fs-16 fs-xl-18 fw-bold">Reservation Request Sent</p>
                            <p class="fs-12 fs-xl-14 mb-2 w-220 wid-lg-85">Our representative will get back to you shortly
                                Reservation ID: <a (click)="confirm()" class="cursor reserveID" role="button">234566</a>
                            </p>
                        </div>
                    </div>
                    <div *ngIf="!requestAccepted" class="hallsView__images__icon p-20">
                        <img src="../../../assets/images/halls/confirm.gif" class="h-120 w-120 m-auto" alt="">
                        <p class="fs-15 fs-xl-17 fw-500 hallsView__images__icon__conformed-color mt-2">Booking Confirmed</p>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-8 imgDesc">
                    <div class="d-flex flex-column gap-2 gap-xl-3">
                        <div>
                            <span class="fs-20 fs-md-22 fs-lg-26 fs-xl-28 fw-500 hallName lh-1"
                                role="button">{{item.name}}</span>
                            <div
                                class="font-color d-flex flex-column align-items-start align-items-lg-center flex-md-row gap-2 gap-lg-3">
                                <div> <span class="fs-12 fs-xl-14">{{item.desc}}</span></div>
                                <div class="d-none d-md-flex"><span>|</span></div>
                                <div><span class="fs-12 fs-xl-14">{{item.diamensions}}</span></div>
                                <div class="d-none d-md-flex"><span>| </span></div>
                                <div><span class="fs-12 fs-xl-14"> {{item.status}}</span></div>
                            </div>
                        </div>
                        <div>
                            <p class="fs-17 fs-xl-19 fw-500 mb-0 text-black">{{item.deposite}}</p>
                            <p class="hallsView__desc font-color mb-0 fs-12 fs-md-11 fs-lg-13 fs-xl-15 wid-lg-80 mt-2">
                                {{item.depositeDesc}}
                            </p>
                        </div>
                    </div>
                    <div>
                        <div class="d-flex align-items-baseline flex-wrap">
                            <span class="fs-36 fs-xl-38 fs-xxl-40 fw-bold hallsView__priceColor my-1 my-lg-3">{{item.price}}</span><span
                                class="font-color fs-12 fs-xl-14 fs-xl-16">{{item.taxText}}</span>
                        </div>
                        <div
                            class="d-flex justify-content-between align-items-center flex-column-reverse flex-md-row mt-3">
                            <div class="d-flex align-items-center  flex-row gap-3">
                                <app-button [btnClass]="'cancel fs-xl-16'" [btnName]="cancelBtn"
                                    (bannerActionEvent)="cancelReservation()"></app-button>
                            </div>

                            <div class="d-flex align-items-center justify-content-center cursor halldetails"
                                (click)="getDetails()"><span class="fw-500 fs-14 fs-xl-16 mt-md-0 view" role="button">View
                                    Details</span><span class="arrow"><img
                                        src="../../../assets/images/halls/arrow-color.svg" alt=""></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        }
        <p *ngIf="!selectedHalls.length" class="fs-20 fs-xl-22 fs-xxl-24 text-center fw-bold">No Items Selected</p>
    </div>

    <div class="pb-70 pb-md-20">
        <p class="fs-16 fs-xl-18 fs-xxl-20">Add Together <span class="ml-3"><img src="../../../../assets/images/icons/info.svg" alt="info"
                    width="10"></span></p>
        <div class="row">
            <div class="col-12 col-md-3 position-relative">
                <img src="../../../../assets/images/Business/halls_types/bowling.svg" alt="bowling" width="100%"
                    height="100%">
                <p class="fs-20 fs-xl-26 fs-xxl-32 fw-bold position-absolute together text-center">Bowling</p>
            </div>
            <div class="col-12 col-md-3 position-relative">
                <img src="../../../../assets/images/Business/halls_types/campFire.svg" alt="campFire" width="100%"
                    height="100%">
                <p class="fs-20 fs-xl-26 fs-xxl-32 fw-bold position-absolute together text-center">Camp Fire</p>
            </div>
            <div class="col-12 col-md-3 position-relative">
                <img src="../../../../assets/images/Business/halls_types/staying.svg" alt="staying" width="100%"
                    height="100%">
                <p class="fs-20 fs-xl-26 fs-xxl-32 fw-bold position-absolute together text-center">Staying Rooms</p>
            </div>
        </div>
    </div>
</div>