<div class="container booking-view">
    <section>
        <div class="py-5">
            <mat-tab-group mat-stretch-tabs="false">
                <mat-tab label="Booking History" class="fv-1">
                    <app-booking-history-view></app-booking-history-view>
                </mat-tab>
                <mat-tab label="Invoice History">
                    <app-invoice-history></app-invoice-history>
                </mat-tab>
            </mat-tab-group>
        </div>
    </section>
</div>