<div class="amenities">
    <p class="fs-24 fw-medium m-0 pb-20">What this place offers</p>
    <div class="row amenities__section">
        <div class="col-12 col-md-4 d-flex align-items-center fs-14"><span><mat-icon class="mr-6" fontIcon="kitchen"></mat-icon></span>Kitchen</div>
        <div class="col-12 col-md-4 d-flex align-items-center fs-14"><span><mat-icon class="mr-6" fontIcon="wifi"></mat-icon></span>Wifi</div>
        <div class="col-12 col-md-4 d-flex align-items-center fs-14"><span><mat-icon class="mr-6" fontIcon="pool"></mat-icon></span>Pool</div>
        <div class="col-12 col-md-4 d-flex align-items-center fs-14"><span><mat-icon class="mr-6" fontIcon="tv"></mat-icon></span>Tv</div>
        <div class="col-12 col-md-4 d-flex align-items-center fs-14"><span><mat-icon class="mr-6" fontIcon="directions_car"></mat-icon></span>Free Parking on premises</div>
    </div>
</div>