<div class="amenities">
    <h4>What this place offers</h4>
    <div class="d-sm-block d-md-flex flex-sm-column flex-md-row flex-lg-row flex-xl-row flex-xxl-row justify-content-between">
        <div class="d-flex align-items-center"><span><mat-icon class="mr-6" fontIcon="kitchen"></mat-icon></span>Kitchen</div>
        <div class="d-flex align-items-center"><span><mat-icon class="mr-6" fontIcon="wifi"></mat-icon></span>Wifi</div>
        <div class="d-flex align-items-center"><span><mat-icon class="mr-6" fontIcon="pool"></mat-icon></span>Pool</div>
        <div class="d-flex align-items-center"><span><mat-icon class="mr-6" fontIcon="tv"></mat-icon></span>Tv</div>
        <div class="d-flex align-items-center"><span><mat-icon class="mr-6" fontIcon="directions_car"></mat-icon></span>Free Parking on premises</div>
    </div>
</div>