<div class="menu_model">
    <div class="menu p-20">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <span class="title fw-500 fs-22">Menu Details</span>
            </div>
            <div (click)="closeDialog()" class="cursor close_btn" role="button">
                <img src="../../../../assets/images/halls/menuclose.svg" alt="" class="h-18">
            </div>
        </div>
        <div class="d-flex col">
            <div>
                <span class="fw-400 fs-12 selectTitle">Selected:</span>
                <span class="fw-400 fs-12 me-4 selectTitle">12</span>
            </div>
            <div class="price">
                <span class="fw-400 fs-12 selectTitle">Total Price:</span>
                <span class="fw-400 fs-12 selectTitle">€ 1400.00</span>
            </div>
        </div>
        <div class="menu__search my-2">
            <input class="menu__search__search-input pl-30" autocomplete="off" placeholder="search for basic..." />
            <mat-icon class="menu__search__search-icon w-20 h-20 fs-19" role="button" (click)="doSomething()"
                fontIcon="search"></mat-icon>
        </div>
        <div class="my-3">
            <span class="fw-400 fs-18 menu_headings">Starters</span>
        </div>
        <div class="h-400 table">
            <div class="mb-2">
                <table mat-table [dataSource]="startersDataSource" class="mat-elevation-z8 w-500 menuTable">
                    <div class="d-flex">
                        <!-- Checkbox Column -->
                        <ng-container matColumnDef="select">
                            <th mat-header-cell *matHeaderCellDef class="table_header fw-light">
                                <mat-checkbox (change)="toggleAllRows(selectionStarters, startersDataSource)"
                                              [checked]="isAllSelected(selectionStarters, startersDataSource)">
                                </mat-checkbox>
                              </th>
                              <td mat-cell *matCellDef="let row" class="table_data">
                                <mat-checkbox (click)="$event.stopPropagation()" 
                                              (change)="selectionStarters.toggle(row)" 
                                              [checked]="selectionStarters.isSelected(row)" 
                                              [aria-label]="checkboxLabel(selectionStarters, row)">
                                </mat-checkbox>
                              </td>
                        </ng-container>
    
                        <!-- Item Name Column -->
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef class="table_header">Name</th>
                            <td mat-cell *matCellDef="let element" class="table_data"> {{element.name}}  </td>
                        </ng-container>
                    </div>
    
                    <!-- Quantity Column -->
                    <ng-container matColumnDef="qty">
                        <th mat-header-cell *matHeaderCellDef class="table_header_Qty"> QUANTITY </th>
                        <td mat-cell *matCellDef="let element" class="table_data_Qty ">
                            <input type="number" class="col-10 col-md-4 ms-1 quantity" [value]="element.qty" (input)="updateQty(element, $event)">
                        </td>
                    </ng-container>
    
                    <!-- Price Column -->
                    <ng-container matColumnDef="price" class="mr-3">
                        <th mat-header-cell *matHeaderCellDef class="table_header_Qty"> PRICE </th>
                        <td mat-cell *matCellDef="let element" class="table_price_data"> {{element.price}} </td>
                    </ng-container>
    
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                </table>
            </div>
    
            <div class="my-2">
                <span class="fw-400 fs-18 menu_headings">Main Course</span>
            </div>
            <div class="mb-2">
                <table mat-table [dataSource]="mainCourseDataSource" class="mat-elevation-z8 menuTable">
                    <div class="d-flex">
                        <!-- Checkbox Column -->
                        <ng-container matColumnDef="select" class="mb-4">
                            <th mat-header-cell *matHeaderCellDef class="table_header">
                                <mat-checkbox (change)="toggleAllRows(selectionMainCourse, mainCourseDataSource)"
                                              [checked]="isAllSelected(selectionMainCourse, mainCourseDataSource)">
                                </mat-checkbox>
                              </th>
                              <td mat-cell *matCellDef="let row" class="table_data">
                                <mat-checkbox (click)="$event.stopPropagation()" 
                                              (change)="selectionMainCourse.toggle(row)" 
                                              [checked]="selectionMainCourse.isSelected(row)" 
                                              [aria-label]="checkboxLabel(selectionMainCourse, row)">
                                </mat-checkbox>
                              </td>
                        </ng-container>
    
                        <!-- Item Name Column -->
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef class="table_header">Name</th>
                            <td mat-cell *matCellDef="let element" class="table_data"> {{element.name}}  </td>
                        </ng-container>
                    </div>
    
                    <!-- Quantity Column -->
                    <ng-container matColumnDef="qty">
                        <th mat-header-cell *matHeaderCellDef class="table_header_Qty"> QUANTITY </th>
                        <td mat-cell *matCellDef="let element" class="table_data_Qty">
                            <input type="number" class="col-10 col-md-4 ms-1 quantity" [value]="element.qty" (input)="updateQty(element, $event)">
                        </td>
                    </ng-container>
    
                    <!-- Price Column -->
                    <ng-container matColumnDef="price">
                        <th mat-header-cell *matHeaderCellDef class="table_header_Qty"> PRICE </th>
                        <td mat-cell *matCellDef="let element" class="table_price_data"> {{element.price}} </td>
                    </ng-container>
    
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectionMainCourse.toggle(row)">
                </table>
            </div>
        </div>
        <div class=" button-container mt-10 mr-8 d-flex justify-content-end align-item-center ">
            <button mat-raised-button color="primary" class="p-2 px-4 border rounded-pill menu__save-btn" (click)="onSave()">Save</button>
          </div>
    </div>
</div>