@import '../../../styles/variable.scss';

.menu_model {
    overflow: scroll;
    scrollbar-width: none;
    padding: gutter-sp(10);

    .menu {
        &__search {
            position: relative;

            &__search-input {
                border-radius: gutter-sp(3);
                border: gutter-sp(1) solid $gray;
                background-color: $gray;
                min-height: gutter-sp(30);
                width: gutter-per(100);
            }

            &__search-input::placeholder {
                color: $searchPholder;
                font-size: 14px;
                font-weight: 200;
                padding-left: gutter-sp(22);
            }

            &__search-icon {
                position: absolute;
                left: gutter-sp(13);
                top: gutter-sp(9);
                color: $footer-text-color;
                cursor: none;
                pointer-events: none;
            }

        }

        .mat-mdc-table {
            box-shadow: none;
            width: gutter-sp(500);
            height: gutter-sp(200);
            overflow: auto;
        }

        .table_header .mat-mdc-header-cell {
            font-size: gutter-per(22);
        }

        .menuTable .mat-mdc-header-cell {
            font-family: "poppins", sans-serif;
            padding: gutter-sp(0) gutter-sp(0) gutter-sp(10) gutter-sp(0);
            border-bottom: none;
        }

        .menuTable .mat-mdc-cell {
            font-family: "poppins", sans-serif;
            text-wrap: nowrap;
        }

        .menuTable .mat-mdc-row {
            height: 40px;
        }

        .menuTable ::ng-deep .mdc-checkbox .mdc-checkbox__background {
            left: 1px;
        }

        .table_data {
            border: none;
            padding: gutter-sp(0);
        }

        .mat-cell {
            padding: gutter-sp(2);
        }

        .close_btn {
            border: none;
            background: none;
            color: $quick-silver;
        }

        .menu_headings {
            color: $secondary-color;
        }

        .mat-mdc-dialog-surface .mdc-dialog__surface {
            border-radius: gutter-sp(12);
        }

        .mat-mdc-header-row {
            height: fit-content;
        }

        &__save-btn {
            background-color: $secondary-color;
            color: $lite-white;
        }

        .title {
            color: $black;
        }

        .selectTitle {
            color: $black;

        }

        .selected-number {
            color: $black;
        }
    }
}