<div class="corporate">
    <div class="row g-4">
        <div class="col-12 col-lg-5 corporate__image">
            <img src="../../../assets/images/Business/corporate.svg" alt="corporate">
        </div>
        <div class="col-12 col-lg-6 offset-lg-1">
            <p class="fs-24 mb-0 fw-medium">Count on Our Best Corporate </p>
            <p class="fs-24 fw-medium mb-0 pb-20">Event Management Service</p>
            <div class="d-flex pb-20">
                <span class="line"></span>
                <p class="fs-20 lh-34 fw-400 mb-0">Exceptional services of corporate/ official events management with an innovative approach!</p>
            </div>
            <p class="fs-16 lh-34 mb-0 pb-30">These corporate events are organized majorly to increase branding and some other crucial works as well. However, these days corporate events are also helpful for a product launch and to get more leads. This needs meticulous planning and organization, you can’t do this on your own, especially on a limited budget.</p>
            <ul class="d-flex gap-3 flex-column">
                <li class="fs-16 lh-34">Compliance: embed sophisticated Travel & Events policies into your users’ workflows</li>
                <li class="fs-16 lh-34">Efficiency:automate approval flows, avoid bottlenecks and last-minute requests</li>
            </ul>
        </div>
    </div>
</div>