<div class="corporate">
    <div class="d-flex flex-lg-row flex-column gap-60 gap-lg-80 gap-xl-200">
        <div class="corporate__image">
            <img src="../../../assets/images/Business/corporate.svg" alt="corporate">
        </div>
        <div class="corporate__content">
            <p class="fs-22 fs-lg-44 fs-xl-46 fs-xxl-48 mb-0 fw-medium m-0 lh-30 lh-md-60 lh-xl-70 lh-xxl-80">Count on Our Best Corporate </p>
            <p class="fs-22 fs-lg-44 fs-xl-46 fs-xxl-48 fw-medium mb-0 lh-30 lh-md-60 lh-xl-70 lh-xxl-80 pb-20">Event Management Service</p>
            <div class="d-flex pb-20 subTitle">
                <span class="line"></span>
                <p class="fs-16 fs-lg-20 fs-xl-22 fs-xxl-24 lh-24 lh-md-34 lh-xl-44 lh-xxl-54 fw-400 mb-0">Exceptional services of corporate/ official events management with an innovative approach!</p>
            </div>
            <p class="fs-14 fs-xl-16 fs-xxl-18 lh-34 lh-xl-44 lh-xxl-54 mb-0 pb-30 desc">These corporate events are organized majorly to increase branding and some other crucial works as well. However, these days corporate events are also helpful for a product launch and to get more leads. This needs meticulous planning and organization, you can’t do this on your own, especially on a limited budget.</p>
            <ul class="d-flex gap-3 flex-column list">
                <li class="fs-14 fs-xl-16 fs-xxl-18 lh-34 lh-xl-44 lh-xxl-54">Compliance: embed sophisticated Travel & Events policies into your users’ workflows</li>
                <li class="fs-14 fs-xl-16 fs-xxl-18 lh-34 lh-xl-44 lh-xxl-54">Efficiency:automate approval flows, avoid bottlenecks and last-minute requests</li>
            </ul>
        </div>
    </div>
</div>