<div class="d-flex justify-content-center gap-60 align-items-center flex-column menuSelect">
    <div class="d-flex justify-content-center">
        <p class="fs-28 fw-500 mt-40 choosemenutitle">Choose Menu?</p>
    </div>
    
    <div class="d-flex justify-content-center align-items-center gap-30 flex-column flex-md-row">
        <div class="border rounded w-270 w-md-345 h-200 d-flex justify-content-center align-items-center menu-card" role="button" (click)="selectMenu()">
            <p class="fs-27 fw-500 menuCard">Internal Menu</p>
        </div>
        <div class="border rounded w-270 w-md-345 h-200 d-flex justify-content-center align-items-center p-3 menu-card">
            <p class="fs-27 fw-500 menuCard">External Catering</p>
        </div>
    </div>
</div>
