@import '../../../styles/variable.scss';

.menu-card {
    background-color: $menucard-white;
}

.choosemenutitle {
    color: $black;
}

.menuCard {
    color: $black;
}

.dialog-btns {
    display: none;
}