<div class="row family">
    <div class="col-sm-12 col-md-6 pr-0">
        <div class="family__image">
            <img class="family__image__main" src="../../../assets/images/corporate/family.svg" alt="">
            <img src="../../../assets/images/corporate/videoIcon.svg" alt="" class="family__image__video">
        </div>
    </div>
    <div class="col-sm-12 col-md-6 family__content">
        <h4>Family Events</h4>
        <h4 class="family__content__color">& Weddings</h4>
        <p>"Make your family events and weddings unforgettable with our beautiful venues, customizable packages, and
            exceptional service. From intimate gatherings to grand celebrations, we offer seamless booking and
            personalized planning to ensure your special day is perfect in every way!"</p>
        <button class="family__content__btn">Make a Reservation -></button>
    </div>
</div>