@import "../../app/styles/variable.scss";
@import "../../app/custom-css/custom-material-colors.scss";

//main banner with content
@mixin full-background($image-path) {
	background-image: linear-gradient(45deg, $black-overlay, $light-overlay), url($image-path);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.banner {
	&__image {
		min-height: calc($gutter-100vh - gutter-sp(362));
		width: $gutter-100per;
		@include full-background("../../assets/images/logo/landingImage.svg");


		&__content {


			&__title {
				color: white;
				margin-bottom: $gutter-10sp;
				transform: translateX(-100%);
				animation: slideIn 1s forwards;
			}


			@keyframes slideIn {
				to {
					transform: translateX(0);
				}
			}

			&__desc {
				color: $white;
				transform: translateX(-100%);
				animation: slideIn 4s forwards;
			}

			&__btn {

				flex-shrink: 0;
				border-radius: $gutter-32sp;
				letter-spacing: $gutter-1sp;
				border: none;
				color: $white;
				margin-top: $gutter-20sp;
				background: var(--primary-color);
				opacity: 0;
				animation: fadeIn 4s forwards;
				padding: $gutter-8sp $gutter-42sp;
			}

			@keyframes fadeIn {
				to {
					opacity: 1;
				}
			}
		}

		&__downIcon {
			bottom: gutter-sp(300);
			right: gutter-sp(80);
		}

	}
}
.subbanner {
	padding:gutter-vw(3) gutter-vw(5) gutter-vw(0)
}
 .subbanner__image {
	width: gutter-per(100);
	height: auto;
	display:block;
}

.subbanner__text {
	position: absolute; 
	bottom: $value-null; 
	left: $value-null; 
	right: $value-null;
	text-align: center; 
	color: white; 
	padding: gutter-sp(20) $value-null; 
	margin: $value-null; 
	box-sizing: border-box; 
	letter-spacing:gutter-sp(4);
	text-shadow: gutter-sp(0) gutter-sp(4) gutter-sp(4) $black-overlay;
	
  }

//main banner with content
.events {
	padding: $gutter-6vw $gutter-5vw;
	transition-delay: 1s;
	transition: transform 0.5s ease;
}

//arrangements
// General Card Styles
.no-border {
	border: none;
	box-shadow: none;
}

.card {
	&-image {
		border-radius: $gutter-14sp;
	}

	&-button {
		border: none;
		background-color: transparent;
		color: $secondary-color;
	}

	&-heading {
		display: -webkit-box;
		-webkit-line-clamp: 1;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&-text {
		display: -webkit-box;
		-webkit-line-clamp: 5;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

// Spacing Utilities
.g-6 {
	--bs-gutter-x: 4rem;
	--bs-gutter-y: 4rem;
}

// Arrangements Section
.arrangements {
	padding: $gutter-0vw $gutter-6vw $gutter-5vw;

	&__color {
		color: $secondary-color;
	}
}

//personalized
.personalized {
	padding: $gutter-4vw $gutter-5vw;
	background-color: $white-smoke;
	margin: $gutter-0vw $gutter-0vw $gutter-6vw;

	.section {
		width: $gutter-100per;
		max-width: $gutter-100per;
		display: flex;
		flex-direction: column;
		position: relative;
		overflow: hidden;

		.slider {
			--duration: 10000ms;
			--direction: normal;

			.items {
				display: flex;
				width: fit-content;
				animation-name: loop;
				animation-timing-function: linear;
				animation-iteration-count: infinite;
				animation-direction: var(--direction);
				animation-duration: var(--duration);
			}

			.item {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				padding: $gutter-12sp $gutter-16sp $gutter-0sp;

				.image {
					width: $gutter-100per;
					height: $gutter-100per;
				}

				.desc {
					display: block;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					max-width: gutter-sp(300);
				}
			}

			@keyframes loop {
				0% {
					transform: rotate(0);
				}

				100% {
					transform: rotate(-100%);
				}
			}
		}
	}
}

//experience
.experience {
	padding: $gutter-0vw $gutter-5vw $gutter-6vw;

	&__color {
		color: $secondary-color;
	}

	&__section {
		--bs-gutter-x: 0;
	}

	&__item {
		position: relative;
		overflow: hidden;
	}

	&__image {
		width: $gutter-100per;
		height: auto;
		display: block;
	}

	&__overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: $gutter-100per;
		height: $gutter-100per;
		background-color: $white-smoke;
		display: flex;
		justify-content: center;
		align-items: center;
		opacity: 0;
		transition: opacity 0.3s ease-in-out;
	}

	&__item:hover &__overlay {
		opacity: 0.9;
	}

	&__text {
		color: $black-overlay;
	}
}

//corporate-family
.corporate-family {
	padding: $gutter-0vw $gutter-5vw $gutter-5vw;
}

//promotions
.promotions {
	padding: $gutter-0vw $gutter-5vw $gutter-6vw;

	.tagList {
		width: $gutter-100per;
		max-width: $gutter-100per;
		display: flex;
		flex-direction: column;
		position: relative;
		overflow: hidden;

		.slider {
			--duration: 10000ms;
			--direction: normal;

			.items {
				display: flex;
				width: fit-content;
				animation-name: loop;
				animation-timing-function: linear;
				animation-iteration-count: infinite;
				animation-direction: var(--direction);
				animation-duration: var(--duration);

				.item {
					display: flex;
					align-items: center;
					padding: $gutter-12sp $gutter-16sp $gutter-0sp;

				}
			}

			@keyframes loop {
				0% {
					transform: rotate(0);
				}

				100% {
					transform: rotate(-100%);
				}
			}
		}
	}
}

//member section
.join-text {
	padding: $gutter-4vw $gutter-8vw;

	@media (min-width: 992px) and (max-width: 1280px) {
		padding: $gutter-2vw $gutter-4vw;
	}
}

.memberSection {
	position: relative;
	background: $white-smoke;
	margin: $gutter-0vw $gutter-5vw $gutter-6vw;
	border-radius: $gutter-16sp;


	&__color {
		color: $secondory-color;
	}

	&__btn {
		background: $secondory-color;
		color: $white;
		border-radius: $gutter-8sp;
		border: none;
		padding: $gutter-10sp $gutter-20sp;
	}

	&__desc {
		font-weight: lighter;
		line-height: $gutter-26sp;
		color: $quick-silver;
	}

	&__image {
		display: flex;
		justify-content: center;
		position: relative;

		img {
			position: absolute;
			bottom: $value-null;
			width: $gutter-54per;
			right: $gutter-30per;

			@media screen and (max-width:991px) {
				position: relative;
				right: $gutter-0per;
			}
		}


	}
}

//step in to wonders moment
.moment::before {
	position: absolute;
	content: "";
	background: url("../../assets/images/moment/atumn.svg");
	background-repeat: no-repeat;
	background-size: cover;
	height: $gutter-464sp;
	top: $gutter-0sp;
	left: $gutter-0sp;
	width: $gutter-100per;
}

.moment {
	padding: $gutter-0vw $gutter-5vw $gutter-5vw;

	&__content {

		height: $gutter-344sp;
		justify-content: center;
		align-items: center;
		color: $white-smoke;
		opacity: $opacity-halfless;
		text-align: center;
		letter-spacing: $gutter-1sp;
	}
}

//faq
.faq-section {
	padding: $gutter-0vw $gutter-5vw $gutter-6vw;
}

css for scroll .fade {
	pointer-events: none;
	background: linear-gradient(90deg, #1e293b, transparent 30%, transparent 70%, #1e293b);
	position: absolute;
	inset: 0;
}

@keyframes loop {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(-50%);
	}
}

// test
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}


.mouse_scroll {
	display: block;
	margin: 0 auto;
	width: 24px;
	height: 100px;
	cursor: pointer;
}


.m_scroll_arrows {
	display: block;
	width: 5px;
	height: 5px;
	-ms-transform: rotate(45deg);
	/* IE 9 */
	-webkit-transform: rotate(45deg);
	/* Chrome, Safari, Opera */
	transform: rotate(45deg);
	border-right: 2px solid white;
	border-bottom: 2px solid white;
	margin: 0 0 3px 4px;

	width: 16px;
	height: 16px;
}


.unu {
	margin-top: 1px;
}

.unu,
.doi,
.trei {
	-webkit-animation: mouse-scroll 1s infinite;
	-moz-animation: mouse-scroll 1s infinite;
	animation: mouse-scroll 1s infinite;

}

.unu {
	-webkit-animation-delay: .1s;
	-moz-animation-delay: .1s;
	-webkit-animation-direction: alternate;

	animation-direction: alternate;
	animation-delay: alternate;
}

.doi {
	-webkit-animation-delay: .2s;
	-moz-animation-delay: .2s;
	-webkit-animation-direction: alternate;

	animation-delay: .2s;
	animation-direction: alternate;

	margin-top: -6px;
}

.trei {
	-webkit-animation-delay: .3s;
	-moz-animation-delay: .3s;
	-webkit-animation-direction: alternate;

	animation-delay: .3s;
	animation-direction: alternate;


	margin-top: -6px;
}

.mouse {
	height: 42px;
	width: 24px;
	border-radius: 14px;
	transform: none;
	border: 2px solid white;
	top: 170px;
}

.wheel {
	height: 5px;
	width: 2px;
	display: block;
	margin: 5px auto;
	background: white;
	position: relative;

	height: 4px;
	width: 4px;
	border: 2px solid #fff;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}

.wheel {
	-webkit-animation: mouse-wheel 0.6s linear infinite;
	-moz-animation: mouse-wheel 0.6s linear infinite;
	animation: mouse-wheel 0.6s linear infinite;
}

@-webkit-keyframes mouse-wheel {
	0% {
		opacity: 1;
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	}

	100% {
		opacity: 0;
		-webkit-transform: translateY(6px);
		-ms-transform: translateY(6px);
		transform: translateY(6px);
	}
}

@-moz-keyframes mouse-wheel {
	0% {
		top: 1px;
	}

	25% {
		top: 2px;
	}

	50% {
		top: 3px;
	}

	75% {
		top: 2px;
	}

	100% {
		top: 1px;
	}
}

@-o-keyframes mouse-wheel {

	0% {
		top: 1px;
	}

	25% {
		top: 2px;
	}

	50% {
		top: 3px;
	}

	75% {
		top: 2px;
	}

	100% {
		top: 1px;
	}
}

@keyframes mouse-wheel {

	0% {
		top: 1px;
	}

	25% {
		top: 2px;
	}

	50% {
		top: 3px;
	}

	75% {
		top: 2px;
	}

	100% {
		top: 1px;
	}
}

@-webkit-keyframes mouse-scroll {

	0% {
		opacity: 0;
	}

	50% {
		opacity: .5;
	}

	100% {
		opacity: 1;
	}
}

@-moz-keyframes mouse-scroll {

	0% {
		opacity: 0;
	}

	50% {
		opacity: .5;
	}

	100% {
		opacity: 1;
	}
}

@-o-keyframes mouse-scroll {

	0% {
		opacity: 0;
	}

	50% {
		opacity: .5;
	}

	100% {
		opacity: 1;
	}
}

@keyframes mouse-scroll {

	0% {
		opacity: 0;
	}

	50% {
		opacity: .5;
	}

	100% {
		opacity: 1;
	}
}