<div class="banner" id="landing_page" data-speed="8">
  @if(bannerInfo){
  <div class="banner__image relative d-flex flex-column justify-content-end justify-content-md-center">
    <div class="banner__image__content text-center absolute bottom-0 mb-20">
      <h2 class="banner__image__content__title lh-md-50 lh-xl-64">
        <span class="welkom fw-bold fs-24 fs-lg-30 fs-xl-36 fs-xxl-44">{{ bannerInfo.title }}</span><br />
        <span class="company-title fs-24 fs-lg-50 fs-xl-56 fs-xxl-64 fw-bold">{{
          bannerInfo.subTitle
          }}</span>
      </h2>
      <p class="banner__image__content__desc fs-14 fs-lg-20 fs-xl-23 fs-xxl-26 fw-400">
        {{ bannerInfo.desc }}
      </p>
      <p></p>
      <div>

        <app-button [btnClass]="'bannerActionButton fs-20 fs-xl-24'" [btnName]="bannerInfo.buttonName" (bannerActionEvent)="continueBooking('300ms', '300ms')" aria-label="Book Now"
         ></app-button>

      </div>
    </div>
  </div>
  }
  <div class="subbanner" *ngIf="subbannerInfo.length">
    <div class="row g-4">
      @for (obj of subbannerInfo; track $index) {
      <div class="col-12 col-lg-4">

        <div class="image__item position-relative cursor" role="link" tabindex="0" (click)="goTolandingPages(obj.id)" (keydown.enter)="goTolandingPages(obj.id)" [attr.aria-label]="obj.desc">
          <img class="subbanner__image" src="{{ obj.src }}" [attr.alt]="obj.desc" />
          <p class="subbanner__text position-absolute text-center fs-30 fs-xl-42 fs-xl-52 fw-bold">

            {{ obj.desc }}
          </p>
        </div>
      </div>
      }
    </div>
  </div>
</div>
<!-- Dartts Events Start -->
<div id="events" class="events">
  <app-card-side-content [dataContext]="eventsInfo"></app-card-side-content>
</div>
<!-- Dartts Events Start -->
<!-- Our Arrangements section Start -->
<div class="arrangements">
  <p class="pb-24 fs-24 fs-xl-32 fs-xxl-40 lh-24 lh-xl-40  m-0 fw-500">
    Our <span class="arrangements__color">Arrangements</span>
  </p>
  <div class="row gx-lg-4 gx-0">
    @for (arr of arrangementsInfo; track $index) {
    <div class="col-12 col-lg-4">
      <div class="card no-border gap-26">
        <!-- Accessible Image -->
        <img 
          src="{{ arr.src }}" 
          [attr.alt]="arr.name" 
          class="image" 
          role="img"
          [attr.aria-label]="arr.name"
        />

        <div class="card-content d-flex flex-column gap-20">

          <p 
            class="heading fs-18 fs-xl-22 fs-xxl-26 fw-500 mb-0" 
            [attr.title]="arr.name"
            role="heading" 
            aria-level="2"
          >
            {{ arr.name }}
          </p>

          <ng-container *ngIf="!arr.showFullContent">
            <p class="text fs-14 fs-xl-18 fs-xxl-22 lh-34 lh-xl-46 mb-0">{{ arr.desc }}</p>
            <p 
              class="card-button readmore-btn fs-14 fs-xl-18 fs-xxl-22 fw-500 p-0 cursor"
              role="button"
              tabindex="0"
              (click)="readMore(arr)"
              (keydown.enter)="readMore(arr)"
              [attr.aria-label]="'Read more about ' + arr.name"
            >
              Read more 
              <span class="arrow">
                <img src="../../assets/images/halls/arrow-color.svg" alt="Arrow Icon">
              </span>

            </p>
          </ng-container>

          <ng-container *ngIf="arr.showFullContent">

            <p class="fs-14 fs-xl-18 fs-xxl-22 lh-34 lh-xl-46 mb-0">{{ arr.desc }}</p>
            <p 
              class="card-button readmore-btn fs-14 fs-xl-18 fs-xxl-22 fw-500 p-0 cursor"
              role="button"
              tabindex="0"
              (click)="readMore(arr)"
              (keydown.enter)="readMore(arr)"
              [attr.aria-label]="'Read less about ' + arr.name"
            >
              Read less 
              <span class="arrow">
                <img src="../../assets/images/halls/arrow-color.svg" alt="Arrow Icon">
              </span>

            </p>
          </ng-container>
        </div>
      </div>
    </div>
    }
  </div>
</div>
<!-- Our Arrangements section End -->
<!--personalized Start  -->
<div class="personalized">
  <div class="Personalized-content">

    <p class="pb-24 fs-24 fs-xl-32 fs-xxl-40 lh-30 lh-xl-44 m-0 fw-500">
      Create your own <span class="arrangements__color">personalized</span> ideal model.
    </p>
    <p class="fs-16 fs-xl-20 fs-xxl-24 lh-24 lh-xl-28 pb-40">
      Experience the change of seasons from a remote cabin, spacious view models villa, or overlooking with your loved persons.

    </p>

    <div 
      *ngIf="personalizedInfo && personalizedInfo.length > 0" 
      class="section owl-sec"
      role="region"
      aria-label="Personalized models carousel"
      aria-live="polite"
      
    >
      <owl-carousel-o 
        [options]="customOptionsforPersonalizedInfo"
        aria-roledescription="carousel"
      >
        <ng-container *ngFor="let personal of personalizedInfo">
          <ng-template class="slider" carouselSlide [id]="personal.id">
            <div class="item no-border gap-26">
              <div>
                <img 
                  src="{{ personal.src }}" 
                  [alt]="personal.name" 
                  class="image owl-lazy"
                  role="img"
                />
              </div>
              <div class="d-flex flex-column gap-20">

                <p 
                  class="fs-18 fs-xl-22 fs-xxl-26 fw-500 mb-0 title" 
                  [title]="personal.name"
                  [attr.aria-label]="personal.name"
                >
                  {{ personal.name }}
                </p>

                <ng-container *ngIf="!personal.showFullContent">
                  <p class="desc fs-14 fs-xl-18 fs-xxl-22 lh-34 lh-xl-46 mb-0">{{ personal.desc }}</p>
                  <p 
                    class="card-button readmore-btn fs-14 fs-xl-18 fs-xxl-22 fw-500 p-0 cursor"
                    role="button"
                    tabindex="0"
                    (click)="readMore(personal)"
                    (keydown.enter)="readMore(personal)"
                    [attr.aria-label]="'Read more about ' + personal.name"
                  >
                    Read more 
                    <span class="arrow">
                      <img src="../../assets/images/halls/arrow-color.svg" alt="Arrow icon">
                    </span>

                  </p>
                </ng-container>

                <ng-container *ngIf="personal.showFullContent">

                  <p class="fs-14 fs-xl-18 fs-xxl-22 lh-34 lh-xl-46 mb-0">{{ personal.desc }}</p>
                  <p 
                    class="card-button readmore-btn fs-14 fs-xl-18 fs-xxl-22 fw-500 p-0 cursor"
                    role="button"
                    tabindex="0"
                    (click)="readMore(personal)"
                    (keydown.enter)="readMore(personal)"
                    [attr.aria-label]="'Read less about ' + personal.name"
                  >
                    Read less 
                    <span class="arrow">
                      <img src="../../assets/images/halls/arrow-color.svg" alt="Arrow icon">
                    </span>

                  </p>
                </ng-container>
              </div>
            </div>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>
  </div>
</div>

<!-- personalized End -->
<!-- Experience Section Start -->

<div class="experience" role="region" aria-labelledby="experience-title">
  <p id="experience-title" class="text-center fw-500 fs-33 fs-lg-40 fs-xl-46 fs-xxl-56">
    Experience the best autumn holiday at 
    <span class="experience__color">De Bonte Wever</span>
  </p>

  <p class="text-center m-0 pb-1 fs-12 fs-lg-16 fs-xl-20 fs-xxl-24">
    A refreshing walk through the forest or a breath of fresh air on your bike
    through the beautiful nature of Drenthe.
  </p>

  <p class="text-center mb-0 pb-28 fs-12 fs-lg-16 fs-xl-20 fs-xxl-24">
    Discover exclusive offers at over your ideas and passion.

  </p>

  <div class="experience__section row">
    @for (obj of experienceInfo; track $index) {

      <div 
        class="col-6 col-md-4 col-lg-2 p-0 experience__item"
        role="article" 
        [attr.aria-labelledby]="'exp-title-' + $index"
        tabindex="0"
      >
        <div class="image-container">
          <img 
            class="experience__image" 
            src="{{ obj.src }}" 
            [attr.alt]="obj.altText || 'Experience Image'" 
            role="img"
            tabindex="0"
            (focus)="showOverlay($index)" 
            (blur)="hideOverlay($index)" 
          />
          <div class="experience__overlay p-10" [class.show]="activeIndex === $index">
            <p 
              id="exp-title-{{ $index }}" 
              class="experience__text fs-20 fs-xl-26 fs-xxl-32 fw-bold pt-10"
            >
              {{ obj.title || 'Example' }}
            </p>

            <p class="fs-14 fs-xl-18 fs-xxl-22" [attr.aria-describedby]="'exp-desc-' + $index">
              {{ obj.description || 'The staff were always motivated to help us. The food was excellent, and the chef ensured that our palate needs were met.' }}
            </p>
          </div>
        </div>

      </div>
    }
  </div>
</div>
<!-- Experience Section end -->
<!-- corporate section Start -->
<div class="corporate-family d-flex flex-column gap-60">
  <app-corporate-meeting></app-corporate-meeting>
</div>
<!-- corporate section End -->
<!-- promotions section Start -->
<div class="promotions">

  <p class="fs-24 fs-xl-32 fs-xxl-40 fw-500 lh-30" id="promo-title">De Bonte Wever Deals & Promotions</p>
  <p class="fs-14 fs-xl-18 fs-xxl-22" id="promo-desc">Exclusive savings for your next stay.</p>

  <app-upcoming-events-list></app-upcoming-events-list>
</div>
<!-- promotions section End -->
<!-- Member section start -->
<div class="memberSection" role="region" aria-labelledby="memberSection-title">
  <div class="row">
    
    <!-- Membership Text Section -->
    <div class="col-12 col-lg-6 join-text">

      <h2 id="memberSection-title" class="mb-0 fs-28 fs-xl-34 fs-xxl-42 fw-bold">
        Become a <span class="memberSection__color">De Bonte Wever</span>
      </h2>
      <h2 class="mb-3 fs-28 fs-xl-34 fs-xxl-42 fw-bold">Member Today</h2>
      
      <p class="memberSection__desc mb-3 fs-14 fs-xl-18 fs-xxl-22 lh-26 lh-xl-42">
        Not a member yet? Join now to receive member-exclusive rates, earn 
        points towards free nights, and many more.
      </p>
      <app-button 
        [btnClass]="'basicButton fs-16 fs-xl-20 fs-xxl-26'" 
        [btnName]="'Join for free'" 
        aria-label="Join De Bonte Wever for free"
        (bannerActionEvent)="navigateUrl('signUp')">
      </app-button>

    </div>

    <!-- Membership Image Section -->
    <div class="col-12 col-lg-6 memberSection__image">
      <img 
        src="/assets/images/member/member.svg" 
        alt="Illustration of a happy De Bonte Wever member" 
        class="position-relative d-lg-none"
      >
    
      <img 
        src="/assets/images/member/member.svg" 
        alt="Illustration of a happy De Bonte Wever member" 
        class="position-absolute d-none d-lg-block"
      >
    </div>
    
  </div>
</div>
<!-- Member section End -->
<!-- moment Section Start -->
<div class="moment position-relative" role="region" aria-labelledby="moment-title">
  <div class="moment__content d-flex flex-column fw-bold gap-6 gap-lg-32">
    <p class="fs-22 fs-md-34 fs-lg-48 fs-xl-56 fs-xxl-66 lh-40 lh-lg-38 lh-xl-60 mb-0">Step into Wonders</p>
    <p class="fs-22 fs-md-34 fs-lg-48 fs-xl-56 fs-xxl-66 lh-40 lh-lg-38 lh-xl-60 mb-0">
      And experience a world where every
    </p>
    <p class="fs-22 fs-md-34 fs-lg-48 fs-xl-56 fs-xxl-66 lh-40 lh-lg-38 lh-xl-60 mb-0">moment is magical!</p>
  </div>
  <div class="moment__section">
    <div class="row g-4">
      @for( obj of momentInfo; track $index){
      <div  class="col-md-4 col-sm-12 col-lg-4 col-xl-4 col-xxl-4 moment__card" 
      role="group" 
      [attr.aria-labelledby]="'card-title-' + $index"
      [attr.aria-describedby]="'card-desc-' + $index">

        <app-card class="moment__card__start"
          picture="{{ obj.src }}"
          title="{{ obj.name }}"
          desc="{{ obj.desc }}"
          btn="{{ obj.button }}"
        ></app-card>

      </div>
      }
    </div>
  </div>
</div>
<!-- moment Section Start -->
<!-- FAQ section Start  -->
<div class="faq-section">
  <app-faq></app-faq>
</div>
<!-- FAQ section End  -->
<!--chat-->
<app-chat></app-chat>
<!--chat-->

