<div class="banner">
    <div class="banner__image">
        <div class="banner__image__content">
            <div class="banner__image__content__title">Welkom bij Hotel</div>
            <div class="banner__image__content__title">De Bonte Wever Assen!</div>
            <div class="banner__image__content__desc">Plan Your Perfect Event, Conference, or Meeting With Ease</div>
            <div>
                <button class="banner__image__content__btn">Book Now</button>
            </div>
        </div>
    </div>
</div>