@import "../../app/styles/variable.scss";
@import "../../app/custom-css/custom-material-colors.scss";

.banner {
    height: 86vh;
    min-height: 600px;
    position: relative;
    color: white;

    &__image {
        height: 100%;
        width: 100%;
        opacity: 1;
        background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.99), rgba(9, 9, 9, 0.2)), url("../../assets/images/logo/landingImage.svg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        align-items: center;
        position: relative;

        &__content {
            margin-left: 10%;

            &__title {
                color: $white;
                font-family: Poppins;
                font-size: 5vw;
                transform: translateX(-100%);
                animation: slideIn 1s forwards;
            }

            &__subtitle {
                color: $white;
                font-family: Poppins;
                font-size: 5vw;
                transform: translateX(-100%);
                animation: slideIn 3s forwards;
            }

            @keyframes slideIn {
                to {
                    transform: translateX(0);
                }
            }

            &__desc {
                color: $white;
                font-size: 2vw;
                font-style: normal;
                font-weight: 500;
                transform: translateX(-100%);
                animation: slideIn 4s forwards;
            }

            &__btn {
                width: 200PX;
                height: 50px;
                flex-shrink: 0;
                border-radius: 32px;
                color: $white;
                margin-top: 20px;
                background: var(--primary-color);
                opacity: 0;
                animation: fadeIn 4s forwards;
            }

            @keyframes fadeIn {
                to {
                    opacity: 1;
                }
            }
        }

        &__downIcon {
            position: absolute;
            bottom: 10px;
            right: 100px;
        }
    }
}

.events {
    margin: 5vw;
    transition-delay: 1s;
    transition: transform 0.5s ease;
}

.arrangements {
    &__color {
        color: $secondory-color;
    }
}

.experience {
    &__color {
        color: $secondory-color;
    }

    &__image {
        transition: transform 400ms ease-in-out;
        opacity: 0.8;
    }

    &__section {
        padding: 0;

        @media screen and (max-width: 576px) {
            padding: 10px;
        }
    }

    &__image:hover {
        transform: scale(1.1);
        opacity: 1;
    }
}

.personalized {
    background-color: $white-smoke;

    .color {
        color: $secondory-color;
    }
}


.memberSection {
    background: $white-smoke;
    padding: 20px;
    border-radius: 15px;

    &__color {
        color: $secondory-color;
    }

    &__btn {
        background: $secondory-color;
        color: $white;
        border-radius: 5px;
        border: none;
        padding: 10px 20px;
    }

    &__image {
        display: flex;
        justify-content: center;
        position: relative;

        img {
            position: absolute;
            height: 270px;
            top: -60px;
        }

        @media screen and (max-width:570px) {
            img {
                position: relative;
                height: 270px;
                top: 0px;
            }
        }
    }
}

.moment {
    background-image: url("../../assets/images/moment/moment_bg.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    height: 700px;

    @media screen and (max-width:570px) {
        height: auto;
        background-size: initial;
    }

    &__content {
        color: $white;
        padding: 60px;
        opacity: 0.7;
        font-weight: 700;

        @media screen and (max-width:570px) {
            font-size: 18px;
            padding: 0px;
        }

        h5 {
            font-size: 30px;
            display: flex;
            justify-content: center;

            @media screen and (max-width:570px) {
                font-size: 18px;
            }
        }
    }

    &__section {
        position: absolute;
        display: flex;
        right: 0;
        justify-content: center;
        left: 0;
        top: 260px;
        width: 60%;
        margin: 0 auto;

        @media screen and (max-width:570px) {
            position: relative;
            width: 100%;
            top: 20px;
        }
    }

    &__card {
        transition: transform 400ms ease-in-out;
    }

    &__card:hover {
        transform: scale(1.1);
    }
}

// test
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


.mouse_scroll {
    display: block;
    margin: 0 auto;
    width: 24px;
    height: 100px;
    cursor: pointer;
}


.m_scroll_arrows {
    display: block;
    width: 5px;
    height: 5px;
    -ms-transform: rotate(45deg);
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    /* Chrome, Safari, Opera */
    transform: rotate(45deg);

    border-right: 2px solid white;
    border-bottom: 2px solid white;
    margin: 0 0 3px 4px;

    width: 16px;
    height: 16px;
}


.unu {
    margin-top: 1px;
}

.unu,
.doi,
.trei {
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
    animation: mouse-scroll 1s infinite;

}

.unu {
    -webkit-animation-delay: .1s;
    -moz-animation-delay: .1s;
    -webkit-animation-direction: alternate;

    animation-direction: alternate;
    animation-delay: alternate;
}

.doi {
    -webkit-animation-delay: .2s;
    -moz-animation-delay: .2s;
    -webkit-animation-direction: alternate;

    animation-delay: .2s;
    animation-direction: alternate;

    margin-top: -6px;
}

.trei {
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    -webkit-animation-direction: alternate;

    animation-delay: .3s;
    animation-direction: alternate;


    margin-top: -6px;
}

.mouse {
    height: 42px;
    width: 24px;
    border-radius: 14px;
    transform: none;
    border: 2px solid white;
    top: 170px;
}

.wheel {
    height: 5px;
    width: 2px;
    display: block;
    margin: 5px auto;
    background: white;
    position: relative;

    height: 4px;
    width: 4px;
    border: 2px solid #fff;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

.wheel {
    -webkit-animation: mouse-wheel 0.6s linear infinite;
    -moz-animation: mouse-wheel 0.6s linear infinite;
    animation: mouse-wheel 0.6s linear infinite;
}

@-webkit-keyframes mouse-wheel {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(6px);
        -ms-transform: translateY(6px);
        transform: translateY(6px);
    }
}

@-moz-keyframes mouse-wheel {
    0% {
        top: 1px;
    }

    25% {
        top: 2px;
    }

    50% {
        top: 3px;
    }

    75% {
        top: 2px;
    }

    100% {
        top: 1px;
    }
}

@-o-keyframes mouse-wheel {

    0% {
        top: 1px;
    }

    25% {
        top: 2px;
    }

    50% {
        top: 3px;
    }

    75% {
        top: 2px;
    }

    100% {
        top: 1px;
    }
}

@keyframes mouse-wheel {

    0% {
        top: 1px;
    }

    25% {
        top: 2px;
    }

    50% {
        top: 3px;
    }

    75% {
        top: 2px;
    }

    100% {
        top: 1px;
    }
}

@-webkit-keyframes mouse-scroll {

    0% {
        opacity: 0;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes mouse-scroll {

    0% {
        opacity: 0;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes mouse-scroll {

    0% {
        opacity: 0;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }
}

@keyframes mouse-scroll {

    0% {
        opacity: 0;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }
}