<div class="event-item">
    <!-- Banner section -->
    <div class="event-item__banner">
        <img width="100%" height="100%" src="../../../../assets/images/events/event-item-banner.svg" alt="events">
    </div>

    <!-- Image Section -->
    <div class="event-item__overview">
        <div class="row g-4 d-flex flex-column-reverse flex-lg-row">
            <div class="col-12 col-lg-7">
                <div class="event-item__overview__img">
                    <img src="../../../../assets/images/events/events-item.svg" alt="event Item">
                </div>

                <div class="about pr-lg-40">
                    <p class="fs-24 fw-medium m-0 pb-1">About this event</p>
                    <p class="lh-34 fs-14 desc m-0">It is a long established fact that a reader will be distracted by
                        the
                        readable
                        content of
                        a page
                        when looking at its layout. It is a long established fact that a reader will be distracted by
                        the readable content of a page when looking at its layout. The point of using Lorem Ipsum is
                        that it has a more-or-less normal distribution of letters, as opposed to using 'Content here,
                        content here', making it look like readable English. Many desktop publishing packages and web
                        page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum'
                        will uncover many web sites still in their infancy.</p>
                </div>

                <div class="conditions pr-lg-40">
                    <p class="fs-24 fw-medium">Important conditions and information</p>
                    <ul class="desc m-0 fs-14">
                        <li class="lh-28">Rates exclude tourist tax (€1.50 per person per night in 2024, 2025 rates not
                            yet
                            known)
                            and
                            reservation fees of €14.95 per booking.</li>
                        <li class="lh-28">Rates do not include ‘Event fee’ (cost directly to the organisation) € 25,-
                            per
                            person
                        </li>
                        <li class="lh-28"> Cost of pre-night: € 80,- per person per night </li>
                        <li class="lh-28">Based on availability and double occupancy.</li>
                        <li class="lh-28">Children aged 3 to 12 years receive a 50% discount. Children aged 0 to 2
                            years:
                            €22.50 per
                            stay, including a prepared crib.</li>
                        <li class="lh-28">If you stay with fewer than the required number of persons in a double room,
                            triple room,
                            family room, or an XL room, a surcharge (€39.50 per unused bed per night) will be charged
                            due to under-occupancy</li>
                    </ul>
                </div>

                <div class="amenities pr-lg-40">
                    <app-amenities></app-amenities>
                </div>

                <div class="thingstoKnow pr-lg-40">
                    <p class="fs-24 m-0 pb-20 fw-medium">Things to know</p>
                    <app-things-to-know></app-things-to-know>
                </div>

                <div class="eventLocation pr-lg-40">
                    <p class="fs-24 m-0 pb-20 fw-medium">Event Location</p>
                    <app-google-map></app-google-map>
                </div>

                <div class="contectPerson pr-lg-40">
                    <p class="fs-24 m-0 pb-20 fw-medium">Our Contact Person</p>
                    <app-host-details [hostInfo]="hostDetails" [isEventScreen]="true"></app-host-details>
                </div>

            </div>
            <div class="col-12 col-lg-5">
                <app-live-events-booking></app-live-events-booking>
            </div>
        </div>
    </div>
    <div class="upcoingEvents">
        <p class="fs-24 m-0 pb-20 fw-medium">Up coming events</p>
        <p class="fs-14">Starts from Jan 2025.</p>
        <app-upcoming-events-list></app-upcoming-events-list>
    </div>

</div>