@import '../../app/styles/variable.scss';

.event-item {
    &__overview {
        padding: gutter-vw(4) gutter-vw(9) gutter-vw(0);

        &__img {

            img {
                width: gutter-per(100);
                height: gutter-per(100);
            }
        }
    }

    .about,
    .conditions,
    .amenities,
    .thingstoKnow,
    .eventLocation,
    .contectPerson {
        padding: gutter-vw(4) gutter-vw(0) gutter-vw(0);
    }

    .upcoingEvents {
        padding: gutter-vw(4) gutter-vw(9);
    }

    .about {
        .desc {
            text-align: justify;
        }
    }

    .conditions {
        .desc {
            gap: gutter-sp(20);
            display: flex;
            flex-direction: column;
            text-align: justify;
        }
    }

}