<div class="page_content">
  <p class="fs-30 fw-500 pt-10 text-center">Booking Information</p>
  <div class="signup mx-auto wid-lg-70">

    <form [formGroup]="guestForm">
      <div class="row g-4">
        <div class="col-lg-6 col-sm-12 mb-40">
          <label for="firstName" class="fs-14 mb-6">Full Name</label>
          <input id="firstName" type="text" formControlName="firstName" class="form-control sign-up-form" />
        </div>
        <div class="col-lg-6 col-sm-12 mb-40">
          <label for="lastName" class="fs-14 mb-6">Email</label>
          <input id="email" type="text" formControlName="email" class="form-control sign-up-form" />
        </div>
        <div class="col-lg-6 col-sm-12 mb-40">
          <label for="fullName" class="fs-14 mb-6">Relatie</label>
          <input id="relatie" type="text" formControlName="relatie" class="form-control sign-up-form" />
        </div>
        <div class="col-lg-6 col-sm-12 mb-40">
          <label for="phone" class="fs-14 mb-6">Phone</label>
          <input id="phone" type="text" formControlName="phone" class="form-control sign-up-form" />
        </div>

        <div class="col-lg-12 col-sm-12 mb-40">
          <label for="comments" class="form-label fs-14 mb-2">Comments</label>
          <textarea class="fs-12" id="comments" class="form-control" rows="4"
            placeholder="Write your comments here..."></textarea>
        </div>
        <div class="fs-14 d-flex align-items-center terms-condition pl-13 h-22 mt-2">
          <app-custom-mat-checkbox [disableRipple]="true"></app-custom-mat-checkbox>
          <span class="d-flex" >Terms & Conditions<span class="checkbox-imp">*</span></span>
        </div>
        <div class="fs-14 d-flex align-items-center pl-13 mb-40" role="button">
          <app-custom-mat-checkbox [disableRipple]="true"> </app-custom-mat-checkbox>
          <span class="d-flex">Subscribe to Email Notification</span>
        </div>

      </div>
    </form>
  </div>
</div>