@import "../styles/variable.scss";
.planner {
    .calender {
        min-width: gutter-vw(20);
        max-width: gutter-vw(20);
    }

    .view {
        min-width: gutter-vw(79);
        max-width: gutter-vw(79);
    }
}