@import "../../styles/variable.scss";

.forgot {
    &__form {
        margin: $value-null auto;
        height: gutter-vh(80);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
.input-lg{
    height: gutter-sp(44);
    border: gutter-sp(1) solid $border-silver;
}
