<div class="container">
    <div class="forgot row">
        <form action="" class="forgot__form col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-45" [formGroup]="forgotMailForm">
            <h2 class="text-center mb-40">Forgot Password</h2>
            <div class="d-flex flex-column">
                <label class="fs-14 fs-xl-18 fs-xxl-20 mb-6">Email</label>
                <input #usernameInput type="email" placeholder="Enter your email" class="input-lg rounded-top form-control fs-16 fs-xl-18 fs-xxl-20" id="forgotEmail" name="forgotEmail" formControlName="email" aria-label="Enter your email to send otp">
            </div>
            <app-button
            [btnClass]="'forgot-btn fs-16 fs-xl-20 fs-xxl-22'"
            [btnName]="'submit'"
            (bannerActionEvent)="onSubmit()"
            aria-label="Submit your email">
            </app-button>
        </form>
    </div>
</div>