@import "../../styles/variable.scss";

.forgot {
    &__btn {
        background: $secondary-color;
        padding: gutter-sp(10);
        border: none;
        color: $white;
        margin-top: gutter-vw(2);
        border-radius: gutter-sp(10);
        width: gutter-per(100);
        &:hover {
            background-color: $primary-hover; 
            box-shadow: $value-null gutter-sp(4) gutter-sp(8) $shadow-black; 
          }
    }

    &__form {
        margin: $value-null auto;
        height: gutter-vh(80);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}