<div class="container">
    <div class="forgot row">
        <form action="" class="forgot__form col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-45" [formGroup]="forgotMailForm">
            <h2 class="text-center">Forgot Password</h2>
            <div class="d-flex flex-column">
                <label class="mb-1">email</label>
                <input type="email" placeholder="Enter your email" class="input-lg rounded-top form-control" id="forgotEmail" name="forgotEmail" formControlName="email">
            </div>
            <button type="submit" class="forgot__btn" (click)="onSubmit()">submit</button>
        </form>
    </div>
</div>