@import "../../styles/variable.scss";

.forgot {
    &__btn {
        background: linear-gradient(90.69deg, #8F1CB8 -0.15%, #C82992 100.99%);
        padding: 10px;
        border: none;
        color: $white;
        margin-top: 2vw;
        border-radius: 10px;
        width: 100%;
    }

    &__form {
        margin: 0 auto;
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}