<div class="one-control">
    <div class="row g-4">
        <div class="col-12 col-lg-5 one-control__image">
            <img src="../../../assets/images/Business/one-control.svg" alt="one control">
        </div>
        <div class="col-12 col-lg-6 offset-lg-1 one-control__content">
            <p class="fs-24 fs-lg-44 fs-xl-48 fs-xxl-52  lh-34 lh-md-60 lh-xl-70 fw-medium mb-0">One control panel for</p>
            <p class="fs-24 fs-lg-44 fs-xl-48 fs-xxl-52 lh-34 lh-md-60 lh-xl-70 fw-medium pb-20 mb-0">your entire program</p>
            <ul class="gap-3 d-flex flex-column list">
                <li class="lh-30 fs-14 fs-xl-16 fs-xxl-18"><span class="fw-bold">Compliance:</span> embed sophisticated Travel & Events policies into your users’ workflows</li>
                <li class="lh-30 fs-14 fs-xl-16 fs-xxl-18"><span class="fw-bold">Efficiency:</span> automate approval flows, avoid bottlenecks and last-minute requests</li>
                <li class="lh-30 fs-14 fs-xl-16 fs-xxl-18"><span class="fw-bold">Savings:</span> leverage your preferred transient hotels for meetings, gain negotiating power by combining
                    your travel and events data.</li>
            </ul>
        </div>
    </div>
</div>