<div class="one-control">
    <div class="row g-4">
        <div class="col-12 col-lg-5 one-control__image">
            <img src="../../../assets/images/Business/one-control.svg" alt="one control">
        </div>
        <div class="col-12 col-lg-6 offset-lg-1">
            <p class="fs-36 fw-medium mb-0">One control panel for</p>
            <p class="fs-36 fw-medium pb-20 mb-0">your entire program</p>
            <ul class="gap-3 d-flex flex-column">
                <li class="lh-36 fs-14"><span class="fw-medium">Compliance:</span> embed sophisticated Travel & Events policies into your users’ workflows</li>
                <li class="lh-36 fs-14"><span class="fw-medium">Efficiency:</span> automate approval flows, avoid bottlenecks and last-minute requests</li>
                <li class="lh-36 fs-14"><span class="fw-medium">Savings:</span> leverage your preferred transient hotels for meetings, gain negotiating power by combining
                    your travel and events data.</li>
            </ul>
        </div>
    </div>
</div>