<div class="planner-view">
    <div class="header d-flex justify-content-between">
        <p class="title fs-24 fw-bold">Occupancy Overview</p>
        <div class="d-flex gap-4">
            <select id="status" class="form-select status">
                <option value="1">Status</option>
            </select>
            <button class="add_btn">
                <span><img src="../../../../assets/images/Planner/icons/plus.svg" alt="plus" width="20"></span>
                <span class="ml-10">Add Reservation</span></button>
        </div>
    </div>
    <div class="cal-header">
        <div class="d-flex justify-content-between">
            <p class="d-flex m-0">
                <mat-icon class="cursor clr">arrow_back_ios</mat-icon>
                <span class="ml-5 mr-5">Week</span>
                <mat-icon class="cursor clr">arrow_forward_ios</mat-icon>
            </p>
            <div class="d-flex gap-4">
                <p class="m-0">Day</p>
                <p class="m-0">Week</p>
                <p class="m-0">Month</p>
            </div>
        </div>
    </div>
</div>