<div class="planner-view">
    <div class="header d-flex justify-content-between">
        <p class="title fs-24 fw-bold">Occupancy Overview</p>
        <div class="d-flex gap-4">
            <select id="status" class="form-select status">
                <option value="1">Status</option>
            </select>
            <button class="add_btn">
                <span><img src="../../../../assets/images/Planner/icons/plus.svg" alt="plus" width="20"></span>
                <span class="ml-10">Add Reservation</span></button>
        </div>
    </div>
    <div class="calendar_view_section">
        <full-calendar [events]="calendarDailyEvents" [options]="calendarOptionsDay"></full-calendar>
    </div>
</div>