@import "../styles/variable.scss";
@import "../custom-css/custom-material-colors.scss";

.booking {

    &__model {
        height: 70vh;
        overflow-y: auto;
        scrollbar-width: 5vw;
    }

    &__process {
        padding: 2vw;
        width: 58vw;

        .progress {
            height: 8px;

            .progress-bar {
                background-color: var(--primary-color);
            }
        }
    }

    &__btn {
        padding: 1vw;
        position: relative;

        @media screen and (max-width: 576px) {
            gap: 10px;
        }
    }

    .btn_cancel {
        background: $cancel-color-pink;
        border-radius: 40px;
        width: 150px;
        height: 40px;

        @media screen and (max-width: 576px) {
            width: 100%;
            margin-bottom: 10px;
        }
    }

    .btn_back {
        color: $secondory-color;
        border: 1px solid $secondory-color;
        border-radius: 40px;
        width: 150px;
        height: 40px;

    }

    .btn_next {
        color: $white;
        background: $secondory-color;
        border-radius: 40px;
        width: 150px;
        height: 40px;
        // @media screen and (max-width: 576px) {
        //     width: 100%;
        // }
    }

    .dialog-btns {
        position: fixed;
        bottom: 0;
        background: white;
        box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }
}