@import "../styles/variable.scss";

.booking {

    &__model {
        height: auto;
        overflow-y: scroll;
        max-height: gutter-vh(100);
        scrollbar-width: none;
    }

    &__process {
        padding: gutter-vw(2);
        width: gutter-vw(58);

        .progress {
            height: gutter-sp(8);

            .progress-bar {
                background-color: $primary-color;
            }
        }
    }

    .btn_cancel {
        color: $cancelcolor;
        border: gutter-sp(1) solid $cancelcolor;
        font-size: gutter-sp(19);
        height: gutter-sp(40);
        font-weight: 500;
    }

    .btn_cancel:hover {
        background-color: $cancelhover;
        color: $cancelcolor;
        border-color: $cancelcolor;
    }

    .btn_back {
        color: $secondary-color;
        border: gutter-sp(1) solid $secondary-color;
        font-size: gutter-sp(19);
        height: gutter-sp(40);
        font-weight: 500;
    }

    .btn_back:hover {
        background-color: $secondary-backgroundhvr;
        color: $primary-hover;
        border-color: $primary-hover;
    }

    .btn_next:hover {
        background-color: $primary-hover;
        box-shadow: gutter-sp(0) gutter-sp(4) gutter-sp(8) $nexthovershadow;
    }

    .btn_next {
        color: $white;
        background: $secondary-color;
        font-size: gutter-sp(19);
        height: gutter-sp(40);
        font-weight: 500;
    }

    .dialog-btns {
        position: fixed;
        bottom: gutter-sp(0);
        background: white;
        box-shadow: gutter-sp(0) gutter-sp(3) gutter-sp(18) $shadow-black;
        z-index: 1;
    }
}