@import "../../../custom-css/custom-material-colors.scss";
.event-item {
    &__overview {

        &__img {
            height: 60vh;
        }
        &__qtySection{
            .remove, .add {
                background-color: $primary-color;
                color: $white;
                border-radius: 5px;

            }
            .queantity {
                margin-left: 10px;
                margin-right: 10px;
            }
        }
        &__bookbtn {
            border-radius: 10px;
            color : $white;
            background: linear-gradient(90.69deg, #8F1CB8 -0.15%, #C82992 100.99%);
            border: none;
            padding: 10px;
        }
        &__price {
            .color {
                color: $primary-color;
                font-size: 2vw;
                font-weight: bold;
            }
        }
    }

}

.sticky{
    position: fixed;
    top: 0;
    right: 3vw;
    overflow: hidden;
    z-index: 10;
  }