<div class="container overview">

    <!-- Backbutton & title Section Start -->
    <div class="d-flex align-items-center gap-3">
        <span class="overview__back"><mat-icon fontIcon="chevron_left"></mat-icon></span>
        <span class="fs-20 fs-lg-30">{{ItemDetails?.name}}</span>
    </div>

    <div class="mt-10 mt-lg-15 mb-10 mb-lg-15">
        <span>{{ItemDetails?.desc}} | </span>
        <span>{{ItemDetails?.diamensions}} | </span>
        <span>{{ItemDetails?.status}} </span>
    </div>
    <!-- Backbutton & title Section End -->

    <!-- Image Section Start -->
    <div class="d-flex flex-lg-row flex-column overview__imageSection position-relative gap-27 w-100">
        <div class="">
            <img src="{{ItemDetails?.image}}" alt="Overview Image" width="100%">
        </div>
        <div class="d-flex gap-27 flex-sm-column flex-row">
            <div><img src="{{ItemDetails?.image1}}" alt="Drink Area" width="100%"></div>
            <div><img src="{{ItemDetails?.image2}}" alt="Hall" width="100%"></div>
            <div class="d-flex position-absolute align-items-center overview__imageSection__viewAll">
                <mat-icon fontIcon="image" class="fs-12 fs-lg-16"></mat-icon>
                <span class="fs-12 fs-lg-16">View all photos</span>
            </div>
        </div>
    </div>
    <!-- Image Section End -->

    <div class="d-flex flex-md-row flex-column overview__content gap-27">
        <div class="overview__content__descSection">
            <p class="title fs-14 fs-lg-26">{{ItemDetails?.deposite}}</p>
            <p class="text">{{ItemDetails?.depositeDesc}}</p>
            <app-amenities></app-amenities>
        </div>

        <div class="overview__content__edit w-100">
            <div class="overview__content__edit__section">
                <div>
                    <mat-form-field class="w-100">
                        <mat-label>Guest</mat-label>
                        <span matPrefix class="cursor"><mat-icon fontIcon="perm_identity"></mat-icon></span>
                        <input type="text" matInput>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="w-100">
                        <mat-label>Enter a date range</mat-label>
                        <mat-date-range-input [rangePicker]="range">
                            <input matStartDate placeholder="Start date">
                            <input matEndDate placeholder="End date">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matIconSuffix [for]="range"></mat-datepicker-toggle>
                        <mat-date-range-picker #range></mat-date-range-picker>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="w-100">
                        <mat-label>Duration</mat-label>
                        <input matInput [ngxMatTimepicker]="eTime" />
                        <ngx-mat-timepicker #eTime></ngx-mat-timepicker>
                    </mat-form-field>
                </div>
                <div>
                    <div class="w-100 overview__content__edit__section__editArticle text-center fw-bold">Edit Articles
                    </div>
                </div>
                <div class="fv-3">€ 4200.00</div>
                <p>Excluding taxes and fees</p>
                <div class="overview__content__edit__section__reverse text-center"> Reserve</div>
            </div>
        </div>
    </div>

    <div class="mt-40">
        <app-things-to-know></app-things-to-know>
    </div>

    <div class="mt-20 mb-20">
        <h3 class="fv-2 mb-20">Where you’ll be</h3>
        <app-google-map></app-google-map>
    </div>

    <div class="mt-20 mb-20">
        <h2 class="mb-20 fv-2">Meet your host</h2>
        <app-host-details [hostInfo]="hostDetails"></app-host-details>
    </div>
</div>