@import "../../styles/variable.scss";
@import "../../custom-css/custom-material-colors.scss";

.overview {

    &__title {
        padding: gutter-vw(5) gutter-vw(5) gutter-vw(0);

        &__back {
            border-radius: gutter-vw(50);
            display: flex;
            align-items: center;
            justify-content: center;
            width: max-content;
            background: $back-btn-color-overview;
        }

    }



    // Image section
    &__imageSection {
        padding: gutter-vw(2) gutter-vw(5) gutter-vw(0);

        img {
            height: gutter-per(100);
            object-fit: cover;
            border-radius: gutter-sp(10);
        }

        .subImages {
            height: gutter-per(100);
        }

        &__viewAll {
            background: $white;
            border-radius: gutter-sp(5);
            width: max-content;
            right: gutter-vw(9);
            bottom: gutter-sp(10);
            padding: gutter-sp(5) gutter-sp(20);

            mat-icon {
                width: auto;
                height: auto;
            }
        }
    }

    // Content Section
    &__content {
        padding: gutter-vw(2) gutter-vw(5) gutter-vw(0);

        &__descSection {
            .title {
                line-height: gutter-sp(40);
            }

            .text {
                text-align: justify;
            }
        }

        &__edit {
            &__section {
                padding: gutter-sp(23);
                background-color: $guest-background-clr;
                border-radius: gutter-sp(10);

                &__editArticle {
                    position: relative;
                    padding: gutter-sp(10);
                    color: $secondory-color;
                    border-radius: gutter-sp(10);
                    width: gutter-per(100);
                    border: gutter-sp(1) solid $secondary-color;
                }

                &__reverse {
                    background: linear-gradient(90.69deg, $rev-gradient-clr1 0.85%, $rev-gradient-clr2 100.99%);
                    border-radius: gutter-sp(5);
                    padding: gutter-sp(5);
                    color: $white;
                }

                .dateSection {
                    background: $white;
                    border-radius: gutter-rem(0.375);

                    .spacebar {
                        color: $black;
                        background: $black;
                    }

                    .line {
                        height: gutter-sp(1);
                        background-color: $black;
                        width: gutter-sp(15);
                        margin: gutter-sp(0);
                    }
                }


                .basic-icon {
                    background-color: $white;
                    border: gutter-sp(1) solid $white;
                    padding: gutter-rem(0.375) gutter-rem(0.25);
                }

                .border-clr-none {
                    padding: gutter-rem(1.5) gutter-rem(0.25) gutter-rem(0.25);
                    border: gutter-sp(1) solid $white;
                    font-size: gutter-sp(16);
                }

                .border-clr {
                    border: gutter-sp(1) solid $input-border;
                    border-radius: gutter-sp(5);
                    background: $white;
                    padding: gutter-sp(0) gutter-sp(10);
                }

                .border-clr-none:focus,
                .border-clr-none:focus-visible,
                .border-clr-none:focus,
                .border-clr-none:focus-visible {
                    background-color: $white;
                    outline: gutter-sp(0);
                    box-shadow: none;
                }

                label {
                    padding: gutter-rem(1) gutter-rem(0.25);
                    color: $secondary-color;
                    font-size: gutter-sp(14);
                }

                label::after {
                    background-color: transparent;
                }

                .timeImage {
                    width: gutter-per(60);
                }

                .userImage {
                    width: gutter-per(60);
                }
            }
        }
    }

    // Rationg Section
    .rating {
        padding: gutter-vw(6) gutter-vw(14) gutter-vw(0);

        &__desc {
            line-height: gutter-sp(25);
            margin: gutter-sp(0) auto;
            max-width: gutter-sp(270);
            opacity: gutter-per(70);
        }

        &__sections {
            padding-top: gutter-vw(3);

            &__item {
                border-left: gutter-sp(1) solid $input-border;
                padding: gutter-sp(0) gutter-sp(20);
                position: relative;

                .progress {
                    width: gutter-per(100);
                    height: gutter-sp(3);

                    .progress-bar {
                        background-color: $black;
                    }
                }

                .icons {
                    width: gutter-sp(30);
                    position: absolute;
                    bottom: gutter-sp(10);
                }
            }

            &__item:first-child {
                border-left: none;
            }
        }
    }
}

.thingstoKnow,
.map,
.host {
    padding: gutter-vw(6) gutter-vw(5) gutter-vw(0);
}

.host {
    padding-bottom: gutter-vw(5);
}