<div class="overview">

    <!-- Backbutton & title Section Start -->
    <div class="overview__title">
        <div class="d-flex align-items-center gap-3">
            <span class="overview__title__back"><mat-icon fontIcon="chevron_left"></mat-icon></span>
            <span class="fs-20 fs-lg-30">{{ItemDetails?.name}}</span>
        </div>

        <div class="mt-10 mt-lg-15 mb-10 mb-lg-15">
            <span>{{ItemDetails?.desc}} | </span>
            <span>{{ItemDetails?.diamensions}} | </span>
            <span>{{ItemDetails?.status}} </span>
        </div>
    </div>
    <!-- Backbutton & title Section End -->

    <!-- Image Section Start -->
    <div class="row overview__imageSection position-relative w-100 gap-4 gap-sm-4 gap-lg-0">
        <div class="col-12 col-lg-8">
            <img src="{{ItemDetails?.image}}" alt="Overview Image" width="100%">
        </div>
        <div class="col-12 col-lg-4">
            <div class="row subImages gap-lg-4">
                <div class="col-6 col-lg-12"><img src="{{ItemDetails?.image1}}" alt="Drink Area" width="100%"></div>
                <div class="col-6 col-lg-12"><img src="{{ItemDetails?.image2}}" alt="Hall" width="100%"></div>
                <div class="d-flex position-absolute align-items-center overview__imageSection__viewAll">
                    <mat-icon fontIcon="image" class="fs-12 fs-lg-16"></mat-icon>
                    <span class="fs-12 fs-lg-16">View all photos</span>
                </div>
            </div>
        </div>
    </div>
    <!-- Image Section End -->

    <!-- Description Section Start -->
    <div class="row overview__content w-100 gap-4 gap-sm-4 gap-lg-0">
        <div class="col-12 col-lg-8 overview__content__descSection">
            <p class="title fs-14 fs-lg-26 fw-medium">{{ItemDetails?.deposite}}</p>
            <p class="text m-0">{{ItemDetails?.depositeDesc}}</p>
            <span class="overview__content__amenities"><app-amenities></app-amenities></span>
        </div>
        <div class="col-12 col-lg-4 overview__content__edit">
            <div class="overview__content__edit__section">
                <div class="input-group mb-3 border-clr">
                    <span class="input-group-text basic-icon"><img src="../../../assets/images/icons/profile.png"
                            alt="user" width="25"></span>
                    <div class="form-floating">
                        <input type="email" class="form-control border-clr-none" id="guestCount" placeholder="Guests"
                            value="40 Adults, 12 Children">
                        <label for="guestCount">Guests</label>
                    </div>
                </div>
                <div class="dateSection">
                    <div class="d-flex mb-3 align-items-center border-clr">
                        <div class="input-group" id="datepicker">
                            <span class="input-group-text basic-icon"><img
                                    src="../../../assets/images/icons/calendar.png" alt="calender" width="25"></span>
                            <div class="form-floating">
                                <input type="text" class="form-control border-clr-none" id="datepicker"
                                    placeholder="Guests" value="Tue, Apr 1, 2025">
                                <label for="guestCount">Check-in</label>
                            </div>
                        </div>
                        <span class="spacebar">
                            <p class="line"></p>
                        </span>
                        <div class="input-group" id="datepicker">
                            <span class="input-group-text basic-icon"><img
                                    src="../../../assets/images/icons/calendar.png" alt="calender" width="25"></span>
                            <div class="form-floating">
                                <input type="text" class="form-control border-clr-none" id="datepicker"
                                    placeholder="Guests" value="Tue, Apr 1, 2025">
                                <label for="guestCount">Check-out</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="input-group mb-3 border-clr">
                        <span class="input-group-text basic-icon"><img src="../../../assets/images/icons/clock.png"
                                alt="user" width="25"></span>
                        <div class="form-floating">
                            <select class="form-select border-clr-none" id="duration"
                                aria-label="Default select example">
                                <ng-container *ngFor="let item of slots">
                                    <option [value]="item.id">{{item.shift}}</option>
                                </ng-container>
                            </select>
                            <label for="duration">Duration</label>
                        </div>
                    </div>
                </div>
                <div class="d-flex gap-3 w-100">
                    <div class="fs-14 fs-lg-18 overview__content__edit__section__editArticle text-center">Add Articles
                    </div>
                    <div class="fs-14 fs-lg-18 overview__content__edit__section__editArticle text-center">Choose Menu
                    </div>
                </div>
                <div class="fs-20 fs-lg-30 pt-20 fw-bold">€ 4200.00</div>
                <p class="fs-12">Excluding taxes and fees</p>
                <div class="fs-14 fs-lg-20 mt-20 overview__content__edit__section__reverse text-center"> Reserve</div>
            </div>
        </div>
    </div>
    <!-- Description Setion End -->

    <div class="rating">
        <div class="d-flex align-items-center justify-content-center">
            <img src="../../../assets/images/rating/leaf.svg" alt="left-leaf">
            <p class="fs-20 fs-lg-50">5.0</p>
            <img src="../../../assets/images/rating/leaf-right.svg">
        </div>
        <h4 class="text-center fs-16 fs-lg-30 rating__title">Guest favourite</h4>
        <p class="text-center rating__desc">One of the most loved homes on rating, reviews and
            reliability</p>
        <div class="rating__sections d-flex justify-content-between d-none d-lg-flex">
            <ng-container *ngFor="let rat of ratingSection">
                <div class="d-flex flex-column rating__sections__item gap-10">
                    <div class="fw-bold">{{rat.name}}</div>
                    <div *ngIf="rat.id === 1">
                        <div *ngFor="let value of ratingValues" class="d-flex align-items-center gap-10">
                            <p class="m-0">{{ value }}</p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                                    aria-valuemax="100" [style.width.%]="value === 5 ? 100 : 0"></div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="rat.id !== 1" class="fw-bold fs-16 fs-lg-30">{{rat.rating}}</div>
                    <img *ngIf="rat.id !== 1" class="mat-4 icons" [src]="rat.image" [alt]="rat.name">
                </div>
            </ng-container>
        </div>
    </div>

    <div class="thingstoKnow">
        <h3 class="fs-20 fs-lg-30 fw-medium">Things to know</h3>
        <app-things-to-know></app-things-to-know>
    </div>

    <div class="map">
        <h3 class="fs-20 fs-lg-30 fw-medium">Where you’ll be</h3>
        <app-google-map></app-google-map>
    </div>

    <div class="host">
        <h2 class="fs-20 fs-lg-30 fw-medium">Meet your host</h2>
        <app-host-details [hostInfo]="hostDetails" [isEventScreen]="false"></app-host-details>
    </div>
</div>