@import "../../styles/variable.scss";
@import "../../custom-css/custom-material-colors.scss";

.overview {
    
    // Back button
    &__back {
        border-radius: gutter-vw(50);
        display: flex;
        align-items: center;
        justify-content: center;
        width: max-content;
        background: $back-btn-color-overview;
    }

    // Image section
    &__imageSection {
        padding: gutter-vw(1) 0;
            img {
                height: gutter-per(100);
                object-fit: cover;
                border-radius: gutter-sp(10);
            }

        &__viewAll {
            background: $white;
            border-radius: gutter-sp(5);
            width: max-content;
            right: gutter-sp(20);
            bottom: gutter-sp(20);
            padding: gutter-sp(5);
            mat-icon {
                width: auto;
                height: auto;
            }
        }
    }

    // Content Section
    &__content{
        &__descSection{
            // max-width: gutter-per(61);
            .title{
                line-height: gutter-sp(40);
            }
            .text {
                text-align: justify;
                line-height: gutter-sp(30);
            }
        }
        &__edit {
            &__section {
                padding: gutter-vw(2);
                background-color: $gray;
                border-radius: 5px;
                &__editArticle {
                    padding: 0.5vw;
                    font-size: 2vw;
                    color: $secondory-color;
                    border-radius: 5px;
                    border: 1px solid $secondory-color;
                }
                &__reverse {
                    background: linear-gradient(90.69deg, #8F1CB8 -0.15%, #C82992 100.99%);
                    font-size: 2vw;
                    border-radius: 5px;
                    padding: 0.5vw;
                    color: $white;
                }
            }
        }
    }


}