@import "../../styles/variable.scss";

.overview {

    &__title {
        padding: gutter-vw(2) gutter-vw(5) gutter-vw(0);

        &__back {
            border-radius: gutter-vw(50);
            display: flex;
            align-items: center;
            justify-content: center;
            width: gutter-sp(40);
            height: gutter-sp(40);
            color: $black;
            background: $back-btn-color-overview;
            border: gutter-sp(1) solid $back-btn-color-overview;
        }

        &__back:hover { 
            border-color: $secondary-color;
            background: $secondary-color;
            color: $white;
        }

    }



    // Image section
    &__imageSection {
        padding: gutter-vw(0) gutter-vw(5) gutter-vw(0);

        img {
            height: gutter-per(100);
            object-fit: cover;
            border-radius: gutter-sp(10);
        }

        .subImages {
            height: gutter-per(100);
        }

        &__viewAll {
            background: $white;
            border-radius: gutter-sp(5);
            width: max-content;
            right: gutter-vw(9);
            bottom: gutter-sp(10);
            padding: gutter-sp(5) gutter-sp(20);

            mat-icon {
                width: auto;
                height: auto;
            }
        }
    }

    // Content Section
    &__content {
        padding: gutter-vw(2) gutter-vw(5) gutter-vw(0);

        &__descSection {
            .title {
                line-height: gutter-sp(40);
            }

            .text {
                text-align: justify;
            }
        }

        &__edit {
            &__section {
                padding: gutter-sp(23);
                background-color: $guest-background-clr;
                border-radius: gutter-sp(10);

                .basic-icon {
                    background-color: $white;
                    border: gutter-sp(1) solid $white;
                    padding: gutter-rem(0.375) gutter-rem(0.25);

                    img {
                        width: gutter-sp(25);
                        height: gutter-sp(25);
                    }
                }

                .border-clr-none {
                    padding: gutter-rem(1.2) gutter-rem(0.25) gutter-rem(0.25);
                    border: gutter-sp(1) solid $white;
                    font-size: gutter-sp(13);
                }

                .border-clr {
                    border: gutter-sp(1) solid $input-border;
                    border-radius: gutter-sp(5);
                    background: $white;
                    padding: gutter-sp(0) gutter-sp(10);
                }
                .border-clr:focus-within {
                    border-color: $secondary-color;
                    box-shadow: 0 0 gutter-sp(5) rgba(0, 0, 0, 0.2);
                }

                .border-clr-none:focus,
                .border-clr-none:focus-visible,
                .border-clr-none:focus,
                .border-clr-none:focus-visible {
                    background-color: $white;
                    outline: gutter-sp(0);
                    box-shadow: none;
                }

                label {
                    padding: gutter-rem(1) gutter-rem(0.25);
                    color: $secondary-color;
                    font-size: gutter-sp(14);
                }

                label::after {
                    background-color: transparent;
                }

                .timeImage {
                    width: gutter-per(60);
                }

                .userImage {
                    width: gutter-per(60);
                }

                .editArticle {
                    flex: 1;
                }
            }
        }
    }

    // Rationg Section
    .rating {
        padding: gutter-vw(6) gutter-vw(14) gutter-vw(0);

        .rating-price {
            font-weight: 600;
        }

        &__desc {
            margin: gutter-sp(0) auto;
            opacity: gutter-per(70);
        }

        &__sections {
            padding-top: gutter-vw(3);

            &__item {
                border-left: gutter-sp(1) solid $input-border;
                padding: gutter-sp(0) gutter-sp(20);
                position: relative;

                .progress {
                    width: gutter-per(100);
                    height: gutter-sp(3);

                    .progress-bar {
                        background-color: $black;
                    }
                }

                .icons {
                    width: gutter-sp(30);
                    position: absolute;
                    bottom: gutter-sp(10);
                }
            }

            &__item:first-child {
                border-left: none;
            }
        }
    }
}

.thingstoKnow,
.map,
.host {
    padding: gutter-vw(6) gutter-vw(5) gutter-vw(0);
}

.host {
    padding-bottom: gutter-vw(5);
}