@import "../../../../app/styles/variable.scss";

.card{
    border-radius: gutter-sp(15);
    .card-title{
        color: $font-dull;
    }
    .priceSection{
        border: gutter-sp(1) solid $priceBackGrnd;
        background-color: $priceBackGrnd;
        border-radius: gutter-sp(8);
    }
    .booknowBtn{
        border: none;
    }
    .card-text{
        font-weight: 500;
        font-size: gutter-sp(13);
        color: $font-dull;
    }
    .booknowBtn{
        color: $booknow-pink;
        font-weight: 700;
        background-color: $priceBackGrnd;
    }
    .booknowBtn:hover{
        color: $hoversecondary-clr;
 
    }
    .pipe{
        color: $priceColor;
    }
    .period{
        color: $font-lite;
    }
    .cardImg{
        width: gutter-sp(18);
        height: gutter-sp(18);
    }
}