@import "../../../../app/styles/variable.scss";

.card{
    border-radius: gutter-sp(15);
    .card-title{
        color: $font-dull;
    }
    .priceSection{
        border: gutter-sp(1) solid $priceBackGrnd;
        background-color: $priceBackGrnd;
        border-radius: gutter-sp(8);
    }
    
    .card-text{
        font-weight: 500;
        color: $font-dull;
    }
    .pipe{
        color: $priceColor;
    }
    .period{
        color: $font-lite;
    }
    .cardImg{
        width: clamp(gutter-sp(18), gutter-vw(2), gutter-sp(24));
        height: clamp(gutter-sp(18), gutter-vw(2), gutter-sp(24));
    }
}