@import "../../../styles/variable.scss";

.time-part {
    padding: gutter-sp(20);

    &__section {
        border: gutter-sp(1) solid $event-input-border-clr;
        border-radius: gutter-sp(6);
        padding: gutter-sp(20);
    }

    .content {
        overflow-y: scroll;
        scrollbar-width: none;

        .section {
            padding: gutter-sp(10);
        }

        .active {
            background: $time-part-bg-clr;
            border-radius: gutter-sp(10);
        }

        .line {
            padding: gutter-sp(2);
            background: $time-part-line-clr;
            border-radius: gutter-sp(10);
            height: gutter-sp(50);
        }

        .name {
            opacity: gutter-per(90);
        }

        .text {
            opacity: gutter-per(70);
        }

        .edit {
            background: $white;
            border-radius: gutter-per(50);
            width: gutter-sp(50);
            height: gutter-sp(50);
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .drag-item {
            cursor: move;
        }

        .cdk-drag-animating {
            transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
        }

        .custom-placeholder {
            background: $white;
            min-height: gutter-sp(60);
        }
    }

    .footer_btn {
        background: $secondary-color;
        width: gutter-sp(120);
        border: none;
        color: $white;
        padding: gutter-sp(10);
        border-radius: gutter-sp(50);
    }

    .footer_btn_skip {
        border: gutter-sp(1) solid $secondary-color;
        width: gutter-sp(120);
        color: $secondary-color;
        background: $white;
        padding: gutter-sp(10);
        border-radius: gutter-sp(50);
    }
}